@mixin darkTheme() {
	.dark-theme & {
		@content;
	}
}

@mixin lightTheme() {
	.light-theme & {
		@content;
	}
}

//dark theme colors
$dark-bg-color-page: #000000;

//--------------------LIGHT THEME COLORS----------------------
//light theme colors
$light-bg-color-page: #ffffff;
$light-container-color-page: #e6e6fa;
$light-shadow-color-page: rgba(0, 0, 0, 0.13);

$body-bg-color: #f1f2f3;
$grid-text-color: #121212;
$search-bar-bg: rgba(27, 27, 27, 0.08);
$search-icon-color: #e34d28;
$clear-icon-color: #666666;
$search-font-color: #373737;
$search-list-bg: #ffffff;
$search-list-box-shadow: rgba(0, 0, 0, 0.15);
//Gray color
$light-tab-border-color: #e8e8e8;
$background-color-email: #f4f4f4;
$background-color-header: rgba(0, 0, 0, 0.12);
$signUp-email-color: rgba(18, 18, 18, 0.87);

//Orange color
$light-secondary-color: #e34d28;
//on hover of primary button (save..orange-color button)
$hover-secondary-color: #ca2f09;
$btn-primary-hover-color: #ec4b23;
$btn-primary-focus-color: #cb2e08;
$btn-secondary-hover-color: #ffefeb;
$btn-standard-focus-color: #dadada;
$hover-cancel-btn-color: #d0d0d0;
$light-bg-color-side-nav: #181818;
$light-head-text-color-side-nav: #e34d28;
$light-active-bg-color-side-nav: #282828;
$save-btn-border-color: #e34d28;
$save-btn-background-color: #e34d28;
$save-btn-color: #ffffff;
$form-label-required-color: #a80030;
$form-control-border-color: #ced4da;
$form-control-font-color: #383838;
$cancel-btn-active-color: #ffffff;
$cancel-btn-color: #212121;
$cancel-btn-background-color: #eaeaea;
$right-slider-border-color: #d8d8d8;
$close-icon-color: rgba(18, 18, 18, 0.6);
$metadata-btn-border-color: #e34d28;
$metadata-btn-text-color: #e34d28;
$metadata-btn-background-color: #ffffff;
$metadata-table-bottom-color: #d8d8d8;
$right-slider-footer-background-color: #ffffff;
$error-font-color: #c54343;
$error-border-color: #c54343;
$light-text-color-bread-crumb: rgba(0, 0, 0, 0.87);
$border-underline-color: #d6d6d6;
$check-text-color: #333333;
$footer-border-color: #e6e6e6;
$view-sub-value-text-color: #383838;
$meta-data-value-color: #ffdac8;
$meta-data-key-color: #f8f8f8;
$light-success-msg-color: #252423;
$light-success-msg-background-color: #d9efd8;
$light-success-msg-border-color: #a0d39f;
$light-error-msg-background-color: #fde7e9;
$light-error-msg-border-color: #dda5a5;
$light-form-divider-color: rgba(0, 0, 0, 0.1);
$light-error-msg-shadow-color: rgba(199, 199, 199, 0.5);
$error-text-color: #d92626;
$platform-bg-color: rgba(233, 233, 233, 0.2);
$version-background-color: #f5f5f5;
$multi-select-background: #cecece;
$module-data-color: #d2d2d2;
$active-signUp-label-color: #383838;
$terms-and-conditions: #e34d28;
$avatar-color: #f3f2f1;
$grid-focus-background-color: #edebe9;
$title-text-color: #323130;
$db-table-td-border: #f1c2a3;
$db-table-th-bg: #ffecde;
$db-selected-border: #fba76f;
$db-table-td-odd: #fffaf5;
$db-add-column-btn: #ffcead;
$db-add-column-icon: #e45734;
$database-accordion-background-color: #faf9f8;
$database-accordion-menu-color: #ececec;
$database-checkbox-color: #b3b3b3;
$database-image-color: #6c6b6b;
$database-list-selected: #f2f1f0;
$database-accordion-menu-selected-color: #dedede;
$foreign-key-content-text-color: #323130;
$schema-icon-color: rgba(0, 0, 0, 0.6);
$none-key-color: #000000;
$primary-key-color: #4fa633;
$foreign-key-color: #e89300;
$unique-key-color: #8b55cd;
$app-bar-right-border-color: #a19f9d;
$app-type-chip-color: #fff3e7;
$card-footer-color: #fbfbfb;
$card-shadow-color: #e9e9e9;
$scroll-bar-track-color: #ffffff;
$scroll-bar-track-shadow: rgba(0, 0, 0, 0.3);
$scroll-bar-thumb-color: rgba(0, 0, 0, 0.3);
$light-form-color: white;
$app-success-background-color: #ffe7e1;
$app-border-color: #f3f2f1;
$card-content-color: #202020;
$accelerator-check-box-color: #8a8a8a;
$media-card-background-color: #fbfbfb;
$app-title-color: #202020;
$database-icon-bg-color: #eeeeee;
$global-loader-holder-color: rgba(0, 0, 0, 0.5);
$global-loader-color: #e34d28;
$grid-hover-background-color: rgba(0, 0, 0, 0.04);
$accelerator-left-menu-background-color: #f8f9fa;
$accelerator-table-view-border: #f4f4f4;
$divider-color: #ebebeb;
$header-app-name-color: #ffffff;
$header-app-name-divider: #e34d28;
$accelerator-instance-database-background: #f5f5f5;
$sub-tabs-bg-color: #f3f3f3;
$web-service-bg-color: #fff8f5;
$web-tabs-active-color: #f9f9f9;
$web-form-section-border: #bdbdbd;
$web-service-view-tab-active-color: #e4e4e4;
$web-service-view-tab-color: #e9e8e8;
$web-service-status-code: #008801;
$web-service-error-msg-bg: #ffebea;
$help-logo-background-color: #121212;
$accelerator-apps-count: #6e6e6f;
$about-page-border-color: #666666;
$about-page-shadow-color: rgba(117, 117, 117, 0.5);
$instructions-text-color: #f1f1f1;
$instructions-box-shadow-color-1: rgba(0, 0, 0, 0.22);
$instructions-box-shadow-color-2: rgba(0, 0, 0, 0.18);
$instructions-hover-color: #1e1e1e;

$request-lock-button-color: #f44336;
$request-lock-button-hover-color: rgba(244, 67, 54, 0.8);
$request-lock-button-text-color: #ffffff;
$release-lock-button-color: #4fa633;
$release-lock-button-hover-color: rgba(79, 166, 51, 0.8);
$release-lock-button-text-color: #ffffff;
$lock-info-color: #fed9cc;
$lock-info-text-color: #212121;
$lock-refresh-color: #e34d28;
$download-code-border: rgba(151, 151, 151, 0.2);
$download-code-badge-bg: #464646;
$linear-progress-background: #777777;
$linear-progress-bar-color: #0f8f1b;
$circular-loader-background: #ffffff;
$circular-loader-bar-color: #e34d28;
$app-dev-ops-success-icon-color: #008900;
$app-dev-ops-error-icon-color: #b12828;
$app-dev-ops-not-config-icon-color: #ee7b09;
$profile-default-bg-color: #c2dfed;
$apps-divider-color: #cccccc;
%custom-scroll-bar-y {
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px $scroll-bar-track-shadow;
		background-color: $scroll-bar-track-color;
	}

	&::-webkit-scrollbar {
		width: 6px;
		background-color: $scroll-bar-track-color;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $scroll-bar-thumb-color;
	}
}

%custom-scroll-bar-x {
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px $scroll-bar-track-shadow;
		background-color: $scroll-bar-track-color;
	}

	&::-webkit-scrollbar {
		height: 6px;
		background-color: $scroll-bar-track-color;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $scroll-bar-thumb-color;
	}
}
