@import './themes.scss';

.main-container {
	.page {
		padding-right: 0;
		padding-left: 0;
		@include darkTheme {
			background-color: $dark-bg-color-page;
		}
		.content-container {
			padding: 0px;
			height: calc(100vh - 50px);
			overflow-y: auto;
			@extend %custom-scroll-bar-y;
		}
		.no-header {
			height: 100%;
		}
		.core-container {
			.MuiContainer-root {
				height: calc(100% - 72px);
				.core-platform {
					min-height: 100%;
				}
			}
		}
	}
	@include lightTheme {
		background: $body-bg-color;
	}
	@media (min-width: 1280px) {
		.MuiContainer-maxWidthLg {
			max-width: none;
		}
	}
}
.notification-container {
	display: flex;
}
.notification-popup-holder {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	z-index: 10000;
}
