@import '../../../themes';
.login-footer {
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%;
	.footer-text {
		white-space: nowrap;
		padding-top: 40px;
		text-align: center;
		p {
			display: inline;
			font-family: Roboto-Regular;
			font-size: 9px;
		}
		.left-text {
			@include lightTheme {
				color: $dark-bg-color-page;
			}
			opacity: 0.6;
		}
	}
}
