@import '../../../../themes';
.table-properties-panel {
	width: 232px;
	height: 100%;
	overflow-x: hidden;
	display: inline-block;
	background-color: rgba(250, 249, 248, 1);
	border-left: 1px solid rgba(222, 222, 222, 0.3);
	border-top: 1px solid white;
	.table-heading {
		display: flex;
		padding-left: 15px;
		height: 40px;
		.MuiSvgIcon-root {
			display: inline-flex;
			vertical-align: middle;
		}
		.form-heading {
			font-size: 14px;
			font-weight: 500;
			font-family: Roboto-Medium;
			line-height: 40px;
			padding-left: 10px;
			padding-right: 40px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.delete-icon {
			padding-top: 12px;
			padding-right: 10px;
			position: absolute;
			right: 0;
			cursor: pointer;
			fill: $cancel-btn-color;
			font-size: 16px;
		}
		.hide-delete-icon {
			display: none;
		}
		.table-icon {
			font-size: 16px;
			fill: $close-icon-color;
			padding: 12px 0;
		}
	}
	.table-scrollContent {
		height: calc(100% - 54px);
		overflow-y: auto;
		@extend %custom-scroll-bar-y;
		.divider {
			background-color: $divider-color;
		}
		.table-section {
			display: grid;
			background-color: $search-list-bg;
			padding-bottom: 15px;
			padding: 12px;

			.MuiTypography-body1 {
				padding-bottom: 5px;
				font-family: Roboto-Regular;
				font-size: 13px;
				color: $grid-text-color;
				opacity: 0.8;
			}
			.isy_input {
				font-size: 12px;
				display: block;
				padding: 6px;
				border: 1px solid $form-control-border-color;
				box-sizing: border-box;
				border-radius: 4px;
				height: 24px;
			}
		}
		.table-second-section {
			position: relative;
			.add-icon {
				cursor: pointer;
				vertical-align: middle;
				fill: $cancel-btn-color;
				font-size: 16px;
			}
			.searchIcon {
				cursor: pointer;
				vertical-align: middle;
				margin-left: 10px;
				fill: $cancel-btn-color;
				font-size: 16px;
			}

			.isy-search {
				width: 210px;
				position: absolute;
				right: 11px;
				padding-top: 6px;
				.isy-search-input {
					padding-left: 4px;
					height: 24px;
					background-color: $search-list-bg;
					border: 1px solid $form-control-border-color;
					input {
						padding-top: 7px;
					}
				}
			}
			.section {
				padding-right: 103px;
				font-size: 14px;
				font-family: Roboto-Medium;
				line-height: 35px;
				padding-left: 15px;
				opacity: 0.8;
				color: $dark-bg-color-page;
			}
		}

		.columnData {
			display: block;
			padding: 5px 5px 0;
			&:last-child {
				padding-bottom: 5px;
			}
			.moreContainer {
				width: calc(100% - 297px);
				display: inline-block;
				text-align: center;
				.more {
					cursor: pointer;
					vertical-align: middle;
					fill: $cancel-btn-color;
					font-size: 16px;
					padding-left: 6px;
				}
			}
			.dataNameContainer {
				width: 94px;
				display: inline-block;
				padding-right: 5px;
				.isy_input {
					width: 100%;
					padding: 0px 5px;
					border: 1px solid $form-control-border-color;
					height: 24px;
					box-sizing: border-box;
					border-radius: 4px;
				}
			}
			.dataTypeContainer {
				width: 94px;
				display: inline-block;
				.dataType {
					width: 100%;
					border-radius: 4px;
					height: 24px;
					border: 1px solid $form-control-border-color;
				}
				.dataType:disabled {
					background-color: #f3f2f1;
				}
			}
		}
	}
}

.auto-complete-table {
	.MuiTableCell-root {
		padding: 5px 0;
		text-align: left;
		border: none;
	}

	.table-cell {
		width: 50%;
	}
}
.table-pop-over-container {
	.require-switch {
		padding: 0;
	}
}
