div {
    padding: 0px;
    color: rgb(68, 68, 68);
    font-family: Arial,Helvetica,Arial,sans-serif;
    font-size: 13px;
    background-color: transparent;
}
body{
    height: 100%;
}
.push{
    height: 50px;
}
.top-spacer {
    padding-top: 5%;
}
.clearfloat {
    clear: both;
}
.edl-login-box {
    margin: auto;
    padding: 18px 50px 50px 20px;
    width: 650px;
    overflow: auto;
    min-height: 200px;
    box-shadow: 0px 0px 10px 5px rgba(153,153,153,0.2);
    background-color: rgb(240, 249, 252);
    -moz-box-shadow: 0 0 10px 5px rgba(235, 235, 235, .78);
}
#brand-holder {
    margin-top: 15px;
    float: left;
    background-color: rgb(240, 249, 252);
    width: 220px;
}
#brand-holder div {
    padding-right: 20px;
    padding-left: 15px;
}
#brand-holder img {
    margin-bottom: 10px;
}
.login-parent .ecc-h1 {
    color: rgb(88, 103, 109);
    letter-spacing: 0px;
    font-family: ca-sans;
    font-size: 16px;
}
.login-parent #form-holder {
    width: 310px;
    margin-top: 15px;
    float: left;
    background-color: rgb(240, 249, 252);
}
.login-parent.form-header {
    color: rgb(88, 103, 109);
    letter-spacing: 0px;
    font-family: ca-sans;
    font-size: 30px;
}
.margin-top-8 {
    margin-top: 9px;
}
.body-font {
    font-family: ca-sans;
    font-size: 15px;
    margin-top: 13px;
    color: rgb(88, 103, 109);
}
.edl_login_input {
    margin-top: 5px;
    margin-bottom: 15px;
}
.edl_login_input input[type=text] {
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid rgb(235, 235, 235);
    border-image: none;
    height: auto;
    font-size: 13px;
}
.login-parent input[type=text] {
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid rgb(216, 216, 216);
    border-image: none;
    color: rgb(68, 68, 68);
    font-size: 13px;
}
.login-parent input[type=submit] {
    padding: 7px 10px;
    border-radius: 4px;
    border: currentColor;
    border-image: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: ca-sans-bold;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    min-width: 85px;
    background-color: rgb(87, 193, 180);
}
.login-parent .button {
    padding: 15px 32px;
    border: currentColor;
    border-image: none;
    text-align: center;
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(76, 175, 80);
}
.margin-top-8 {
    margin-top: 9px;
}
.edl_btn_main {
    padding: 7px 0px;
    border-radius: 4px;
    border: currentColor;
    border-image: none;
    width: 110px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: ca-sans;
    font-size: 14px;
    cursor: pointer;
    min-height: 20px;
    background-color: rgb(48, 179, 230);
}
.left_align {
    text-align: center;
    float: left;
}
*{
    margin: 0px;
}

.loginTextBox{
    width: 100%;
    height: 36px;
    font-size: 14px;
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid rgb(216, 216, 216);
    border-image: none;
    font-size: 13px;
    cursor: pointer;
}
.loginTextBox input:disabled{
    background-color: #ebebe4;
}
.loginTextBox.error{
    border: 2px solid red !important;
}

.no-msg {
    display: none;
}

.login-parent .error-msg {
    background-color: rgb(255,255,255);
    color: black;
    text-align: center;
    position: absolute;
    z-index: 1;
    padding: 11px;
    height: 27px;
    display: flex;
    align-items: center;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    /* margin-top: 9px; */
}
.edl-login-box .edl_error_feedback {
    padding: 0px;
    color: rgb(161, 28, 46);
    margin-top: 12px;
    margin-bottom: 0px;
    background-color: transparent;
}
.edl-login-box .edl_error_feedback {
    font-family: ca-sans;
    font-size: 15px;
}
.form-header {
    font-size: 30px;
}
.ecc-h1, .form-header {
    font-family: ca-sans;
    letter-spacing: 0;
    color: #58676d;
}
.eupopup-container {
    background-color: #57676d;
    color: #004080;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1.2em;
    text-align: center;
    z-index: 9999999;
    height:100px;
    color: #ffffff;
}
.eupopup-body{
    margin: 15px;
}
.hide-message{
    margin: 15px;
}
/* .login-parent .error-msg:before{
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    left: 10%;
    margin-left: -10px;
    margin-top: -22px;
    border: 8px solid transparent;
    border-bottom: 10px solid #dee2e6;
} */
.eupopup-parent{
    height:100px;
}
.user-sign-in{
    margin-top: 24px;
}

.passwordtooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}

.passwordtooltip .tooltiptext{
   width: 380px;
   background-color: #555;
   color: #fff;
   text-align: left;
   border-radius: 6px;
   padding: 10px 0px 10px 20px;
   position: absolute;
   z-index: 1;
   left: 100%;
   margin-left: 0px;
   transition: opacity 0.3s;
   white-space: pre-line;
   visibility: hidden;
}
.passwordtooltip:hover {
    position: absolute;
    z-index: 1px;
}
.tooltip div{
    display: block;
}
.passwordtooltip .tooltiptext::after {
    content: "";
    position: absolute;
    left: 0%;
    margin-top: -60px;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    visibility: hidden;
}

.tooltiptext .body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
