@import '../../themes.scss';
.isy-button {
	@include darkTheme {
		background-color: $dark-bg-color-page;
		color: $light-bg-color-page;
	}
	@include lightTheme {
		background-color: $light-bg-color-page;
	}
}
