.dynamiclist-anchor {
list-style: none;
padding: 7px;
color: rgb(87, 103, 109);
font-family: ca-sans;
font-size: 14px;
text-decoration: none;
}
.dynamiclist-anchor:hover,.dynamiclist-anchor:hover{
    text-decoration: none; 
}
.nav-pills{
    border-bottom: 1px solid var(--nav-pills-background-color);
}