.end-config{
    margin: 0;
    margin-top:40px;
}
.map-org{
    display: inline-block;
}
.map-org select{
    width: 300px;
    padding: 7px 10px;
    border: 1px solid #d8d8d8;
    height: 180px !important;
    font-size: 13px;
}
.show-config{
    margin: 0 0 0 40px;
    position: absolute;
    bottom: 40px;
}
.map-data-feed .MuiTable-root{
    width: 800px;
}