@import '../../../themes';

.tabs-root {
	padding-bottom: 38px;
	padding-left: 32px;
	.tab-header-root {
		text-transform: capitalize;
		cursor: pointer;
		min-width: fit-content;
		padding: 0 20px;
		display: inline-block;
		height: 25px;
		font-weight: 400;
		font-size: 14px;
		opacity: 1;
		position: relative;
		top: 15px;
	}
	.active-tab {
		opacity: 1;
		font-family: Roboto-Medium;
		border-bottom: 2px solid $light-head-text-color-side-nav;

		@include lightTheme {
			color: $dark-bg-color-page;
			& span {
				color: $dark-bg-color-page;
			}
		}
	}
}
