@import '../../../../themes';
.relation-properties-panel {
	width: 232px;
	height: 100%;
	overflow-x: hidden;
	display: inline-block;
	background-color: rgba(250, 249, 248, 1);
	border-left: 1px solid rgba(222, 222, 222, 0.3);
	border-top: 1px solid white;
	.relation-heading {
		display: flex;
		padding-left: 15px;
		height: 44px;
		.MuiSvgIcon-root {
			display: inline-flex;
			vertical-align: middle;
		}
		.form-heading {
			font-size: 15px;
			font-weight: bold;
			line-height: 48px;
			padding-left: 10px;
			padding-right: 40px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.delete-icon {
			padding-top: 10px;
			padding-right: 10px;
			position: absolute;
			right: 0;
			cursor: pointer;
			fill: $cancel-btn-color;
		}
		.hide-delete-icon {
			display: none;
		}
		.relation-icon {
			fill: $close-icon-color;
			padding-top: 16px;
			width: 18px;
		}
	}
	.relation-scroll-content {
		border-top: 1px solid $database-accordion-menu-selected-color;
		border-bottom: 1px solid $database-accordion-menu-selected-color;
		overflow-y: auto;
		width: 100%;
		overflow-x: hidden;
		@extend %custom-scroll-bar-y;
		.relation-section {
			padding: 10px 15px 0px 15px;
			width: calc(100% - 30px);
			.MuiTypography-body1 {
				padding-bottom: 5px;
				font-size: 14px;
			}
			.MuiFormControl-root {
				width: 100%;
			}
			.isy-dropdown {
				padding-bottom: 10px;
			}
			.auto-search-input {
				.MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'] {
					padding: 0px;
				}
			}
			.input-base {
				border-radius: 4px;
				border: 1px solid $form-control-border-color;
				font-size: 16;
				padding: 0 15px 0 5px;
				width: 100%;
				height: 24px;
				margin-top: 0px;
				background: $light-bg-color-page;
				&:before {
					border-bottom-style: none;
				}
				&:focus {
					border-radius: 4;
				}
				.MuiSelect-selectMenu {
					font-size: 13px;
				}
				.MuiSelect-icon {
					right: 8px;
				}
				.MuiSelect-select {
					&:focus {
						background-color: transparent;
					}
				}
			}
		}
		.relation-section-second {
			padding-top: 6px;
			padding-bottom: 10px;
			.isy-radio-group {
				.isy-radio-button {
					display: block;
				}
				.isy-radio-label {
					font-size: 13px;
				}
			}
			input {
				font-size: 13px;
				background: $light-bg-color-page;
				height: 24px;
				box-sizing: border-box;
			}
			input {
				&:disabled {
					background-color: #f3f2f1;
				}
			}
		}
		.table-second-section {
			position: relative;
			.add-icon {
				cursor: pointer;
				position: relative;
				left: 180px;
				margin-left: auto;
				display: inline-flex;
				vertical-align: middle;
				fill: $save-btn-border-color;
			}
			.searchIcon {
				cursor: pointer;
				left: 60%;
				position: relative;
				display: inline-flex;
				vertical-align: middle;
				fill: $cancel-btn-color;
			}
			.search-bar .search-icon {
				padding-right: 4px;
				.MuiSvgIcon-root {
					transform: rotate(360deg);
					color: $search-icon-color;
					height: 20px;
				}
			}

			.search-bar .cancel-icon {
				padding-right: 4px;
				.MuiSvgIcon-root {
					color: $dark-bg-color-page;
					height: 20px;
				}
			}

			.search-bar {
				background-color: white;
				position: absolute;
				right: 0px;
				top: -4px;
				margin: 5px;
				border-radius: 4px;
				border: 1px solid $form-control-border-color;
			}
			.section {
				font-size: 15px;
				font-weight: bold;
				line-height: 35px;
				padding-left: 15px;
			}
		}

		.columnData {
			display: block;
			padding-left: 15px;
			padding-top: 3px;
			padding-bottom: 5px;
			.moreContainer {
				width: calc(100% - 297px);
				display: inline-block;
				text-align: center;
				.more {
					cursor: pointer;
					vertical-align: middle;
					fill: $cancel-btn-color;
				}
			}
			.dataNameContainer {
				width: 135px;
				display: inline-block;
				padding-right: 5px;
				.isy_input {
					width: 100%;
					padding: 0px 5px;
					border: 1px solid $form-control-border-color;
					line-height: 2;
					box-sizing: border-box;
					border-radius: 4px;
				}
			}
			.dataTypeContainer {
				width: 135px;
				display: inline-block;
				.dataType {
					width: 100%;
					border-radius: 4px;
					height: 30px;
					border: 1px solid $form-control-border-color;
				}
			}
		}
	}
}

.auto-complete-table {
	.MuiTableCell-root {
		padding: 5px 0;
		text-align: left;
		border: none;
	}

	.table-cell {
		width: 50%;
	}
}
.table-pop-over-container {
	.require-switch {
		padding: 0;
	}
}

.relation-ship-icons-panel {
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	stroke: #232323;
}

.relation-ship-labels-panel {
	display: inline-block;
	vertical-align: middle;
}
