@import '../../../../../themes';
.pop-over-container {
	.MuiPopover-paper {
		border-radius: 5px !important;
	}
	.table-pop-over-container {
		width: 271px;
		.MuiTableRow-root {
			td {
				padding: 10px 10px 10px 5px;
			}
			.table-cell-pop-over {
				text-transform: capitalize;
				padding: 10px 5px 10px 10px;
				.require-switch {
					.require-switch-disabled {
						pointer-events: none;
					}
				}
			}
			.table-cell-key-type {
				padding: 10px;
			}
		}
		.delete-column-container {
			text-align: center;
			.delete-column {
				display: inline;
				box-sizing: border-box;
				border-radius: 4px;
				font-size: 14px;
				box-shadow: none;
				color: $light-secondary-color;
				padding: 0px;
				align-items: center;
				justify-content: center;
				font-family: Roboto-Medium;
				text-transform: capitalize;
				@include lightTheme {
					border: 1px solid $metadata-btn-border-color;
					background-color: $metadata-btn-background-color;
				}
				&:hover {
					box-shadow: none;
				}
				&:focus {
					outline: none;
				}
				.MuiSvgIcon-root {
					font-size: 1.2rem;
					@include lightTheme {
						color: $light-secondary-color;
					}
				}
				.delete-icon {
					color: $light-secondary-color;
					vertical-align: middle;
					margin-top: -4px;
					height: 20px;
				}
			}
		}

		.table-row-pop-over {
			display: flex;
		}
		.isy_input {
			width: 100%;
			border: 1px solid $form-control-border-color;
			line-height: 2;
			box-sizing: border-box;
			border-radius: 4px;
		}
	}
}

.keyTypeDropdown {
	margin-top: 0px;
	margin-right: 19px;
	width: 100%;
	.form-label {
		top: 0px;
	}
	.input-base {
		border-radius: 4px;
		border: 1px solid $form-control-border-color;
		font-size: 16px;
		padding: 0 15px 0 5px;
		width: 100%;
		height: 35px;
		margin-top: 0px;
		.MuiSelect-select.MuiSelect-select {
			border: none;
			width: 100%;
		}
		&:focus {
			border-radius: 4;
		}
		.MuiSelect-selectMenu {
			font-size: 13px;
		}
		.MuiSelect-icon {
			right: 8px;
		}

		.MuiSelect-select {
			&:focus {
				background-color: transparent;
			}
		}
	}

	.MuiFormControl-root {
		width: inherit;
	}
	.input-error {
		@include lightTheme {
			border: 1px solid $error-border-color;
		}
	}
	.MuiInput-underline:before,
	.MuiInput-underline:hover:not(.Mui-disabled):before,
	.MuiInput-underline:after {
		border-bottom: none;
	}
}

.key-icon-popover-attribute {
	width: 20px;
	height: 20px;
	padding-right: 8px;
	vertical-align: middle;
}

.isy-dropdown-option-label {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: inherit;
}

.none_key_svg.none_key_svg {
	fill: $none-key-color;
}
.primary_key_svg.primary_key_svg {
	fill: $primary-key-color;
}
.foreign_key_svg.foreign_key_svg {
	fill: $foreign-key-color;
}
.unique_key_svg.unique_key_svg {
	fill: $unique-key-color;
}
