@import '../../themes.scss';

.close-icon {
	position: absolute;
	top: 15px;
	right: 20px;
	cursor: pointer;
	@include darkTheme {
		color: $dark-bg-color-page;
	}
}
.profile-box {
	.MuiDialog-scrollPaper {
		position: absolute;
		top: -230px;
		right: -20px;
	}
	.MuiPaper-rounded {
		border-radius: 4px !important;
		width: 350px;
		height: 150px;
	}
	.MuiTypography-body1 {
		font-size: 16px;
		letter-spacing: 0;
		padding-left: 20px;
		padding-top: 3px;
		font-family: Roboto-Medium;
	}
	.MuiButtonGroup-grouped {
		min-width: 0;
	}
	.form-divider {
		.MuiDivider-root {
			height: 2px;
			@include lightTheme {
				background-color: $light-form-divider-color;
			}
		}
	}
	.signout-btn {
		color: $light-secondary-color;
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		width: 200px;
		text-transform: capitalize;
		font-family: Roboto-Medium;
		height: 50px;
	}
	.signout-btn:focus {
		outline: none;
	}
	.profile-btn {
		color: $cancel-btn-color;
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		width: 200px;
		text-transform: capitalize;
		font-family: Roboto-Medium;
		height: 50px;
	}
	.profile-btn:focus {
		outline: none;
	}
}

.viewprofile {
	.MuiPaper-rounded {
		border-radius: 4px !important;
		height: 540px;
		width: 416px;
	}
	.MuiDialogTitle-root {
		padding-top: 28px;
		padding-bottom: 0;
		height: 185px;
	}
	.MuiTypography-body2 {
		height: 21px;
		color: #323130;
		font-size: 16px;
		letter-spacing: 0;
		line-height: 21px;
		text-align: center;
	}
	.MuiDialogContent-root {
		padding-top: 0;
		padding-left: 35px;
		padding-right: 35px;
	}

	.form-divider {
		.MuiDivider-root {
			height: 1px;
			@include lightTheme {
				background-color: $light-form-divider-color;
			}
		}
	}

	.edit-btn {
		color: #e34d28;
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		text-transform: capitalize;
		font-family: Roboto-Medium;
		height: 50px;
		padding-left: 10px;
	}
	.edit-btn:focus {
		outline: none;
	}

	.platform-name {
		height: 20px;
		width: 41px;
		color: rgba(18, 18, 18, 0.87);
		font-family: Roboto-Medium;
		font-size: 14px;
		letter-spacing: 0;
		line-height: 20px;
		padding: 15px 0;
	}
	.content {
		opacity: 0.6;
		color: $view-sub-value-text-color;
		padding-bottom: 10px;
		font-size: 14px;
	}
}

.editprofile {
	.MuiPaper-rounded {
		border-radius: 4px !important;
		height: 540px;
		width: 416px;
	}
	.MuiDialogTitle-root {
		padding-top: 28px;
		padding-bottom: 0;
		height: 185px;
	}
	.MuiTypography-body2 {
		height: 21px;
		color: #323130;
		font-size: 16px;
		letter-spacing: 0;
		line-height: 21px;
		text-align: center;
	}
	.MuiDialogContent-root {
		padding-top: 0;
		padding-left: 32px;
		padding-right: 32px;
	}
	.profile {
		width: 64px;
		height: 64px;
		margin: auto;
		cursor: pointer;
	}
	.file-error {
		font-size: 12px;
		text-align: center;
		margin: 0;
		color: $error-font-color;
	}
	.file-input {
		display: none;
	}

	.form-divider {
		.MuiDivider-root {
			height: 2px;
			@include lightTheme {
				background-color: $light-form-divider-color;
			}
		}
	}

	.dynamic-form-input {
		padding-bottom: 16px;
		.input-field .form-control {
			font-size: 14px;
			display: block;
			width: 100%;
			padding: 6px 12px 6px 12px;
			border: 1px solid $form-control-border-color;
			line-height: 1.5;
			box-sizing: border-box;
			border-radius: 4px;
		}
	}
	.MuiDialogContent-dividers {
		padding: 12px 24px;
		padding-bottom: 0px;
	}
	.MuiDialogActions-root {
		padding: 10px;
		height: 45px;
	}

	.actions-btn {
		.save-btn {
			border: 1px solid #e34d28;
			color: #ffffff;
			border-radius: 4px;
			background-color: #e34d28;
			font-size: 14px;
			letter-spacing: 0;
			text-align: center;
			width: 65px;
			text-transform: capitalize;
			font-family: Roboto-Medium;
			height: 30px;
			&:hover {
				box-shadow: none;
				background-color: #e34d28;
			}
		}
		.save-btn:focus {
			outline: none;
		}
		.cancel-btn {
			border: 1px solid black;
			background-color: white;
			border-radius: 4px;
			color: #212121;
			font-size: 14px;
			letter-spacing: 0;
			text-align: center;
			width: 65px;
			text-transform: capitalize;
			font-family: Roboto-Medium;
			height: 30px;
			&:hover {
				box-shadow: none;
				background-color: #eaeaea;
			}
		}
		.cancel-btn:focus {
			outline: none;
		}
	}
}
