@import '../../../../themes.scss';
.db-tool-bar {
	margin-left: 2px;
	.isy-toolbar {
		padding-right: 50px;
	}
	.isy-toolbar-component {
		padding: 12px 10px;
	}
	.isy-search-input {
		&.Mui-focused {
			border: none;
		}
	}
	.edit-lock {
		position: relative;
		.request-button {
			box-sizing: border-box;
			height: 27px;
			border: 1px solid $request-lock-button-color;
			border-radius: 4px;
			background-color: $request-lock-button-color;
			opacity: 1;
			color: $request-lock-button-text-color;
			text-transform: capitalize;
			.MuiButton-label {
				margin-top: -2px;
			}
			.icon {
				height: 18px;
				fill: $request-lock-button-text-color;
			}
			&:hover {
				background-color: $request-lock-button-hover-color;
			}
		}
		.release-button {
			box-sizing: border-box;
			height: 27px;
			border: 1px solid $release-lock-button-color;
			border-radius: 4px;
			background-color: $release-lock-button-color;
			opacity: 1;
			color: $release-lock-button-text-color;
			text-transform: capitalize;
			.MuiButton-label {
				margin-top: -2px;
			}
			.icon {
				height: 18px;
				fill: $release-lock-button-text-color;
			}
			&:hover {
				background-color: $release-lock-button-hover-color;
			}
		}
		.lock-tooltip {
			visibility: hidden;
			width: auto;
			height: 19px;
			padding: 7px;
			font-size: 10px;
			background-color: $title-text-color;
			color: $light-bg-color-page;
			border-radius: 3px;
			position: absolute;
			left: 0;
			top: 28px;
			display: inline-table;
			&:after {
				content: '';
				position: absolute;
				bottom: 100%;
				left: calc(50% - 10px);
				margin-left: 5px;
				border: 5px solid transparent;
				border-bottom-color: $title-text-color;
			}
		}
		&:hover {
			.lock-tooltip {
				visibility: visible;
			}
		}
	}

	.locked-by {
		box-sizing: border-box;
		height: 27px;
		color: #ffffff;
		border: 1px solid $lock-info-color;
		border-radius: 4px;
		background-color: $lock-info-color;
		opacity: 1;
		padding: 2px 8px 2px 10px;
		.info {
			color: $lock-info-text-color;
			font-size: 8.5px;
			letter-spacing: 0;
			line-height: 13px;
			padding-right: 10px;
			display: inline-block;
			vertical-align: middle;
		}
		.icon {
			height: 20px;
			width: 20px;
			fill: $lock-refresh-color;
			cursor: pointer;
			display: inline-block;
			vertical-align: middle;
		}
	}
}
