@import '../../themes.scss';
.isy-chip-select {
	.isy-chip-select-label {
		font-size: 14px;
		cursor: pointer;
		margin-bottom: 0.5rem;
		display: block;
		.isy-chip-select-required {
			@include lightTheme {
				color: $form-label-required-color;
			}
		}
	}
	.isy-chip-select-control {
	}
	.isy-chip-input-control-icon {
		.expand-more {
			position: relative;
			z-index: 0;
			bottom: 29px;
			right: 10px;
			float: right;
			cursor: pointer;
		}
	}
}
