.accelerator-palette {
  min-height: 40em;
}

.ui.menu.pusher .item {
  background-color: #fbfbfb;
}

.ui.attached.label,
.ui[class*="top attached"].label {
  border-radius: 0;
}

.accelerator-palette {
  max-height: 200em;
  overflow-y: scroll;
}
