.grid-card-container {
	padding: 0px 32px;
	width: 100%;
	box-sizing: border-box;
	.empty-card-view {
		width: 100%;
		position: absolute;
		height: calc(100% - 157px);
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.icon {
			padding-bottom: 28px;
			width: 80px;
			height: 80px;
			stroke: rgba(0, 0, 0, 0.2);
			position: relative;
		}
		.text {
			font-size: 16px;
			font-family: Roboto-Regular;
			opacity: 0.6;
			height: 21px;
		}
	}
}
