@import '../../themes.scss';

.listbox {
	width: 300px;
	margin: 46px 0 0;
	padding: 0;
	position: absolute;
	list-style: none;
	font-size: 15px;
	letter-spacing: 0;
	line-height: 20px;
	color: $search-font-color;
	background-color: $search-list-bg;
	overflow: auto;
	max-height: 250px;
	border-radius: 0 0 2px 2px;
	box-shadow: 0 2px 8px $search-list-boxshadow;
	z-index: 1;
	& li {
		padding: 5px 12px;
		display: flex;
	}
	cursor: pointer;
}
