@import '../../../themes';

.app-bar {
	display: flex;
	@include lightTheme {
		background-color: $light-bg-color-page;
	}
	padding: 16px 0;
	.pop-btn {
		margin-left: 30px;
		width: 128px;
		height: 32px;
		border-radius: 2px;
		border: none;
		font-size: 14px;
		color: #383838;
		font-family: Roboto-Regular;
		line-height: 32px;
		text-align: left;
		padding: 0 6px 0 12px;
		@include lightTheme {
			background-color: $avatar-color;
		}
		&:focus {
			outline: none;
		}
		svg {
			@include lightTheme {
				color: $search-icon-color;
			}
			width: 19px;
			height: 15px;
			float: right;
			padding-top: 8px;
		}
	}
	.flex-grow {
		flex-grow: 1;
	}
	.border-right {
		border: 1px solid $apps-divider-color;
		height: 15px;
		margin: 8px 18px 0;
	}
	.isy-dropdown {
		.input-base {
			box-sizing: border-box;
			height: 32px;
			@include lightTheme {
				background-color: $light-bg-color-page;
				border: 1px solid $app-bar-right-border-color;
			}
			border-radius: 4px;
			width: 147px;
			div {
				font-size: 14px;
				min-height: auto;
				padding-left: 12px;
				&:focus {
					background-color: transparent;
				}
			}
			svg {
				padding-right: 4px;
			}
		}
	}
	.card-view,
	.list-view {
		padding: 5px 7px 8px;
		border-radius: 5px;
		height: 20px;
		cursor: pointer;
		svg {
			color: $grid-text-color;
			opacity: 0.6;
		}
	}
	.select-icon {
		background-color: #fff3e7;
	}
	.pagination-tool-bar {
		color: $schema-icon-color;
		font-size: 12px !important;
		.MuiTablePagination-caption {
			color: $schema-icon-color !important;
			font-size: 12px !important;
			position: relative;
			top: 1px;
		}
	}
}
.app-bar-popover {
	.border-bottom {
		border-bottom: 1px solid $cancel-btn-background-color;
	}
	li {
		padding-left: 8px;
		padding-right: 12px;
		div {
			display: flex;
			direction: rtl;
			span {
				width: 144px;
			}
			svg {
				color: $search-icon-color;
				width: 16px;
				height: 16px;
			}
		}
		font-size: 12px;
		height: 32px;
		width: 180px;
	}
}
