@import '../../../../themes';
.accelerators-table-view {
	.accelerators-table-summary {
		width: 130px;
		display: inline-block;
		vertical-align: top;
		.top {
			height: 38px;
		}
		.label {
			height: 32px;
			color: $none-key-color;
			font-size: 12px;
			text-align: right;
			padding-right: 14px;
		}
	}
	.accelerators-table {
		display: inline-block;
		width: 230px;
		vertical-align: top;
		.database-container {
			.database-table {
				border: 1px solid $db-table-td-border;
				border-radius: 2px;
				table tr td {
					border-bottom: none;
					&:first-child {
						border-right: none;
					}
				}
				table tr:nth-child(even) {
					background-color: transparent;
				}
				.table-name {
					border-bottom: 1px solid $db-table-td-border;
					background-color: $db-table-th-bg;
				}
				.table-styles {
					.isy_input {
						width: 95px;
						border-color: transparent;
						background-color: $app-border-color;
					}
				}
			}
		}
	}
	.accelerators-table-actions {
		display: inline-block;
		width: 25px;
		vertical-align: top;
		.top {
			height: 38px;
		}
		.more {
			height: 27px;
			width: 20px;
			margin-left: 6px;
			margin-top: -2px;
		}
	}
}
