@import '../../themes.scss';
.table-row {
	td:first-child {
		padding-left: 54px;
	}
	td:last-child {
		padding-right: 54px;
	}
	td {
		cursor: pointer;
	}
	.values {
		@include lightTheme {
			color: $grid-text-color;
		}
		height: 47px;
		font-size: 12px;
		padding: 0 16px;
	}
	.bold-text {
		font-family: Roboto-Bold;
	}
	.regular-text {
		opacity: 0.87;
		font-family: Roboto-Regular;
	}
	.no-data-found {
		text-align: center;
		cursor: none;
	}
}
.grid-list {
	clear: both;
}
.grid-list.MuiPaper-elevation1 {
	box-shadow: none;
}
.table-row-hover {
	.isVisible {
		visibility: hidden;
	}
	&:hover,
	&:focus {
		.isVisible {
			visibility: visible;
		}
		background-color: $grid-focus-background-color;
	}
	&.table-row-bgcolor {
		background-color: $grid-focus-background-color;
	}
}
.checkbox-class {
	.MuiSvgIcon-root {
		fill: $light-secondary-color;
	}
}
