@import '../../../../../../themes';

.accelerator-filter {
	.drawer-paper {
		min-width: 19%;
		width: 850px;
		height: 100%;
		border: 1px solid $database-accordion-menu-selected-color;
		box-sizing: border-box;
		background-color: $light-form-color !important;
		display: inline-block;
		.header-section {
			height: 70px;
			border-bottom: 1px solid $right-slider-border-color;
			box-sizing: border-box;
			width: 100%;
			padding: 23px 32px;
			.header-close-icon {
				float: right;
				cursor: pointer;
				fill: $dark-bg-color-page;
			}
			.header-title {
				font-size: 15px;
				font-weight: bold;
				letter-spacing: 0;
				width: calc(100% - 24px);
				display: inline-block;
				padding-bottom: 18px;
			}
		}
		.accelerator-filter-parent {
			height: calc(100% - 140px);
			overflow: hidden;
			.accelerator-filter-container {
				padding: 0 40px 10px;
				box-sizing: border-box;
				height: calc(100% - 140px);
				display: inline-block;
				overflow-y: auto;
				@extend %custom-scroll-bar-y;
			}
			.left {
				vertical-align: top;
				display: inline-block;
				height: 100%;
				width: 230px;
				padding-top: 7px;
				background-color: $accelerator-left-menu-background-color;
				.category {
					cursor: pointer;
					display: inherit;
					text-transform: capitalize;
					width: 175px;
					opacity: 0.87;
					color: $grid-text-color;
					padding: 8px 50px;
					font-size: 13px;
					letter-spacing: 0;
					line-height: 20px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					text-decoration: none;
					color: $grid-text-color;
					&:link {
						color: $grid-text-color;
					}
				}
				.list-selected {
					background-color: $database-list-selected;
					font-family: Roboto-Medium;
					font-weight: 500;
					font-size: 13px;
					line-height: 20px;
					color: $grid-text-color;
					padding-left: 6px;
					&::before {
						content: '';
						padding-right: 40px;
						border-left: 4px solid $light-secondary-color;
					}
				}
			}
			.right {
				width: calc(100% - 230px);
				position: relative;
				height: 100%;
				display: inline-block;
				vertical-align: top;
				.top-actions {
					height: 68px;
					vertical-align: middle;
					padding: 23px 0px;
					box-sizing: border-box;
					.select-all,
					.clear-all {
						color: $metadata-btn-text-color;
						font-family: Roboto-Regular;
						font-size: 13px;
						font-weight: 500;
						margin-left: 24px;
						cursor: pointer;
					}
				}
				.scroll-container {
					height: calc(100% - 68px);
					overflow-y: auto;
					box-sizing: border-box;
					@extend %custom-scroll-bar-y;
					.checkbox-group-container {
						display: inline-block;
						width: 50%;
						.isy-checkbox {
							margin-left: 15px;
							.isy-checkbox-control {
								display: inline-block;
								vertical-align: middle;
							}
							.isy-checkbox-label {
								font-size: 13px;
								line-height: 20px;
								opacity: 0.87;
								letter-spacing: 0;
								color: $grid-text-color;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								width: calc(100% - 42px);
								display: inline-block;
								vertical-align: middle;
								.checkbox-group {
									background-color: $light-form-color;
									.MuiSvgIcon-root {
										font-size: 13px;
									}
								}
							}
						}
					}
				}
			}
		}
		.bottom-section {
			border-top: 1px solid $right-slider-border-color;
			height: 70px;
			box-sizing: border-box;
			padding: 19px 40px;
			.primary-btn {
				width: 90px;
				height: 30px;
			}
		}
	}
}
