@import '../../../../../themes';
.framework-settings {
	.framework-settings-parent {
		height: 100%;
		.header-section {
			height: 70px;
			border-bottom: 1px solid $right-slider-border-color;
			width: 100%;
			padding: 23px 40px;
			box-sizing: border-box;
			.header-close-icon {
				float: right;
				cursor: pointer;
				margin-right: 17px;
			}
			.header-title {
				font-size: 20px;
				font-weight: bold;
				letter-spacing: 0;
				width: calc(100% - 56px);
				display: inline-block;
				padding-bottom: 18px;
			}
			.edit_icon-section {
				cursor: pointer;
				top: 3px;
				position: relative;
				.edit_icon {
					img {
						height: 18px;
					}
				}
				.edit-label {
					font-size: 15px;
					position: relative;
					top: -4px;
				}
			}
		}
		.framework-settings-container {
			padding: 0 40px 10px;
			box-sizing: border-box;
			height: calc(100% - 140px);
			overflow-y: auto;
			.isy-grid-header-cell,
			.isy-grid-row-cell {
				padding-top: 0;
			}
			.isy-form-builder-input-required {
				padding-left: 5px;
			}
			@extend %custom-scroll-bar-y;
			.middle-section {
				.version-container {
					.isy-form-builder-array-section-item {
						background-color: $version-background-color;
						box-sizing: border-box;
						margin-top: 20px;
						padding: 10px 0;
						padding-left: 14px;
						position: relative;
						.isy-form-builder-section-header {
							display: block;
						}
						.version-name {
							display: inline-block;
							width: 300px;
							vertical-align: top;
						}
						.supported-versions {
							display: inline-block;
							width: 300px;
							margin-left: 10px;
							.isy-chip-select {
								._2iA8p44d0WZ-WqRBGcAuEV {
									background-color: $light-form-color;
									box-sizing: border-box;
									min-height: 32px;
									padding: 2px;
								}
								._7ahQImyV4dj0EpcNOjnwA {
									color: $dark-bg-color-page;
									background: $multi-select-background;
									margin-bottom: 2px;
								}
								.lhyQmCtWOINviMz0WG_gr {
									background: $light-secondary-color;
								}
								.optionContainer > li:hover {
									background: $light-secondary-color;
								}
								.searchBox {
									font-size: 14px;
								}
								.isy-chip-input-control-icon {
									bottom: 28px;
								}
							}
						}
						.version-metadata-container {
							padding: 20px;
							background-color: $light-form-color;
							margin-top: 10px;
							margin-bottom: 10px;
							margin-right: 20px;
							.isy-form-builder-section-header {
								display: inline-block;
								width: 530px;
							}
							.secondary-btn {
								svg {
									vertical-align: middle;
								}
								bottom: 7px;
								width: 137px;
								height: 32px;
								margin: 0;
								float: right;
							}
							.isy-grid-container {
								.isy-grid-header {
									height: 30px;
								}
								.isy-grid-row-cell {
									padding-top: 0;
									.delete-icon {
										position: static;
										padding-top: 8px;
									}
								}
							}
						}
						.modules-container {
							padding: 20px;
							background-color: $light-form-color;
							margin-top: 10px;
							margin-bottom: 10px;
							margin-right: 20px;
							position: relative;
							.isy-form-builder-section-header {
								display: inline-block;
								width: 530px;
							}
							.secondary-btn {
								position: absolute;
								top: 12px;
								right: 16px;
								margin: 0px;
								width: 137px;
								height: 32px;
								svg {
									vertical-align: middle;
								}
							}
							.isy-form-builder-array-section-item {
								margin-top: 0px;
								padding-left: 0px;
								background-color: $light-form-color;
								.module-name {
									display: inline-block;
									width: 295px;
								}
								.module-version-name {
									display: inline-block;
									width: 295px;
									margin-left: 15px;
								}
								.module-description {
									display: inline-block;
									width: 295px;
								}
								.module-metadata {
									.secondary-btn {
										margin-top: 10px;
										position: sticky;
										svg {
											vertical-align: middle;
										}
									}
									.isy-grid-container {
										.isy-grid-row-cell {
											padding-top: 0;
											.delete-icon {
												position: static;
												padding-top: 8px;
											}
										}
										.isy-grid-header {
											height: 28px;
										}
									}
								}
							}
							.delete-icon {
								position: absolute;
								top: 118px;
								right: 15px;
								cursor: pointer;
							}
						}
						.delete-icon {
							position: absolute;
							top: 10px;
							right: 10px;
							cursor: pointer;
						}
					}
					.secondary-btn {
						margin-top: 10px;
						margin-bottom: 5px;
					}
				}
				.isy-form-builder-accordion-section:last-child {
					.isy-accordion-summary {
						padding-left: 0px;
						border-bottom: none;
					}
					.isy-accordion-summary.Mui-expanded {
						border-bottom: none;
					}
					.MuiCollapse-wrapperInner {
						padding-bottom: 15px;
						border-bottom: none;
					}
				}
				.framework-metadata-container {
					.isy-grid-header {
						height: 30px;
					}
					.delete-icon {
						padding-top: 10px;
						cursor: pointer;
					}
				}
			}
		}
		.bottom-section {
			border-top: 1px solid $right-slider-border-color;
			height: 70px;
			box-sizing: border-box;
			padding: 19px 40px;
			.primary-btn {
				width: 80px;
				height: 32px;
				margin-right: 20px;
			}
			.standard-btn {
				height: 32px;
				width: 80px;
			}
		}
	}
	&.view-mode {
		// .header-section {
		// 	height: 88px;
		// 	padding-top: 18px;
		// 	.header-title {
		// 		padding-bottom: 18px;
		// 	}
		// }
		.framework-settings-parent {
			.framework-settings-container {
				// height: calc(100% - 158px);
				.middle-section
					.version-container
					.isy-form-builder-array-section-item
					.version-metadata-container
					.isy-form-builder-section-header {
					display: inline-block;
					width: 530px;
					padding-bottom: 18px;
				}
			}
		}
	}
}
