@import '../../../themes';
.default-db-form {
	.header {
		height: 70px;
		border-bottom: 1px solid $app-border-color;
		width: 100%;
		padding: 23px 37px;
		box-sizing: border-box;
		.header-close-icon {
			float: right;
			cursor: pointer;
		}
		.header-title {
			font-size: 20px;
			font-family: Roboto-Regular;
			letter-spacing: 0;
			color: $database-settings-header-title-color;
		}
	}

	.middle {
		height: calc(100% - 110px);
		overflow-y: auto;
		overflow-x: hidden;
		@extend %custom-scroll-bar-y;
		width: 100%;
		.flex-class {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			.database-heading {
				font-family: Roboto-Regular;
				font-size: 16px;
				padding-bottom: 30px;
				color: $database-settings-title-color;
			}
			.create-icon {
				margin-right: 7px;
			}
			.secondary-btn.isy-button {
				width: 280px;
				height: 40px;
				margin-bottom: 10px;
				text-transform: none;
				svg {
					color: $light-secondary-color;
					padding-right: 5px;
				}
				&:focus {
					svg {
						color: $database-settings-svg-color;
					}
				}
			}
		}
		.connect-database-progress {
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			svg {
				color: $light-secondary-color;
			}
			.progress-label {
				opacity: 0.6;
				color: $dark-bg-color-page;
				font-family: Roboto-Regular;
				font-size: 16px;
				margin-top: 16px;
			}
		}
		.isy-form-builder-container {
			width: 100%;
			padding: 0px 40px;
			box-sizing: border-box;
			.error-label {
				display: initial;
			}
			.isy-dropdown.isy-dropdown.isy-dropdown {
				width: 100%;
			}
			.secondary-btn.isy-button {
				text-transform: none;
				width: 80px;
				height: 34px;
				margin-top: 20px;
			}
			.isy-form-builder-info {
				font-size: 13px;
				white-space: pre-line;
				font-family: Roboto-Regular;
				line-height: 24px;
			}
			.connect-status {
				font-size: 13px;
				font-family: Roboto-Regular;
				text-align: left;
				display: flex;
				align-items: center;
				&.success {
					svg {
						color: $database-connect-success-color;
						padding-right: 5px;
						font-size: 19px;
					}
				}
				&.loading {
					svg {
						color: $light-secondary-color;
					}
					.loading-text {
						padding-left: 5px;
					}
				}
				&.failure {
					color: $database-connect-error-color;
					svg {
						color: $database-connect-error-color;
						padding-right: 5px;
						font-size: 19px;
					}
				}
			}
			.out-of-accordion {
				.connect-status {
					border-bottom: 1px solid $accordion-border-color;
					padding: 10px 0px 20px 0px;
				}
			}
			.no-border {
				.isy-accordion-summary {
					border-bottom: none;
				}
			}
			.isy-form-builder-accordion-section:last-child {
				.isy-accordion-summary {
					padding-left: 0px;
					border-bottom: none;
				}
				.isy-accordion-summary.Mui-expanded {
					border-bottom: none;
				}
				.MuiCollapse-wrapperInner {
					padding-bottom: 15px;
					border-bottom: none;
				}
			}
		}
		.error-page {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			svg {
				width: 2em;
				height: 2em;
				color: $light-secondary-color;
				font-size: 3rem;
			}
			.error-text {
				font-size: 16px;
				font-family: Roboto-Regular;
				color: $dark-bg-color-page;
				padding: 18px 0px;
				opacity: 0.9;
				padding-left: 70px;
				padding-right: 60px;
				text-align: center;
			}
		}
		&.with-out-footer {
			height: 100%;
		}
	}

	.footer {
		border-top: 1px solid $app-border-color;
		height: 70px;
		box-sizing: border-box;
		padding: 19px 40px;
		.primary-btn {
			width: 80px;
			height: 32px;
		}
		.standard-btn {
			height: 32px;
			width: 80px;
			margin-right: 20px;
		}
		.primary-btn.overlay,
		.standard-btn.overlay {
			pointer-events: none;
			opacity: 0.5;
		}
	}
}
