@import '../../themes';

.app-page {
	@include lightTheme {
		background-color: $light-bg-color-page;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	.apps {
		width: 80px;
		height: 80px;
		margin-bottom: 22px;
	}

	.apps-text {
		font-size: 16px;
		font-family: Roboto-Regular;
		@include darkTheme {
			color: $dark-bg-color-page;
		}
		opacity: 0.6;
		width: 239px;
		height: 21px;
		margin-bottom: 18px;
	}
	.primary-btn {
		width: 130px;
		height: 32px;
	}
}

.app-container {
	@include lightTheme {
		background-color: $light-bg-color-page;
	}
	position: relative;
	margin: 24px 32px 0;
	min-height: calc(100% - 24px);
	.app-information {
		padding: 32px 32px 0px 32px;
		display: block;
		box-sizing: border-box;
		.title-holder {
			height: 35px;
			display: inline-block;
			width: 100%;
			padding-bottom: 24px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.12);
			.app-title {
				width: 100px;
				height: 100%;
				display: inline-block;
				color: #000000;
				font-family: Roboto-Medium;
				font-size: 21px;
				font-weight: 500;
				letter-spacing: 0;
				vertical-align: top;
				line-height: 27px;
			}
			.button-component {
				display: inline-block;
				width: calc(100% - 100px);
				text-align: right;
				height: 100%;
				.isy-search {
					vertical-align: top;
					.isy-search-input {
						border: 0;
						&.Mui-focused {
							border: 1px solid $search-bar-bg;
						}
					}
				}
				.primary-btn {
					height: 32px;
					width: 110px;
					margin-right: 18px;
				}
			}
		}
	}
	.grid-container {
		border-top: 1px solid rgba(0, 0, 0, 0.12);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 0 32px;
		padding-top: 10px;
		padding-bottom: 20px;
		.isy-grid-container {
			.isy-grid-row-cell {
				height: 48px;
				padding: 18px 16px;
				&.column-2 {
					padding: 10px 16px;
				}
			}
			.column-1 {
				width: calc(40% - 50px);
				padding-left: 54px;
				font-family: Roboto-Bold;
			}
			.column-2 {
				width: 50px;
			}
			.column-3 {
				width: 15%;
			}
			.column-4 {
				width: 15%;
			}
			.column-5 {
				width: 15%;
			}
			.column-6 {
				width: 15%;
				padding-right: 54px;
			}
			.more-icon {
				width: 19px;
				padding-top: 2px;
			}
		}
		.pop-over-menu {
			width: 180px;
			height: 80px;
		}
	}
}
