@import '../../../themes';

.table-page {
	@include lightTheme {
		background-color: $light-bg-color-page;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
	.table {
		width: 64px;
		height: 64px;
		margin-bottom: S25px;
		border-radius: 50%;
		background-color: #eeeeee;
	}
	.table > .MuiSvgIcon-root {
		margin-top: 22px;
		margin-left: 20px;
	}

	.add-new-table {
		border-radius: 4px;
		width: 134px;
		height: 32px;
		font-family: Roboto-Medium;
		font-size: 14px;
		text-transform: initial;
		@include lightTheme {
			color: $light-bg-color-page;
			background-color: $light-secondary-color;
			border: 1px solid $light-secondary-color;
		}
		&:hover {
			@include lightTheme {
				background-color: #e34d28;
			}
		}
	}
	.table-text {
		font-size: 16px;
		font-family: Roboto-Regular;
		@include darkTheme {
			color: $dark-bg-color-page;
		}
		opacity: 0.6;
		width: 305px;
		height: 21px;
		margin-bottom: 18px;
	}
}

.DbCanvasParentContainer {
	width: 100%;
	height: 100%;
}
