.bulk-report {
	.bulk-table.table-height {
		height: 400px;
		overflow-y: auto;
		overflow-x: hidden;
	}
	.report-row-data {
		display: flex;
	}
	.report-hr {
		border-top: 1px solid var(--bulkrequest-hr) !important;
	}
	.report-success-color {
		color: var(--bulkrequest-report-success);
	}
	.report-failed-color {
		color: var(--bulkrequest-failed-color);
	}
	.bulk-report-button {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.MuiTableCell-root div {
		max-width: none;
	}
	.MuiTableCell-root {
		padding: 0px;
	}
	.bulk-report-table .MuiTableCell-root {
		padding: 2px;
	}
	.bulkupload-space {
		margin-left: 5px;
	}
}
