@import '../../../themes';
.login-container {
	background-repeat: no-repeat;
	position: fixed;
	min-width: 100%;
	height: 100%;
	.logo-header {
		height: 36px;
		width: 50%;
		@include lightTheme {
			color: $light-secondary-color;
		}
		font-family: Roboto;
		font-size: 27px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 36px;
	}
	.logo-text {
		img {
			width: 20%;
			padding-top: 40px;
			padding-left: 34px;
		}
	}
	.form {
		float: right;
		min-height: 100%;
		position: relative;
		@include lightTheme {
			color: $dark-bg-color-page;
			background: $light-bg-color-page;
		}
		width: 576px;
		.login-form {
			padding: 90px 128px 50px 128px;
			box-sizing: border-box;
			.isy-form-builder-container {
				width: 100%;
				@include lightTheme {
					color: $dark-bg-color-page;
				}
				.isy-form-builder-section-header {
					font-family: Roboto-Thin;
					font-size: 28px;
					font-weight: 100;
					letter-spacing: 0;
					text-align: center;
					margin-bottom: 60px;
					display: block;
				}
				.isy-animation-input {
					margin-bottom: 20px;
					width: 100%;
				}
				.error-label {
					@include lightTheme {
						color: $error-text-color;
					}
					font-size: 12px;
					font-family: Roboto-Regular;
					display: block;
					text-align: left;
					padding-top: 2px;
				}
			}
			.primary-btn {
				margin-top: 10px;
				margin-bottom: 40px;
				height: 40px;
				width: 100%;
			}
			.remember-forgot {
				.check-remember {
					position: relative;
					float: left;
					label {
						padding-left: 15px;
						cursor: pointer;
						@include lightTheme {
							color: $check-text-color;
						}
						font-family: Roboto-Regular;
						font-size: 15px;
						&:before {
							content: '';
							position: absolute;
							left: 0;
							top: 0;
							width: 20px;
							height: 20px;
							transition: transform 0.28s ease;
							border-radius: 3px;
							@include lightTheme {
								border: 1px solid $border-underline-color;
							}
						}
						&:after {
							content: '';
							display: block;
							width: 10px;
							height: 5px;
							@include lightTheme {
								border-bottom: 1px solid $light-secondary-color;
								border-left: 1px solid $light-secondary-color;
							}
							transform: rotate(-45deg) scale(0);
							transition: transform ease 0.25s;
							position: absolute;
							top: 7px;
							left: 5px;
						}
					}
					.checkbox {
						opacity: 0;
						&:checked ~ label {
							&:before {
								border: 1px solid $light-secondary-color;
							}
							&:after {
								transform: rotate(-45deg) scale(1);
							}
						}
						&:focus + label::before {
							outline: 0;
						}
					}
				}
				.forgot-text {
					float: right;
					text-decoration: none;
					@include lightTheme {
						color: $light-secondary-color;
					}
				}
			}
		}
	}
}
