@import '../../../themes';
.core-platform {
	position: relative;
	align-items: center;
	min-height: calc(100% - 24px);
	margin: 24px 32px 0;
	background-color: $light-bg-color-page;
	.title-holder {
		height: 88px;
		display: flex;
		padding: 32px 8px 24px 8px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		margin: 0 32px;
		box-sizing: border-box;
		.title {
			width: 200px;
			height: 100%;
			display: inline-block;
			color: #000;
			font-family: Roboto-Medium;
			font-size: 21px;
			font-weight: 500;
			letter-spacing: 0;
			vertical-align: top;
			line-height: 27px;
		}
	}
	.isy-tabs-container {
		padding: 0px 32px;
		.isy-tabs-root {
			border-bottom: 1px solid #dedede;
			padding-top: 10px;
			padding-bottom: 15px;
			margin-bottom: 16px;
			padding-left: 0px;
			.isy-tab-header {
				padding: 0 16px;
				margin: 0px;
			}
		}
	}
}
