@import '../../../themes';
.relation-ship {
	.auto-search-input {
		.MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'] {
			padding: 0px;
		}
	}
	.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
		border-color: $light-shadow-color-page;
		border-width: 2px;
	}
	.MuiAutocomplete-input {
		font-size: 14px;
	}
	.MuiDialog-paper {
		width: 400px;
		padding: 10px;
	}
	.MuiDialogContent-dividers,
	.MuiDialogTitle-dividers {
		border-bottom: none;
	}
	.Component-root-5 {
		color: $foreign-key-content-text-color;
		font-family: Roboto-Medium;
		font-size: 20px;
		font-weight: 500;
	}
	.search-content,
	.form-label.form-label {
		font-size: 14px;
		font-family: Roboto-Bold;
		margin: 15px 0px 8px 0px;
		display: block;
	}

	.isy-radio-label {
		font-size: 14px;
		padding-left: 5px;
		margin-right: 10px;
		cursor: pointer;
	}

	.isy-radio-class {
		padding: 0px;
	}

	.MuiButton-root.Mui-disabled {
		opacity: 0.5;
	}
	.save-btn {
		box-shadow: none;
		border-radius: 4px;
		@include lightTheme {
			border: 1px solid $save-btn-border-color;
			color: $save-btn-color;
			background-color: $save-btn-background-color;
		}
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		margin-left: 34px;
		padding: 11px 12px;
		text-transform: capitalize;
		height: 28px;
		&:hover {
			box-shadow: none;
		}
	}
	.save-btn:focus {
		outline: none;
	}
	.cancel-btn {
		height: 28px;
		border-radius: 4px;
		box-shadow: none;
		@include lightTheme {
			background-color: $cancel-btn-background-color;
			color: $cancel-btn-color;
		}
		border: none;
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		text-transform: capitalize;
		padding: 11px 12px;
		&:hover {
			box-shadow: none;
		}
	}
	.cancel-btn:focus {
		outline: none;
	}
	.relationShipType {
		margin-top: 0px;
		margin-right: 19px;
		width: 100%;
		.form-label {
			top: 0px;
		}
		.input-base {
			border-radius: 4px;
			border: 1px solid $form-control-border-color;
			font-size: 16;
			padding: 0 15px 0 0;
			width: 100%;
			height: 35px;
			margin-top: 0px;
			&:focus {
				border-radius: 4;
			}
			.MuiSelect-selectMenu {
				font-size: 13px;
			}
			.MuiSelect-icon {
				right: 8px;
			}

			.MuiSelect-select {
				&:focus {
					background-color: transparent;
				}
			}
		}

		.MuiFormControl-root {
			width: inherit;
		}
		.input-error {
			@include lightTheme {
				border: 1px solid $error-border-color;
			}
		}
		.MuiInput-underline:before,
		.MuiInput-underline:hover:not(.Mui-disabled):before,
		.MuiInput-underline:after {
			border-bottom: none;
		}
	}
}

.relation-ship-icons {
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
}

.relation-ship-labels {
	display: inline-block;
	vertical-align: middle;
}

.auto-complete-table {
	.MuiTableCell-root {
		padding: 5px 0;
		text-align: left;
		border: none;
	}

	.table-cell {
		width: 50%;
	}
}
