@import '../../themes';

.breadCrum-conatainer {
	padding-bottom: 24px;
	margin-top: 24px;
	width: 30%;
	text-transform: capitalize;
}

.MuiBreadcrumbs-li:last-child {
	@include lightTheme {
		color: $dark-bg-color-page;
	}
	font-family: Roboto-Medium;
	font-size: 18px;
}

.MuiTypography-colorTextSecondary {
	color: unset;
}

.MuiBreadcrumbs-li:first-child {
	font-family: Roboto-Light;
	font-size: 18px;
	@include lightTheme {
		color: $light-text-color-bread-crumb;
	}
}

.breadCrum-conatainer {
	.MuiTypography-body1 {
		height: 24px;
	}

	li > .MuiLink-underlineHover {
		text-decoration: none;
	}
}
