.orgName{
    color: #53bbd4;
    cursor: pointer;
}
.SearchOrg .custom-checkbox{
    padding-right:0px;
}
.SearchOrg .div-seperator{
    margin-top:40px;
}
.SearchOrg input[type=text]{
    max-width:67%;
}
.SearchOrg .form-label .capitalizec{
    padding-right:10px; 
}
.SearchOrg .col-sm-12{
  padding-left:10px;
}
.SearchOrg input[type=submit]{
    padding:5px 10px;
}
