table {
  border-collapse: collapse;
  font-size: 13px;
}
.flex-container {
  display: flex;
  border-bottom-color:black;
}

.flex-container > div {
  padding: 10px;
  font-size: 15px;
}

.flex-container > div:hover {
  background-color: #F7F7F7;
  cursor:pointer; 
}
.desc{
  font-size: 12px;
}
.menuHeight
{
    height:220px;
    width:200px;
}
.div-order {
  width: 13%;
  float: left;
}
.flex-container-button  {
  display: flex;
  flex-direction: column;
}
.currentOrder {
  height:220px;
  width:200px;
}
.custom-flex label {
  flex-grow: 1 !important;
  flex: 1 1 33% !important;
  display: inline-flex;
  margin-bottom: 0.5rem;
  width: 33%;
}