.childOrgList{
    width: 100%;
    .seperate-line{
        border-bottom: 1px solid var(--config-bg);
        width: 100%;
    }
    .childOrgListClass td {
        padding: 2px 8px 2px 8px;
        word-break: break-all;
        border: 1px solid var(--config-bg);
    }
    .childOrgListClass{
        width: 100%;
        padding: 20px 0px;
    }
}
.config-org-relation {
    .modal {
        position: absolute;
        z-index: 1;
        padding-top: 100px; 
        left: 15%;
        top: 0;
        width: 75%; 
        height: 60%; 
        display: block;
        .close {
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: var(--createlist-table-white-color) !important;
            text-shadow: 0 1px 0 var(--createlist-table-white-color);
            opacity: 2.5 !important;
            cursor: pointer;
        }
          
         .modal-content {
            position: relative;
            background-color: var(--modal-content-background-color);
            margin: auto;
            padding: 0;
            border: 1px solid var(--modal-content-border);
            width: 75% !important;
          }
            .successheader {
            background-color: var(--modal-successheader);
            color: var(--modal-successheader-color);
            border: 1px solid var(--modal-successheader);
            border-bottom: none;
        }
         .dialog-title {
            float: left;
            color: var(--createlist-table-white-color) ;
        }
          .dialog-close {
            float: right;
            cursor: pointer;
            margin: 3px 3px 0 0;
            height: 11px;
            width: 11px;
            color: var(--createlist-table-white-color) !important;
            font-size: 28px;
            font-weight: bold;
        }
         .dialog-header {
            display: block;
            padding: 3px 6px 7px;
            height: 30px;
            font-size: 14px;
            font-weight: bold;
          }
            .MuiTableCell-root a {
            color: var(--template-button-color )!important;
           }
           .modal-body {
            position: relative;
            flex: 1 1 auto;
            padding: 13px !important;
        }
      }
}
