@import '../../../themes';
.database-settings {
	.MuiPaper-elevation16 {
		box-shadow: none;
	}
	.MuiDrawer-paper {
		min-width: 19%;
		width: 450px;
		height: 100vh;
		border: 1px solid $database-accordion-menu-selected-color;
		box-sizing: border-box;
		background-color: white !important;
		.header-section {
			height: 70px;
			border-bottom: 1px solid #f3f2f1;
			width: 100%;
			padding: 23px 40px;
			box-sizing: border-box;
			.header-close-icon {
				float: right;
				cursor: pointer;
			}
			.header-title {
				font-size: 20px;
				font-family: Roboto-Regular;
				letter-spacing: 0;
				opacity: 0.87;
			}
		}
		.middle-section {
			height: calc(100% - 142px);
			overflow-y: auto;
			width: 100%;
			@extend %custom-scroll-bar-y;
			.relation-section {
				padding: 10px 40px 0px 40px;
				width: 100%;
				box-sizing: border-box;
				background-color: white;
				.form-label-required {
					color: $form-label-required-color;
					margin-left: 2px;
				}
				.isy_input {
					font-size: 14px;
					display: block;
					width: 100%;
					padding: 6px 12px 6px 12px;
					border: 1px solid $form-control-border-color;
					line-height: 1.5;
					box-sizing: border-box;
					border-radius: 4px;
				}
				.error-input {
					border: 1px solid $error-font-color;
				}
				.MuiTypography-body1 {
					padding-bottom: 5px;
				}
				.MuiFormControl-root {
					width: 100%;
				}
				.input-base {
					border-radius: 4px;
					border: 1px solid $form-control-border-color;
					font-size: 16;
					padding: 0 15px 0 5px;
					width: 100%;
					height: 35px;
					margin-top: 0px;
					&:before {
						border-bottom-style: none;
					}
					&:focus {
						border-radius: 4;
					}
					.MuiSelect-selectMenu {
						font-size: 13px;
					}
					.MuiSelect-icon {
						right: 8px;
					}

					.MuiSelect-select {
						&:focus {
							background-color: transparent;
						}
					}
					.MuiSelect-select.Mui-disabled {
						background-color: #f3f2f1;
					}
				}
				.error-label {
					font-size: 12px;
					color: $error-font-color;
				}
			}
		}
		.bottom-section {
			border-top: 1px solid #f3f2f1;
			height: 70px;
			box-sizing: border-box;
			padding: 19px 40px;
			.primary-btn {
				width: 65px;
				height: 30px;
			}
			.standard-btn {
				width: 65px;
				height: 30px;
				margin-right: 20px;
			}
		}
	}
}
