.ReportButtons {
  input {
    margin-left: 50px;
  }

  input:first-child {
    margin-left: 0px;
    background: var(--bulkdivider-border-color);
  }

  input:first-child:hover {
    background: var(--myactivity-input-color) !important;
  }
}
.scroll-set {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.setAdminActivity {
  .MuiTableHead-root th {
    position: static !important;
  }
}
.myActivity {
  .custom-control {
    padding-left: 0.7rem;
  }

  hr {
    margin-bottom: 0.1rem;
  }

  .error-parent .edl_success,
  .error-parent .edl_error_feedback {
    margin-left: 0 !important;
    margin-bottom: 30px !important;
  }

  thead.MuiTableHead-root th {
    padding: 5px;
  }

  .MuiPaper-root div {
    overflow-x: hidden !important;
  }

  select[name="eventdisplay"],
  input[name="userName"] {
    width: 227px !important;
    flex: none;
  }

  select.multiSelectOptionList {
    width: 300px !important;
    background: none;
  }

  .adjustLabel {
    display: flex;
    align-items: center;
  }

  .adjustLabel {
    span {
      color: var(--bulkrequest-failed-color);
      font-size: 20px;
    }
  }

  .MuiTableCell-root {
    padding: 10px !important;
  }

  .eventSelector {
    select {
      width: 250px;
    }
  }
  .admin {
    display: block;
  }
  .event-list {
    width: 300px;
  }
  .modal {
    width: 70%;
    left: 20%;
    position: absolute;
    height: max-content;
    z-index: 100;
    .modal-content {
      .tooltiptext {
        background-color: var(--reportModal-bg);
        color: var(--modalContentColor);
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        z-index: 1;
        opacity: 1;
      }
      table {
        width: 100%;
      }

      .report-scrolling-data {
        margin: 10px;
        height: 200px;
        overflow-y: scroll;
        display: grid !important;
        width: 100%;
        tr {
          display: block;
        }
        tr.infoValue {
          td {
            background-color: var(--reportTablerow);
            display: block;
          }
        }
      }
      .tooltiptext {
        background-color: var(--reportModal-bg);
        color: var(--createlist-table-white-color);
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        z-index: 1;
        margin-left: 0.5rem;
      }
      .infoValue {
        background-color: var(--createlist-table-row-background);
      }
      .infoDetailTable {
        width: 100%;
        margin-top: 4%;
        td {
          padding: 5px;
        }
        h4 {
          color: var(--reportModal-bg);
          font-weight: bold;
          font-size: 13px;
        }
      }
      .report-table-scrolling {
        height: 200px;
        overflow-y: scroll;
        display: block;
      }
      .auditInfoDetail {
        width: 100%;
        td {
          width: 50%;
          padding: 5px;
        }
      }
    }
  }
}
