@import '../../themes.scss';

.platform {
	height: 100%;
	.edit-platform {
		padding: 0 48px 0 48px;
		padding-bottom: 60px;
		box-sizing: border-box;
		.form-heading {
			font-size: 20px;
			font-weight: bold;
			margin: 28px 0 28px 0;
			letter-spacing: 0;
			line-height: 30px;
			width: 100%;
		}
		.dynamic-metadata-input {
			padding-top: 25px;
		}
		.form-divider {
			.MuiDivider-root {
				height: 2px;
				@include lightTheme {
					background-color: $light-form-divider-color;
				}
			}
		}
		.section-heading {
			font-size: 18px;
			letter-spacing: 0;
			padding-top: 25px;
		}
		.form-fields {
			padding-top: 20px;
			max-width: 384px;
		}
		.add-metadata-btn:focus {
			outline: none;
		}
		.input {
			.form-control {
				border-radius: 0px;
			}
		}
		.add-metadata-btn {
			box-sizing: border-box;
			border-radius: 4px;
			width: 148px;
			font-size: 14px;
			box-shadow: none;
			@include lightTheme {
				border: 1px solid $metadata-btn-border-color;
				color: $metadata-btn-text-color;
				background-color: $metadata-btn-background-color;
			}
			&:hover {
				box-shadow: none;
			}
			padding: 4px;
			align-items: center;
			display: flex;
			justify-content: center;
			font-family: Roboto-Medium;
			text-transform: capitalize;
			&:focus {
				outline: none;
			}
		}
		.add-metadata-btn {
			.MuiSvgIcon-root {
				font-size: 1.2rem;
				@include lightTheme {
					color: $metadata-btn-text-color;
				}
			}
		}
		.add-platform-form:first-child {
			padding-top: 0px;
		}
		.MuiGrid-spacing-xs-4 > .MuiGrid-item {
			font-size: 12px;
			padding: 8px 16px 8px 0px;
		}
		.MuiGrid-spacing-xs-4 {
			margin: 0px;
			width: 100%;
			@include lightTheme {
				border-bottom: 1px solid $metadata-table-bottom-color;
			}
		}
		.MuiSvgIcon-root {
			@include lightTheme {
				color: $metadata-btn-text-color;
			}
		}
		.MuiGrid-grid-xs-2 {
			display: flex;
			align-items: center;
		}
		.metdata-header {
			opacity: 0.9;
			margin-top: 3px;
		}
		.button {
			padding-top: 25px;
		}
		.delete-icon {
			cursor: pointer;
		}
		.invalid-message {
			font-size: 12px;
			@include lightTheme {
				color: $error-font-color;
			}
		}
	}
	.slider-footer {
		@include lightTheme {
			border-top: 1px solid $right-slider-border-color;
			background: $rightslider-footer-background-color;
		}
		position: fixed;
		padding: 10px;
		bottom: 0px;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		.save-btn {
			box-shadow: none;
			border-radius: 4px;
			@include lightTheme {
				border: 1px solid $save-btn-border-color;
				color: $save-btn-color;
				background-color: $save-btn-background-color;
			}
			font-size: 14px;
			letter-spacing: 0;
			text-align: center;
			width: 80px;
			margin-left: 34px;
			padding: 5px;
			text-transform: capitalize;
			font-family: Roboto-Medium;
			height: 28px;
			&:hover {
				box-shadow: none;
			}
		}
		.save-btn:focus {
			outline: none;
		}
		.cancel-btn {
			height: 28px;
			width: 80px;
			border-radius: 4px;
			box-shadow: none;
			@include lightTheme {
				background-color: $cancel-btn-background-color;
				color: $cancel-btn-color;
			}
			border: none;
			font-size: 14px;
			letter-spacing: 0;
			text-align: center;
			margin-left: 20px;
			text-transform: capitalize;
			padding: 5px;
			&:hover {
				box-shadow: none;
			}
		}
		.cancel-btn:focus {
			outline: none;
		}
	}
}
