@import '../../themes.scss';

.MuiAppBar-colorPrimary {
	color: $light-bg-color-page;
	background-color: $grid-text-color !important;
}

.topbar-heading-first {
	color: $light-secondary-color;
	font-family: Roboto-Regular;
	font-size: 20px;
	margin-left: 0px;
	line-height: 24px;
	font-weight: bold;
}

.topbar-heading-mid {
	color: $light-secondary-color;
	font-family: Roboto-Light;
	font-size: 18px;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 24px;
}

.topbar-heading-last {
	color: $light-secondary-color;
	font-family: Roboto-Regular;
	font-size: 16px;
	margin-right: 55px;
	line-height: 24px;
}

.admin-menu {
	.MuiPopover-paper {
		top: 48px !important;
		color: $light-bg-color-page;
		width: 10%;
		margin-left: -15px;
		background-color: $light-bg-color-side-nav !important;
		ul {
			li {
				opacity: 0.6;
				font-size: 12x;
				font-family: Roboto-Light;
				padding-left: 20px;
			}
		}
		.MuiMenu-list .MuiListItem-button:hover {
			background-color: $light-active-bg-color-side-nav;
		}
	}
}

.app-nav {
	margin: 0 8px !important;
	line-height: 45px;

	&:hover {
		text-decoration: none !important;
	}
}

.AppBar .tool-bar {
	a {
		opacity: 0.6;
		font-family: Roboto-Regular;
		font-size: 14px;
		padding: 0px 15px;
	}
	a.active {
		opacity: unset;
		border-bottom: 4px solid $light-secondary-color;
		font-family: Roboto-Regular;
		font-size: 14px;
		@include lightTheme {
			background-color: $light-active-bg-color-side-nav;
		}
	}
}

.MuiToolbar-root {
	.MuiButton-text {
		opacity: 0.6;
		font-family: Roboto-Regular;
		font-size: 14px;
	}
	.MuiButtonBase-root.active {
		border-bottom: 4px solid $light-secondary-color;
		padding: 10px 8px;
		opacity: unset;
		font-family: Roboto-Regular;
		font-size: 14px;
		@include lightTheme {
			background-color: $light-active-bg-color-side-nav;
		}
	}
}

.MuiPaper-rounded {
	border-radius: 0 !important;
}

.MuiSvgIcon-root {
	color: #a0a0a0;
	width: 18.57px;
}

.tool-bar {
	.MuiButton-root {
		line-height: unset;
		text-transform: unset;
		border-radius: unset;
	}
}

.user-icon {
	width: 24px;
	height: 24px;
	margin-top: 5px;
	cursor: pointer;
}
.user-icon-div {
	position: absolute;
	right: 0px;
}
