@import '../../themes';

.dialog-box-common {
	.MuiPaper-rounded {
		border-radius: 4px !important;
		width: 400px;
	}
	.MuiDialogActions-root {
		padding-right: 20px;
		padding-bottom: 20px;
	}
	.dialog-heading {
		font-size: 20px;
		font-family: Roboto-Medium;
		margin: 28px 0 28px 0;
		letter-spacing: 0;
		line-height: 30px;
	}
	.content {
		font-size: 17px;
	}
	.close-icon {
		position: absolute;
		top: 15px;
		right: 20px;
		cursor: pointer;
		@include darkTheme {
			color: $close-icon-color;
		}
	}
	.actions-btn {
		.primary-btn {
			height: 30px;
		}
		.standard-btn {
			height: 30px;
		}
	}
}

.dialog-box-invite-users {
	.MuiPaper-rounded {
		width: 500px;
	}
	.actions-btn {
		.primary-btn {
			width: auto;
		}
	}
}
.web-service-dialog {
	.MuiPaper-rounded {
		min-width: 652px;
		max-width: 652px;
	}
}
