.available-privilages,.unavailable-privilages{
    width: 250px !important;
    height: 275px !important;
    padding: 10px 10px !important;
    font-size: 13px !important;
}
.available-header,.unavailable-header{
   width:250px;
}
