@import '../../themes';
.view-repository {
	.right-side-drawer {
		margin: 0 40px 90px 40px;
		.platform-name {
			padding: 20px 0;
			font-family: Roboto-Medium;
			font-size: 20px;
			font-weight: 500;
		}
		.card-sub-heading {
			font-family: Roboto-Medium;
			font-size: 16px;
			padding: 16px 0;
			display: block;
		}
		.label {
			padding: 10px 0;
			height: 20px;
			color: $dark-bg-color-page;
			font-size: 14px;
			letter-spacing: 0;
			line-height: 20px;
			padding-bottom: 10px;
		}
		.table-label {
			font-weight: 100;
			padding-bottom: 10px;
		}
		.table-value {
			padding-left: 15px;
			text-transform: none;
		}
		.meta-data {
			margin: 0;
		}
		.version-key,
		.version-value {
			padding-right: 15px;
			opacity: 0.6;
			color: $view-sub-value-text-color;
			padding-bottom: 10px;
			font-size: 14px;
		}
		.content {
			opacity: 0.6;
			color: $view-sub-value-text-color;
			padding-bottom: 10px;
			font-size: 14px;
		}
		.edit {
			border-bottom: 1px solid $right-slider-border-color;
			padding-bottom: 16px;
			width: 100%;
			cursor: pointer;
			.edit-label {
				position: relative;
				bottom: 6px;
			}
		}
	}
	.slider-footer {
		@include lightTheme {
			border-top: 1px solid $right-slider-border-color;
			background: $rightslider-footer-background-color;
		}
		position: fixed;
		padding: 10px;
		bottom: 0px;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		box-sizing: border-box;
	}
	.cancel-btn {
		height: 28px;
		width: 80px;
		border-radius: 4px;
		box-shadow: none;
		@include lightTheme {
			background-color: $cancel-btn-background-color;
			color: $cancel-btn-color;
		}
		border: none;
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		margin-left: 20px;
		text-transform: capitalize;
		padding: 5px;
		&:hover {
			box-shadow: none;
		}
	}
	.cancel-btn:focus {
		outline: none;
	}
}
