@import '../../themes';
.isy-toolbar.isy-toolbar.isy-toolbar {
	background-color: $avatar-color;
	min-height: 48px;
	.isy-toolbar-row {
		display: flex;
		flex-grow: 1;
		.isy-toolbar-flex-grow {
			flex-grow: 1;
		}
		.isy-toolbar-separator {
			box-sizing: border-box;
			height: 26px;
			width: 1px;
			border: 1px solid #000000;
			opacity: 0.2;
			margin-top: 13px;
		}
		.isy-toolbar-button {
			box-sizing: border-box;
			border-radius: 4px;
			width: 115px;
			padding: 5px;
			opacity: 1;
			text-transform: none;
			@include lightTheme {
				color: $dark-bg-color-page;
				background-color: inherit;
			}
			svg {
				font-size: 1.2rem;
				padding: 12px 1px;
				@include lightTheme {
					color: $metadata-btn-text-color;
				}
			}
		}
		.standard-btn {
			width: 115px;
			padding: 5px;
			opacity: 1;
			text-transform: none;
			@include lightTheme {
				color: $dark-bg-color-page;
				background-color: inherit;
			}
			svg {
				font-size: 1.2rem;
				padding: 12px 1px;
				@include lightTheme {
					color: $metadata-btn-text-color;
				}
			}
			&.Mui-disabled {
				opacity: 0.5;
			}
		}
		.isy-search {
			margin-top: 10px;
		}
		.isy-toolbar-icon {
			svg {
				@include lightTheme {
					color: $metadata-btn-text-color;
				}
			}
			&.Mui-disabled {
				opacity: 0.5;
			}
		}
	}
}
