@import '../../themes.scss';
.dynamic-textarea {
	.form-label-required {
		@include lightTheme {
			color: $form-label-required-color;
		}
	}
	.form-label {
		font-size: 14px;
		cursor: pointer;
		margin-bottom: 0.5rem;
		display: block;
	}
	.form-control {
		display: block;
		width: 100%;
		height: 92px;
		padding: 6px 12px 6px 12px;
		line-height: 1.5;
		box-sizing: border-box;
		font-family: inherit;
		@include lightTheme {
			border: 1px solid $form-control-border-color;
			color: $form-control-font-color;
		}
		border-radius: 4px;
		font-size: 14px;
	}
	.form-control.input-error {
		@include lightTheme {
			border: 1px solid $error-border-color;
		}
		outline: 0 none;
	}
	.form-control:focus {
		@include lightTheme {
			border-color: $form-control-border-color;
		}
		outline: 0 none;
	}
}
