.editList .row{
    margin-bottom: 25px;
}
.editList .form-group.row{
    margin-bottom: 0px;
}
.editList .row:first-child{
    margin-top: 25px;
}
.editList .form-group.row:first-child{
    margin-top: 0px;
}
.editList .error-parent .edl_success,.editList .error-parent .edl_error_feedback {
    margin-left: 0 !important;
    margin-bottom: 30px !important;
}