@import '../../../../themes';
.accelerator-bar {
	display: flex;
	@include lightTheme {
		background-color: $light-bg-color-page;
	}
	padding: 10px 28px;
	.filter-btn {
		height: 32px;
		width: 115px;
		font-size: 14px;
		color: #383838;
		border: 1px solid $app-bar-right-border-color;
		border-radius: 4px;
		background-color: $light-bg-color-page;
		cursor: pointer;
		&:focus {
			outline: none;
		}
		&:hover {
			color: $search-icon-color;
			background-color: $app-type-chip-color;
		}
	}
	.pop-btn {
		margin-left: 30px;
		width: 128px;
		height: 32px;
		border-radius: 2px;
		border: none;
		font-size: 14px;
		color: $form-control-font-color;
		font-family: Roboto-Regular;
		line-height: 32px;
		cursor: pointer;
		padding: 0 6px 0 12px;
		text-align: left;
		@include lightTheme {
			background-color: $avatar-color;
		}
		&:focus {
			outline: none;
		}
		svg {
			@include lightTheme {
				color: $search-icon-color;
			}
			width: 19px;
			height: 15px;
			float: right;
			padding-top: 8px;
		}
	}
	.flex-grow {
		flex-grow: 1;
	}
	.border-right {
		border: $apps-divider-color;
		height: 15px;
		margin: 8px 15px 0;
	}
	.select-class {
		.input-base {
			box-sizing: border-box;
			height: 32px;
			@include lightTheme {
				background-color: $light-bg-color-page;
				border: 1px solid $app-bar-right-border-color;
			}
			border-radius: 2px;
			width: 147px;
			div {
				font-size: 14px;
				min-height: auto;
				padding-left: 8px;
				&:focus {
					background-color: transparent;
				}
			}
		}
	}
	.card-view,
	.list-view {
		padding: 5px 7px 8px;
		border-radius: 5px;
		height: 20px;
		cursor: pointer;
		svg {
			color: $grid-text-color;
			opacity: 0.6;
		}
	}

	.select-icon {
		background-color: $app-type-chip-color;
	}
}
.accelerator-bar-popover {
	.border-bottom {
		border-bottom: 1px solid $cancel-btn-background-color;
	}
	li {
		div {
			display: flex;
			direction: rtl;
			span {
				width: 132px;
			}
			svg {
				color: $search-icon-color;
				width: 16px;
				height: 16px;
			}
		}
		font-size: 12px;
		height: 32px;
		width: 180px;
	}
}
