@import '../../../../../themes';
.key-popover {
	.key-icon {
		width: 20px;
		height: 20px;
		padding-right: 8px;
		vertical-align: middle;
	}
	.key_label {
		vertical-align: middle;
	}
	.none_key_svg {
		fill: $none-key-color;
	}
	.primary_key_svg {
		fill: $primary-key-color;
	}
	.foreign_key_svg {
		fill: $foreign-key-color;
	}
	.unique_key_svg {
		fill: $unique-key-color;
	}
}
