.AnalyzeTransactions {
  select {
    width: 250px;
    color: var(--select-black-color);
  }
  .react-datepicker select {
    width: unset;
  }

  .transactionBasedSearch select {
    width: 100%;
  }

  .selectedTab {
    background: var(--myactivity-input-color);
  }

  .nav-pills {
    border-bottom: 1px solid var(--nav-pills-background-color);

    li {
      padding: 10px;
      color: rgb(87, 103, 109);
      font-family: ca-sans;
      font-size: 16px;
      padding: 10px;
      cursor: pointer;
    }
  }
  .setInputWidth {
    input,
    select {
      width: 74%;
      flex: none;
    }
  }
  .tabui {
    margin: 10px 0 0 20px;
  }

  .grey-button,
  .grey-button:hover {
    background: var(--bulkdivider-border-color) !important;
  }

  .buttons-tran {
    margin-left: -12%;
  }

  .buttons-tran input {
    margin-left: 5% !important;
  }

  .multiple-select-zone {
    select {
      width: 200px !important;
      height: 150px !important;
    }

    margin: 3% 0 3%;
  }

  .margin-minus {
    margin-left: -3% !important;
  }

  .margin-minus.second {
    margin-left: -5% !important;
  }

  .mini-select {
    select {
      width: 150px;
    }

    input {
      width: 245px;
    }
  }

  .transactionButtons {
    input {
      margin-left: 3%;
    }
  }
  table {
    overflow-wrap: break-word;
  }
  th:first-child.MuiTableCell-root,
  th:second-child.MuiTableCell-root {
    background: var(--analyze-table-header-dark) !important;
  }
  .break-all {
    word-break: break-all;
  }
  table:first-child {
    tr {
      td:first-child,
      td:nth-child(2),
      th:first-child,
      th:nth-child(2) {
        position: sticky !important;
        left: 0;
        background: var(--analyze-white-color);
        z-index: 999;
      }
      th:first-child,
      th:nth-child(2) {
        z-index: 9999;
        background: var(--analyze-table-header-dark) !important;
        border: 1px solid var(--analyze-white-color) !important;
      }
      th:nth-child(2),
      td:nth-child(2) {
        left: 46px !important;
        position: sticky !important;
        z-index: 999;
      }
    }
    tr:nth-child(even) td {
      background: var(--createlist-table-row-background) !important;
    }
  }
  th:first-child span {
    left: -8px;
  }
  .detailsSummary p {
    width: 100%;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .details-card {
    background: var(--createlist-table-row-background);
  }
  .details-block {
    margin-top: 3%;
    .col-form-label {
      margin-right: 3px;
    }
  }
  select.small {
    width: 58px !important;
    background-position: 39px 7px !important;
  }
}
