@import '../../../themes';
.forgot-password-container {
	background-repeat: no-repeat;
	position: fixed;
	min-width: 100%;
	margin-left: -34px;
	margin-top: -20px;

	.logo-header {
		height: 36px;
		width: 50%;
		@include lightTheme {
			color: $light-secondary-color;
		}
		font-family: Roboto;
		font-size: 27px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 36px;
	}
	.logo-text {
		img {
			width: 20%;
			padding-top: 55px;
			padding-left: 65px;
		}
	}
	.form {
		float: right;
		@include lightTheme {
			color: $dark-bg-color-page;
			background: $light-bg-color-page;
		}
		width: 576px;
		height: 750px;
		.forgot-password-form {
			padding: 130px 128px 50px 128px;
			box-sizing: border-box;
			.isy-form-builder-container {
				width: 100%;
				@include lightTheme {
					color: $dark-bg-color-page;
				}
				.isy-form-builder-section-header {
					font-family: Roboto-Thin;
					font-size: 28px;
					font-weight: 100;
					letter-spacing: 0;
					text-align: center;
					margin-bottom: 60px;
					display: block;
				}
				.isy-animation-input {
					margin-bottom: 15px;
					width: 100%;
				}
				.error-label {
					@include lightTheme {
						color: $error-text-color;
					}
					font-size: 12px;
					font-family: Roboto-Regular;
					display: block;
					text-align: left;
					padding-top: 2px;
				}
			}
			.primary-btn {
				margin-top: 10px;
				margin-bottom: 40px;
				height: 40px;
				width: 100%;
			}
			.remember-password {
				.message-class {
					position: relative;
					float: left;

					.remember-tag {
						height: 20px;
						width: 184px;
						color: #333333;
						font-family: Roboto-Regular;
						font-size: 15px;
						letter-spacing: 0;
						line-height: 20px;
					}
				}
				.log-in {
					float: right;
					position: relative;
					right: 85px;
					height: 20px;
					width: 46px;
					color: #e34d28;
					font-family: Roboto-Regular;
					font-size: 15px;
					letter-spacing: 0;
					line-height: 20px;
					a {
						cursor: pointer;
					}
				}
			}
		}
	}
	.footer {
		position: relative;
		top: 70px;
		height: 100px;
		padding: 0 48px;
	}
}
