@import '../../themes';
.pendingInvites {
	.pending-records {
		border-top: 1px solid $background-color-email;
		width: 100%;
		align-items: center;
		padding: 5px 0px 0px 10px;
		font-size: 13px;
		font-family: Roboto-Regular;
		align-items: center;
	}
	.pending-name {
		padding-left: 5px;
	}
	.table-row {
		th:first-child {
			width: 54px;
		}
	}
	.role.MuiInputBase-root {
		font-size: 12px;
		font-family: Roboto-Regular;
		font-weight: none;
	}
	.delete-icon {
		@include lightTheme {
			color: $dark-bg-color-page;
		}
		opacity: 0.6;
		height: 17px;
		width: 16px;
	}
}
.MuiDialogContent-root {
	.MuiDialogContentText-root {
		margin-bottom: 10px;
	}
}
