.arrow_btn {
    padding: 9px;
    min-width: 31px !important;
    cursor: pointer;
}
.swapping-list-parent .tertiary-btn {
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    border: currentColor;
    border-image: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: ca-sans-bold;
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
    display: block;
    width: 5px;
    margin: 22px 0px;
    text-align: center;
    padding: 0px;
}
.arrow-group li{
list-style: none;
}
.arrow-group {
        padding:20px;
}
.swap-select .available-privilages {
    width: 236px !important;
    height: 224px !important;
    font-size: 13px !important;
}
.swap-select .unavailable-privilages {
    width: 236px !important;
    height: 224px !important;
    padding: 10px 10px !important;
    font-size: 13px !important;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}