.MuiCheckbox-colorSecondary.Mui-checked {
    color: #57c1b4 !important;
}
.MuiPaper-elevation2 {
box-shadow:unset !important;
}
.MuiToolbar-root{
    display: none !important;
}
.MuiCheckbox-colorSecondary.Mui-checked:hover,.MuiIconButton-colorSecondary:hover {
    background-color: rgba(87, 193, 180, 0.14) !important;
}
.MuiTableCell-head{
    color: #444;
    background-color: #f4f4f4 !important;
    border: 1px solid #e6e6e6;
    font-size: 14px !important;
    font-weight: 700 !important;
    height: 40px;
    padding: 5px 10px 0;
    border-left: none;
    border-right: none;
    text-align: left;
    max-width: 110px;
}
.MuiTableCell-root div{
    max-width: 110px;
}
.MuiTable-root tbody tr:nth-child(even) {background: #f4f4f4}
.MuiTableCell-root a{
  color: #57c1b4 !important;
}
.pagination > li{
    padding: 0px 2px !important;
}
.pagination  li a{
color: #57c1b4 !important;
}
.pagination li.active a{
    color: black !important;
}
.MuiTableCell-root {
    font-size: 12px !important;
    padding: 0px !important;
}
.search-number{
    float: left;
    padding: 0px 50px;
}
.MuiCheckbox-root {
    color: rgba(0, 0, 0, 0.4) !important;
}
.MuiSvgIcon-root{
    font-size:1.3rem !important;
}
.MuiTableBody-root  tr td{
    border: 1px solid rgba(224, 224, 224, 0.41);
}
