@import '../../themes.scss';

.add-platform-button-container {
	position: relative;
	.add-platform-class {
		position: absolute;
		bottom: 25px;
		right: 25px;
		position: absolute;
		font-family: Roboto-Medium;
		@include lightTheme {
			color: $light-bg-color-page;
			background: $light-secondary-color;
			&:hover {
				background: $hover-secondary-color;
			}
		}
		min-width: 72px;
		padding-bottom: 5px;
		border: none;
		border-radius: 4px;
		height: 32px;
		font-weight: 400;
		font-size: 12px;
		opacity: 1;
		text-transform: capitalize;
		&:focus {
			outline: none;
		}
	}
}
