@import '../../../themes.scss';
.versions-data {
	.add-version-btn {
		padding: 20px 0px;
	}
	.add-version {
		background-color: $version-background-color;
		// max-width: 456px;
		box-sizing: border-box;
		margin-top: 20px;
		padding: 10px 0px;
		.add-btn-box {
			display: flex;
			margin: 16px 16px 0;
			padding: 20px;
			background-color: $light-bg-color-page;
		}
		.button-header {
			flex-grow: 1;
			display: flex;
			align-items: center;
		}
		.version-details {
			display: flex;
			margin: 16px;
			justify-content: space-between;
			.version-header {
				font-size: 16px;
				font-family: Roboto-Medium;
			}
			.version-delete {
				display: flex;
				.delete-version-icon {
					cursor: pointer;
					display: block;
				}
			}
		}
		.version-metadata-box {
			margin: 16px;
			background-color: $light-bg-color-page;
			.header-classname {
				flex: 2;
				display: flex;
				align-items: center;
			}
			.container {
				display: flex;
				padding: 20px;
				border-bottom: 1px solid $version-background-color;
			}
			.metdata-header {
				opacity: 0.9;
				margin-top: 3px;
				padding-left: 20px;
			}
			.dynamic-form-input {
				.MuiGrid-spacing-xs-4 {
					padding-left: 20px;
				}
			}
		}
		.add-version-subdata {
			display: flex;
			box-sizing: border-box;
			.MuiGrid-spacing-xs-3 {
				margin: 4px;
			}
			.multi-select {
				.expand-more {
					position: relative;
					z-index: 0;
					bottom: 29px;
					right: 10px;
					float: right;
				}
				._2iA8p44d0WZ-WqRBGcAuEV {
					border-radius: 4px;
					background-color: $light-bg-color-page;
				}
				#error {
					._2iA8p44d0WZ-WqRBGcAuEV {
						border-radius: 4px;
						background-color: $light-bg-color-page;
						@include lightTheme {
							border: 1px solid $error-border-color;
						}
					}
				}
				._7ahQImyV4dj0EpcNOjnwA {
					color: $dark-bg-color-page;
					background: $multi-select-background;
				}
				.lhyQmCtWOINviMz0WG_gr {
					background: $light-secondary-color;
				}
				.optionContainer > li:hover {
					background: $light-secondary-color;
				}
				.form-label-required {
					@include lightTheme {
						color: $form-label-required-color;
					}
				}
				.invalid-message {
					margin-left: 0px;
				}
				.form-label {
					font-size: 14px;
					cursor: pointer;
					margin-bottom: 0.5rem;
					display: block;
				}
			}
			.version-metadata-btn {
				padding-top: 14px;
			}
			.version-module-btn {
				padding-top: 14px;
			}
		}
	}

	.add-module {
		background-color: $version-background-color;
		// max-width: 456px;
		box-sizing: border-box;
		.add-btn-box {
			margin: 16px 16px 1px 16px;
			padding: 20px;
			background-color: $light-bg-color-page;
		}
		.add-module-container {
			box-sizing: border-box;
			margin: 1px 16px;
			padding-top: 14px;
			background-color: $light-bg-color-page;
			.add-module-subdata {
				box-sizing: border-box;
				padding-bottom: 15px;
				margin: 1px 16px;
				background-color: $light-bg-color-page;
				display: flex;

				.module-field {
					margin-right: 22px;
				}
				.delete-container {
					border-left: 1px solid $module-data-color;
					width: 47px;
					text-align: center;
					position: relative;
					cursor: pointer;
					.delete-module-btn {
						position: absolute;
						top: 45%;
					}
				}
			}
			.module-metadata {
				.button {
					padding: 0px 20px 12px 20px;
					pointer-events: cursor;
				}
				.metdata-header {
					opacity: 0.9;
					border-top: 2px solid $version-background-color;
					margin-top: 3px;
					padding-left: 20px;
				}
				.dynamic-form-input {
					.MuiGrid-spacing-xs-4 {
						padding-left: 20px;
					}
				}
			}
			.module-metadata-btn {
				border-top: 1px solid $version-background-color;
				padding-top: 25px;
				padding-left: 24px;
			}
			.module-module-btn {
				padding-top: 14px;
			}
		}
	}
}
