.error-parent .edl_error_feedback {
    background-color: #a11c2e;
    margin: 10px 30px 0px 30px;
}
.error-parent .edl_success {
    background-color: #18AA4A;
    margin: 10px 30px 0px 30px;
}
.error-parent .edl_error_feedback div{
    color: #fff;
    white-space: pre-wrap;
}
.error-parent .edl_success div{
    color: #fff;
}
.error-parent .error-list{
    padding:10px;
}
.error-parent ul{
    margin: 0;
}
.error-parent{
    padding: 5px 0;
}