@import '../../../themes';
.default-create-app {
	.header-section {
		height: 70px;
		border-bottom: 1px solid $app-border-color;
		width: 100%;
		padding: 23px 37px;
		box-sizing: border-box;
		.header-close-icon {
			float: right;
			cursor: pointer;
		}
		.header-title {
			font-size: 20px;
			font-family: Roboto-Regular;
			letter-spacing: 0;
			opacity: 0.87;
		}
	}
	.header-create-section {
		height: 70px;
		width: 100%;
		padding: 23px 40px;
		box-sizing: border-box;
		.header-close-icon {
			float: right;
			cursor: pointer;
		}
		.header-title {
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 0;
		}
	}
	.app-success-page {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		flex-direction: column;
		.app {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background-color: $app-success-background-color;
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				width: 2em;
				height: 2em;
				color: $light-secondary-color;
			}
		}
		.app-success-text {
			font-size: 16px;
			font-family: Roboto-Regular;
			color: $dark-bg-color-page;
			padding: 18px 0px;
			opacity: 0.9;
		}
		.primary-btn {
			width: 134px;
			height: 32px;
		}
	}
	.create-app-progress {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			color: $light-secondary-color;
		}
	}
	.create-app-middle-section {
		height: calc(100% - 140px);
		overflow-y: auto;
		@extend %custom-scroll-bar-y;
		width: 100%;
		padding-bottom: 20px;
		padding-left: 35px;
		padding-right: 11px;
		box-sizing: border-box;
		.isy-form-builder-accordion-section:last-child {
			.isy-accordion-summary {
				padding-left: 0px;
				border-bottom: none;
			}
			.isy-accordion-summary.Mui-expanded {
				border-bottom: none;
			}
			.MuiCollapse-wrapperInner {
				padding-bottom: 15px;
				border-bottom: none;
			}
		}
		.isy-form-builder-input {
			padding-top: 10px;
			.isy-dropdown {
				.isy-dropdown-control {
					height: 32px;
				}
			}
		}
		.isy-form-builder-section-header {
			font-family: Roboto-Regular;
			font-size: 18px;
			opacity: 0.87;
		}
	}
	.middle-section {
		height: calc(100% - 250px);
		overflow-y: auto;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.app-create-text {
			font-family: Roboto-Regular;
			font-size: 16px;
			padding-bottom: 30px;
		}
		.secondary-btn.hide-class {
			display: none;
		}
		.secondary-btn.isy-button {
			width: 280px;
			height: 40px;
			margin-bottom: 10px;
			svg {
				color: $light-secondary-color;
				padding-right: 5px;
			}
			&:focus {
				svg {
					color: #ffffff;
				}
			}
		}
	}
	.bottom-section {
		border-top: 1px solid $app-border-color;
		height: 70px;
		box-sizing: border-box;
		padding: 19px 40px;
		.primary-btn {
			width: 80px;
			height: 32px;
		}
		.standard-btn {
			height: 32px;
			width: 80px;
			margin-right: 20px;
		}
	}
}
