@import '../../../themes';
.createDataBase {
	padding-bottom: 20px;
	.isy_input {
		width: 100%;
		border: 1px solid $form-control-border-color;
		line-height: 2;
		box-sizing: border-box;
		border-radius: 4px;
		padding: 6px 12px 6px 12px;
		&.error-input {
			border: 1px solid $error-font-color;
		}
	}
	.error-label {
		font-size: 12px;
		color: $error-font-color;
	}
	.MuiTypography-root {
		font-size: 14px;
		font-family: Roboto-Bold;
		margin: 5px 0px 8px 0px;
	}
}
