@import '../../themes.scss';
.versions {
	.MuiFormControl-root {
		@include lightTheme {
			border: 1px solid $form-control-border-color;
		}
		border-radius: 4px;
		width: 100%;
	}
	.error.MuiFormControl-root {
		@include lightTheme {
			border: 1px solid $error-border-color;
		}
	}
	.WAMuiChipInput-chipContainer-10 {
		min-height: 32px;
		margin-bottom: 0px;
	}
	.MuiChip-root {
		margin: 3px 3px;
	}
	.MuiChip-label {
		padding-left: 18px;
		padding-right: 18px;
	}
	.MuiInputBase-input {
		font-size: 14px;
		padding: 6px 7px 6px 12px;
		box-sizing: border-box;
		&::placeholder {
			font-size: 14px;
			opacity: 0.9;
			@include lightTheme {
				color: $form-control-font-color;
			}
		}
	}
	.form-label {
		font-size: 14px;
		cursor: pointer;
		margin-bottom: 0.5rem;
		display: block;
	}
	.form-label-required {
		@include lightTheme {
			color: $form-label-required-color;
		}
	}
}
