.manageInbound {
  .react-datepicker-wrapper {
    input.startDate,
    input.endDate {
      width: 130px !important;
    }
  }

  .setGreyback {
    background: var(--bulkdivider-border-color);
  }

  .grey-button,
  .grey-button:hover {
    margin-left: 0px;
    background: var(--bulkdivider-border-color) !important;
  }
  .Transac-inbound {
    .col-form-label {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
    label {
      word-break: break-all;
    }
  }
  select,
  input[type="text"] {
    // width: 250px !important;
    color: var(--select-black-color);
    // flex: none !important;
  }

  .react-autosuggest__container {
    ::placeholder {
      color: var(--select-black-color);
      opacity: 1;
      /* Firefox */
    }
  }

  .react-autosuggest__input {
    font-size: 13px;
    padding: 7px 10px;
    color: var(--select-black-color);
    font-weight: 400;
  }

  .noMarginrow {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-left: -20px;

    .custom-control {
      padding-left: 0px;
    }
  }

  .MuiTable-root {
    thead {
      th.MuiTableCell-root {
        padding-top: 0px !important;
      }
    }
  }

  select.small {
    min-height: 30px;
    border-radius: 4px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 13px;
    margin-left: 3px;
    padding: 8.5px 10px;
    border: 1px solid var(--radio-disabled-background);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("/images/dropdown.png") no-repeat 97% 50%;
    text-indent: 0.01px;
    text-overflow: "";
    z-index: 1000;
    background-position: 39px 7px !important;
    width: 58px !important;
  }
  select:disabled {
    color: var(--analyze-table-header-dark);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    z-index: 0;
  }
  .select-user-state .form-control:disabled,
  .form-control[readonly] {
    background-color: var(--modal-successheader-color);
    opacity: 1;
  }

  .case-data {
    margin-top: 0;
    margin-bottom: 0;
  }
  .case-note-scroll {
    height: 110px;
    min-height: 35px;
    overflow-y: auto;
  }

  .custom-flex {
    .transactions {
      flex-grow: 1 !important;
      flex: 1 1 50% !important;
      display: inline-flex;
      margin-bottom: 0.5rem;
      width: 50%;
    }
  }
  .detailsSummary p {
    width: 100%;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .case-note-bgcolor {
    background-color: var(--createlist-table-row-background);
  }
  .manage-button {
    margin-left: 55%;
  }
  .table-x {
    overflow: auto;
    margin-top: 2%;
  }
  .background-effect {
    background: var(--analyze-table-header-dark) !important;
    border: 0.1px solid var(--analyze-white-color) !important;
    z-index: 1 !important;
  }
  .sticky {
    position: sticky !important;
  }
  .no-background-effect {
    background: var(--analyze-white-color);
  }
  .changeInput {
    input {
      width: 130px !important;
    }
  }

  .mini-sele {
    min-width: 40px !important;
  }
  .zoomCheckbox {
    zoom: 1.5;
    margin-left: 5px;
  }
  .react-datepicker-popper {
    z-index: 4;
  }
  .headerImgSelect,
  .userTransheaderImgSelect {
    position: absolute;
    width: 150px;
    display: block;
    background: var(--inbound-table-select);
    margin: 0px;
    padding: 0px;
    z-index: 999 !important;
    border: 1px dotted var(--inbound-select-dotted);
    a {
      color: var(--inbound-select-text-color) !important;
      font: 12px arial;
      text-decoration: none;
      display: block !important;
      padding-left: 10px;
    }
  }
  .noAlerts {
    color: var(--inbound-no-alerts);
    font-size: 16px;
  }
  .MuiTableCell-root {
    padding: 0 10px 0 10px !important;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  table {
    overflow-wrap: break-word;
    select {
      min-width: 200px !important;
    }
    th,
    td {
      z-index: 0 !important;
    }
    tr {
      td:first-child,
      td:nth-child(2),
      th:first-child,
      th:nth-child(2) {
        @extend .sticky;
        @extend .no-background-effect;
        left: 0;
      }
      th:nth-child(2) {
        @extend .background-effect;
      }
      th:first-child {
        @extend .background-effect;
      }
      th:nth-child(2),
      td:nth-child(2) {
        left: 65px !important;
        @extend .sticky;
        @extend .no-background-effect;
      }
      th:nth-child(2) {
        @extend .background-effect;
      }
      th:nth-child(3),
      td:nth-child(3) {
        left: 107px !important;
        @extend .sticky;
        @extend .no-background-effect;
      }
      th:nth-child(3) {
        @extend .background-effect;
      }
      th:nth-child(4),
      td:nth-child(4) {
        left: 327.67px !important;
        @extend .sticky;
        @extend .no-background-effect;
      }
      th:nth-child(4) {
        @extend .background-effect;
      }
    }
    tr:nth-child(even) td {
      background: var(--createlist-table-row-background) !important;
    }
  }
}
