.success-parent .edl_success_feedback {
    background-color: #18aa4a;
    margin: 10px 30px 0px 30px;
}
.success-parent .edl_success_feedback div {
    color: #fff;
}
.success-parent  .success-list {
    padding: 10px;
}