@import '../../themes';

.table-pagination {
	.MuiTablePagination-actions {
		.MuiIconButton-colorInherit {
			.MuiSvgIcon-root {
				fill: $schema-icon-color;
			}
		}
		.MuiIconButton-colorInherit.Mui-disabled {
			.MuiSvgIcon-root {
				fill: $scroll-bar-track-shadow;
			}
		}
	}
}
