@import '../../themes';
.isy-checkbox {
	.MuiSvgIcon-root {
		width: 0.875em;
		height: 0.875em;
	}
	.MuiCheckbox-colorSecondary.Mui-checked {
		.MuiSvgIcon-root {
			fill: $light-secondary-color;
		}
	}
	.isy-checkbox-label {
		cursor: pointer;
	}
}
