
.available-privilages, .unavailable-privilages {
    width: 225px !important;
    height: 250px !important;
    padding: 10px 10px !important;
    font-size: 13px !important;
}
.admin-arrow-group  {
    top: 108px;
    position: absolute;
}
.admin-arrow-group li{
    list-style: none;
    }
.select-info{
    position: absolute;
    left: 177px;
}

.multiSelectOptionList{
    width: 250px !important;
    height: 175px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
    border: 1px solid #d8d8d8;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.selectMenu select[multiple]:focus option:checked {
    background: #53bbd4 linear-gradient(0deg, #53bbd4 0%,#53bbd4 100%);
  }
  
  
.multiSelectOptionList option {
    padding-left: 10px;
    padding-top: 5px;
    display: block;
}

.search-input{
    background-color:#F1F1F1!important;
}
.fake-input { position: relative; width:250px;background-color:#F1F1F1!important;}
.fake-input img { position: absolute; top: 4px; right: 5px }
.multiSelectOptionList li:hover {
    background-color: #f1fafc;
}
.optionSelected {
    background-color: #53bbd4 !important;
    color: #ffffff;
}
.img-style{
    cursor: pointer;
}
.toggleBtnDis {
    opacity: 0.4;
}
.disabled {
    pointer-events: none;
    opacity: 0.7;
}
.search-input:focus{
   background: #FFFFFF !important;
}
.search-input:focus::-webkit-input-placeholder {
    color: transparent!important;
}    

.error-message {
padding: 10px;
margin-bottom: 20px;
color: #fff;
font-family: ca-sans;
font-size: 15px;
background-color: #A11C2E;
}
.success-message {
padding: 10px;
margin-bottom: 20px;
color: #fff;
font-family: ca-sans;
font-size: 15px;
background-color: #18AA4A;
}
.error-message-color {
color: #fff;
}

