.available-privilages {
	width: 225px !important;
	height: 250px !important;
	padding: 10px 10px !important;
	font-size: 13px !important;
}
.unavailable-privilages {
	width: 225px !important;
	height: 250px !important;
	padding: 10px 10px !important;
	font-size: 13px !important;
}
.admin-arrow-group {
	top: 108px;
	position: absolute;
	li {
		list-style: none;
	}
}
.select-info {
	position: absolute;
	left: 177px;
}
.multiSelectOptionList {
	width: 250px !important;
	height: 175px !important;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0px;
	border: 1px solid #d8d8d8;
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-bottom-right-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	option {
		padding-left: 10px;
		padding-top: 5px;
		display: block;
	}
	li {
		&:hover {
            background-color: var(--createadmin-hover);
		}
	}
}
.selectMenu {
	select[multiple] {
		&:focus {
			option {
				&:checked {
					background-color: var(--selectmenu-checked);
				}
			}
		}
	}
}
.search-input {
	background-color:var(-swappingsearch-bg) !important;
	&:focus {
        background-color: var(--createlist-table-white-color) !important;
		&::-webkit-input-placeholder {
			color: transparent !important;
		}
	}
}
.fake-input {
	position: relative;
	width: 250px;
	background-color:var(-swappingsearch-bg) !important;
	img {
		position: absolute;
		top: 4px;
		right: 5px;
	}
}
.optionSelected {
	background-color: var(--selectoption-bg) !important;
	color: #ffffff;
}
.img-style {
	cursor: pointer;
}
.toggleBtnDis {
	opacity: 0.4;
}
.disabled {
	pointer-events: none;
	opacity: 0.7;
}
.error-message {
	padding: 10px;
	margin-bottom: 20px;
	color: #fff;
	font-family: ca-sans;
	font-size: 15px;
	background-color:var(--error-bg);
}
.success-message {
	padding: 10px;
	margin-bottom: 20px;
	color: #fff;
	font-family: ca-sans;
	font-size: 15px;
	background-color: var(--success-bg);
}
.error-message-color {
	color: #fff;
}
.org-width {
	width: 162px;
}
