@import '../../../../themes.scss';
.database-container {
	.database-table {
		width: 230px;
		&:hover {
			.header-icon {
				visibility: visible;
			}
		}
	}
	table,
	th,
	td {
		padding: 5px;
		@include lightTheme {
			border: 1px solid $db-table-td-border;
		}
		border-collapse: collapse;
		width: 105px;
	}
	table {
		width: 230px;
	}

	thead {
		height: '33px';
	}

	th {
		@include lightTheme {
			background-color: $db-table-th-bg;
		}
		text-align: left;
	}
	.table-name {
		font-size: 14px;
		font-family: Roboto-Medium;
		@include lightTheme {
			color: $dark-bg-color-page;
		}
		opacity: 0.8;
		.header-icon {
			visibility: hidden;
			float: right;
			.MuiSvgIcon-root {
				cursor: pointer;
				width: 15px;
				height: 17px;
				fill: $dark-bg-color-page;
				opacity: 0.8;
			}
		}
	}
	tbody {
		tr:nth-child(odd) {
			padding: 5px;
			@include lightTheme {
				background-color: $db-table-td-odd;
			}
		}
		tr:nth-child(even) {
			padding: 5px;
			@include lightTheme {
				background-color: $light-bg-color-page;
			}
		}
		td {
			height: 20px;
			opacity: 0.8;
			@include lightTheme {
				color: $dark-bg-color-page;
			}
			font-family: Roboto-Regular;
			font-size: 12px;
			.isy_input,
			select {
				width: 80px;
			}
			.icon {
				.MuiSvgIcon-root {
					fill: $dark-bg-color-page;
					height: 12px;
					width: 12px;
					cursor: pointer;
				}
			}
			.key-icon {
				.MuiSvgIcon-root {
					width: 16px;
					height: 16px;
					vertical-align: middle;
					float: right;
				}
				.none_key_svg {
					fill: $none-key-color;
				}
				.primary_key_svg {
					fill: $primary-key-color;
				}
				.foreign_key_svg {
					fill: $foreign-key-color;
				}
				.unique_key_svg {
					fill: $unique-key-color;
				}
				.no_key_svg {
					fill: transparent;
				}
			}
		}
	}
	.add-column-btn {
		height: 31px;
		font-size: 12px;
		@include lightTheme {
			color: $light-secondary-color;
			background-color: $db-table-td-odd;
			border: 1px solid $db-add-column-btn;
			border-top: 0px;
		}
		width: 230px;
		border-radius: 0 0 1px 1px;
		cursor: pointer;
		&:focus {
			outline: 0;
		}
		.add-icon {
			@include lightTheme {
				color: #e45734;
			}
			height: 10px;
			width: 10px;
			padding-right: 5px;
		}
	}
}
