.organization-report-container {
  .export-btn {
    padding-left: 400px;
  }
  .ReportButtons input {
    margin-left: 50px;
  }
  .ReportButtons input:first-child {
    margin-left: 0px;
    background: var(--bulkdivider-border-color);
  }
  .ReportButtons input:first-child:hover {
    background: var(--myactivity-input-color) !important;
  }
  .custom-control {
    padding-left: 0.7rem;
  }
  hr {
    margin-bottom: 0.1rem;
  }
  .error-parent .edl_success,
  .error-parent .edl_error_feedback {
    margin-left: 0 !important;
    margin-bottom: 30px !important;
  }
  thead.MuiTableHead-root th {
    padding: 5px;
  }
  select[name='eventdisplay'],
  input[name='userName'] {
    width: 227px !important;
    flex: none;
  }
  select.multiSelectOptionList {
    width: 300px !important;
    background: none;
  }
  .adjustLabel {
    display: flex;
    align-items: center;
  }
  .adjustLabel span {
    color: var(--bulkrequest-failed-color);
    font-size: 20px;
  }
  .eventType {
    background: url(/images/dropdown.png) no-repeat 97% 50%;
  }

  .dialog-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 150%;
    background: var(--internalGrid-bg);
    opacity: 0.75;
    filter: alpha(opacity=75);
    z-index: 100;
    visibility: visible;
    width: 100%;
  }
  .event-type-submit {
    padding: 0px !important;
  }
  .apply-bold {
    font-weight: bold;
  }
  .infoValue {
    background-color: var(--createlist-table-row-background);
    padding: 4px;
  }
 .modal {
    position: absolute;
    width: 50% !important;
    left: 30% !important;
    top: 30% !important;
  }
  .report-scrolling {
    height: 250px;
    overflow-y: scroll;
  }
  h6 {
    margin-bottom: unset !important;
  }
  .successheader{
    background-color:  var(--modal-successheader);
    height: 30px;
  }
  .dialog-title{
    padding:4px;
    color: var(--modal-successheader-color);
  }
  .MuiTableCell-root div {
    max-width: unset !important;
    padding: 10px;
  }
}

.event-list {
  visibility: visible;
  background-color: var(--modal-successheader-color);
  color: var(--createlist-table-row-color);
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.event-select {
  height: 200px !important;
  width: 300px;
  font-family: ca-sans;
  font-size: 13px;
  font-weight: lighter;
}
.MTableHeader-header-74 {
  position: unset !important;
}
.event-footer {
  padding: 3px;
  border: 1px solid var(--modal-content-border);
  width: 100%;
}

.MuiTableCell-root div {
  max-width: unset !important;
}