@import '../../themes.scss';
.search-bar {
	@include lightTheme {
		background-color: $search-bar-bg;
	}
	height: 32px;
	width: 240px;
	border-radius: 4px;
	float: right;
	margin-bottom: 30px;
	.search-text {
		border: none;
		width: 194px;
		background: transparent;
		margin-top: 8px;
		padding-left: 8px;
		&:focus {
			outline: none;
		}
	}
	.search-icon {
		@include lightTheme {
			color: $search-icon-color;
		}
		display: inline-block;
		position: relative;
		top: 4px;
		padding-right: 6px;
		cursor: pointer;
		.MuiSvgIcon-root {
			transform: rotate(90deg);
			height: 16px;
		}
	}
	.cancel-icon {
		@include lightTheme {
			color: $dark-bg-color-page;
		}
		display: inline-block;
		position: relative;
		top: 4px;
		padding-right: 6px;
		cursor: pointer;
		.MuiSvgIcon-root {
			transform: rotate(90deg);
			height: 16px;
		}
	}
}
