@import '../../themes';
.team-container {
	align-items: center;
	@include lightTheme {
		background-color: $light-bg-color-page;
	}
	.MuiTypography-root {
		font-family: Roboto-Medium;
		font-size: 20px;
		margin: 0px 0px 0px 20px;
		letter-spacing: normal;
		justify-content: center;
		text-align: left;
		padding: 5px;
	}
	.search-bar .search-icon {
		.MuiSvgIcon-root {
			transform: rotate(90deg);
			@include lightTheme {
				color: $search-icon-color;
			}
			height: 16px;
		}
	}
	.search-bar {
		margin: 5px;
	}
	.button-component {
		.team-btn {
			font-family: Roboto-Medium;
			@include lightTheme {
				color: $light-bg-color-page;
				background: $light-secondary-color;
				&:hover {
					background: $hover-secondary-color;
				}
			}
			border: none;
			border-radius: 4px;
			height: 32px;
			font-weight: 400;
			margin: 5px;
			font-size: 12px;
			opacity: 1;
			text-transform: none;
			&:focus {
				outline: none;
			}
		}

		.action-buttons {
			float: right;
			margin-right: 25px;
		}
	}
	height: 530px;
	margin-top: 20px;
}
