.mfaDisabled {
    display: none;
}
.mfaEnabled {
    display: visible;
}

.create-org-form {
   max-width: 519px;
}
.multifactorlevel {
    max-width: 95%;
}
.mfa-label {
    margin-left : 547px;
    position: absolute;
}