.entitlement-report-container {
  .tooltip {
    position: relative;
    opacity: 1;
    z-index: 0;
  }

  .tooltiptext {
    visibility: hidden;
    position: absolute;
    border: 1px solid black;
    margin-top: -50px;
    background-color: rgba(224, 224, 224, 1);
    width: 500px;
    z-index: -1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  .myInput {
    background-image: url('/images/search.png');
    background-position: 95%;
    background-repeat: no-repeat;
    width: 40%;
    font-size: 14px;
    padding: 10px 15px 10px 15px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-left: 30%;
    margin-top: 30px;
  }
  .successheader {
    background-color: var(--modal-successheader);
    color: var(--modal-successheader-color);
    border: 1px solid var(--modal-successheader);
    border-bottom: none;
}
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
  }
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0px !important;
  }
  hr{
    padding-bottom: 10px;
    margin-top:0px;
    margin-bottom:0px;
  }
  .privs{
    margin-left: 10px;
  }
  .tempscroll{
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    .heading-block{
      padding: 4px 12px;
      border: 1px solid var(--bulkrequest-hr);
    }
  }
  .myUL{
    list-style-type: none;
  }

  .privsList{
    font-size: 14px;
  }

}
