.side-menu-items a:hover{
   text-decoration: none !important;
}
.side_menu_l4_header {
   margin: 0px;
   color: rgb(88, 103, 109);
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 0px;
   font-family: ca-sans;
   font-size: 15px;
   font-weight: 700;
   border-bottom-color: rgb(239, 239, 239);
   border-bottom-width: 1px;
   border-bottom-style: solid;
}
.side_menu_l4_menu > li > a {
   color: rgb(87, 103, 109);
   font-family: ca-sans;
   font-size: 14px;
   text-decoration: none;
}
.side-menu-items li,.dynamic-adding-list li{
   list-style: none;
   margin: 0px;
   padding: 7px;
   padding-left: 10px;
   border-bottom-color: rgb(239, 239, 239);
   border-bottom-width: 1px;
   border-bottom-style: solid;
   color: rgb(87, 103, 109);
   font-family: ca-sans;
   font-size: 14px;
   text-decoration: none;
}
.dynamic-adding-list li{
   background-color: rgb(216, 216, 216);
   list-style: none;
}
.dynamic-adding-list a:hover{
   background-color: rgb(216, 216, 216);
   text-decoration: none !important;
   cursor: pointer;
}
.side-menu-items li:hover {
   background-color: rgb(233, 232, 232);
   cursor: pointer;
}
.activated-route,.side-menu-items li.activated-route:hover{
   background-color:#323232 !important;
   color: white !important;
}
.dynamic-adding-list{
   list-style: none;
   padding: 0px;
   margin-top: 30px;
}
.dynamic-adding-list > .side_menu_l4_header{
   background-color: rgb(216, 216, 216);
   padding-left: 8px !important;   
}
.list-header-active{
   background-color: #8a8989 !important;
   color: white !important;
}
.sidebar-parent{
   width:100%;
}
.baseHeader{
   background-color: #918e8b !important;
   color: white;
}