@import '../../../../themes';

.platform-view {
	.isy-grid-container {
		.column-1 {
			width: 25%;
			padding-left: 54px;
			font-family: Roboto-Bold;
			color: $grid-text-color;
			opacity: 1;
		}
		.column-2 {
			width: 40%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.column-3 {
			width: 35%;
		}
	}
	.add-platform-button-container {
		position: relative;

		.primary-btn {
			height: 32px;
			width: 108px;
			position: absolute;
			bottom: 22px;
			right: 25px;
		}
	}
}
