@import '../../../../themes.scss';
.database-parent {
	height: 100%;
	.database-accordion {
		background-color: $database-accordion-background-color;
		.database {
			font-size: 14px;
			font-family: Roboto-Regular;
			color: $grid-text-color;
		}
		.database-parent-accordion {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-left: 10px;
			padding-right: 10px;
			height: 40px;
			background-color: $avatar-color;
			.MuiSvgIcon-root {
				@include lightTheme {
					color: $metadata-btn-text-color;
				}
			}
		}
	}
	.database-accordion-overflow {
		height: calc(100% - 59px);
		overflow-y: auto;
		@extend %custom-scroll-bar-y;
		.MuiAccordionSummary-root {
			min-height: 0px;
		}
		.hide-settings-icon {
			visibility: hidden;
			position: absolute;
			right: 11px;
			top: 8px;
			height: 24px;
			border-radius: 50%;
		}
		.MuiAccordionSummary-root {
			padding: 0px;
		}
		.MuiAccordionSummary-root.Mui-expanded {
			min-height: 0px;
		}
		.menu-header {
			.accordion-parent {
				height: 40px;
				.database-name {
					font-size: 13px;
				}
				&:hover {
					.hide-settings-icon {
						visibility: visible;
					}
				}
			}
			.database-name.MuiTypography-body1 {
				padding-left: 10px;
				width: 150px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.MuiAccordionSummary-root {
				background-color: $database-accordion-menu-color;
				margin-bottom: 1px;
				flex-direction: row-reverse;
			}
			.MuiAccordionSummary-content.Mui-expanded {
				margin: 12px 0;
			}
			.MuiSvgIcon-root {
				color: $grid-text-color;
			}
		}

		.subMenu-menu-header {
			.account-tree-icon {
				.MuiSvgIcon-root {
					color: $schema-icon-color;
					margin-top: 13px;
					font-size: 16px;
				}
			}
			background-color: $database-accordion-background-color;
			.MuiAccordionSummary-root {
				margin: 0px;
				padding-left: 13px;
				background-color: $database-accordion-background-color;
			}
			.MuiSvgIcon-root {
				color: $grid-text-color;
			}
			.MuiFormControlLabel-root {
				margin: 0px;
			}
			.checkbox {
				.MuiSvgIcon-root {
					color: $database-checkbox-color;
				}
			}
			.table-icon {
				.MuiSvgIcon-root {
					color: $database-checkbox-color;
				}
			}
			.hide-delete-option {
				display: none;
			}

			.MuiListItem-root.list-selected {
				border: 1px solid $light-tab-border-color;
				background-color: $database-list-selected;
				border-right: 3px solid $light-secondary-color;
			}

			.MuiTypography-body1.schema-display-name {
				line-height: 3;
				margin-left: 9px;
				font-size: 13px;
			}
			.MuiAccordionSummary-content.Mui-expanded {
				margin: 0px;
			}
			.MuiAccordionSummary-content {
				margin: 0px;
			}
		}
		.MuiPaper-elevation1 {
			margin-bottom: 0;
			box-shadow: none;
		}
		.MuiListItemIcon-root {
			min-width: 32px;
		}
		.MuiAccordionDetails-root {
			padding: 0px;
			display: block;
		}
		.MuiListItem-root {
			padding-bottom: 5px;
			padding-top: 5px;
		}
		.MuiList-padding {
			padding: 0px;
		}
		.MuiListItem-gutters {
			padding-right: 0px;
			padding-left: 50px;
		}
		.MuiList-root {
			background-color: $database-accordion-background-color;
		}
		.menu-header.selected {
			.MuiAccordionSummary-root {
				flex-direction: row-reverse;
				background-color: $database-accordion-menu-selected-color;
			}
			.subMenu-menu-header {
				.MuiAccordionSummary-root {
					margin: 0px;
					height: 40px;
					background-color: $database-accordion-background-color;
				}
			}
		}
	}
}
.tables-list-container {
	.list-item {
		height: 32px;
		.MuiListItemIcon-root {
			min-width: 24px;
			svg {
				font-size: 16px;
				opacity: 0.6;
			}
		}
		.list-item-text {
			span {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 13px;
				font-family: Roboto-Regular;
			}
		}
	}
}
