@import '../../../themes';
.forgot-password-container {
	background: url(/images/Login.png);
	background-repeat: no-repeat;
	position: fixed;
	min-width: 100%;
	margin-left: -34px;
	margin-top: -20px;

	.logo-header {
		height: 36px;
		width: 50%;
		@include lightTheme {
			color: $light-secondary-color;
		}
		font-family: Roboto;
		font-size: 27px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 36px;
	}
	.logo-text {
		display: inline;
		@include lightTheme {
			color: $light-secondary-color;
		}
		position: relative;
		top: 49px;
		left: 60px;
		.logo-left {
			font-size: 27px;
			font-family: Roboto-Medium;
			padding-right: 10px;
		}
		.logo-right {
			@include lightTheme {
				border-left: 1px solid $light-secondary-color;
			}
			font-size: 21px;
			font-family: Roboto-Light;
			padding-left: 10px;
			opacity: 0.8;
		}
	}
	.form {
		float: right;
		@include lightTheme {
			color: $dark-bg-color-page;
			background: $light-bg-color-page;
		}
		width: 576px;
		height: 750px;
		.forgot-password-form {
			width: 320px;
			position: relative;
			left: 25%;
			top: 19%;
			.forgot-password-header {
				height: 37px;
				@include lightTheme {
					color: $dark-bg-color-page;
				}
				font-family: Roboto-Thin;
				font-size: 28px;
				font-weight: 100;
				letter-spacing: 0;
				line-height: 37px;
				text-align: center;
				margin-bottom: 60px;
			}
			.input-border {
				margin-bottom: 10px;
				.MuiFormControl-root {
					width: 100%;
					.MuiIconButton-root {
						padding: 0;
						.MuiSvgIcon-root {
							@include lightTheme {
								fill: $light-bg-color-page;
								stroke: $close-icon-color;
							}
							height: 20px;
							opacity: 0.5;
						}
					}
					margin-bottom: 10px;
					.MuiFormLabel-root {
						font-size: 18px;
					}
					.MuiFormLabel-root.Mui-focused {
						@include lightTheme {
							color: $close-icon-color;
						}
						font-size: 20px;
						.MuiInput-underline {
							@include lightTheme {
								border-bottom: 1px solid $border-underline-color;
							}
						}
					}
					.MuiInput-underline {
						@include lightTheme {
							border-bottom: 1px solid $border-underline-color;
						}
					}
					.MuiInput-underline:before {
						@include lightTheme {
							border-bottom: 0;
						}
					}
					.MuiInput-underline:after {
						border-bottom: 0;
					}
				}
				.border-error {
					.MuiInput-underline {
						@include lightTheme {
							border-bottom: 1px solid $error-text-color;
						}
					}
				}
				.input-error {
					@include lightTheme {
						color: $error-text-color;
					}
					font-size: 12px;
					font-family: Roboto-Regular;
					height: 16px;
					display: block;
				}
			}
			.isy-button {
				margin-top: 10px;
				margin-bottom: 40px;
				height: 40px;
				width: 100%;
				@include lightTheme {
					background-color: $light-secondary-color;
					color: $light-bg-color-page;
				}
			}
			.remember-password {
				.message-class {
					position: relative;
					float: left;

					.remember-tag {
						height: 20px;
						width: 184px;
						color: #333333;
						font-family: Roboto-Regular;
						font-size: 15px;
						letter-spacing: 0;
						line-height: 20px;
					}
				}
				.log-in {
					float: right;
					position: relative;
					right: 85px;
					height: 20px;
					width: 46px;
					color: #e34d28;
					font-family: Roboto-Regular;
					font-size: 15px;
					letter-spacing: 0;
					line-height: 20px;
					a {
						cursor: pointer;
					}
				}
			}
		}
	}
	.footer {
		position: relative;
		top: 25%;
		height: 100px;
		padding: 0 48px;
	}
}
