@import '../../../../themes';
.webService-left-menu {
	width: 100%;
	@include lightTheme {
		background-color: $database-accordion-background-color;
	}
	height: 100%;
	box-sizing: border-box;
	.webService-title {
		height: 40px;
		padding: 12px;
		box-sizing: border-box;
		margin-bottom: 1px;
		@include lightTheme {
			border-bottom: 1px solid $database-accordion-menu-selected-color;
			background-color: $database-accordion-menu-color;
		}
		label {
			font-size: 14px;
			color: $grid-text-color;
			text-align: left;
		}
		.icons {
			float: right;
			svg {
				height: 18px;
				width: 18px;
				color: $search-icon-color;
				padding-left: 14px;
				cursor: pointer;
			}
		}
	}
	.no-services {
		padding-top: 32px;
		text-align: center;
		font-family: Roboto-Regular;
		color: #383838;
		opacity: 0.6;
		font-size: 12px;
	}
	.isy-accordion {
		box-shadow: initial;
		margin-bottom: 1px;
	}
	.isy-accordion-summary {
		height: 40px;
		flex-direction: row-reverse;
		padding-left: 0;
		min-height: 40px;
		@include lightTheme {
			background-color: $database-accordion-menu-color;
			border-bottom: 1px solid $database-accordion-menu-selected-color;
		}
		.Mui-expanded {
			margin: 0;
		}
		.MuiIconButton-edgeEnd {
			margin: 0;
			width: 14px;
		}
		.isy-accordion-summary-icon {
			color: $dark-bg-color-page;
		}
		.MuiAccordionSummary-content {
			font-size: 14px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
		}
	}
	.MuiAccordionSummary-root.Mui-expanded {
		min-height: 0;
	}
	.sub-header-details {
		padding: 0;
		.sub-headers {
			width: 100%;
			padding: 0;
			@include lightTheme {
				background-color: $sub-tabs-bg-color;
			}
			.sub-header {
				height: 32px;
				border-bottom: 1px solid $light-bg-color-page;
				padding-left: 40px;
				padding-right: 12px;
				.list-item-text {
					span {
						font-size: 13px;
						color: $grid-text-color;
						opacity: 0.8;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				.item-delete {
					display: none;
					font-size: 18px;
					color: $dark-bg-color-page;
				}
				&:hover {
					.item-delete {
						display: block;
					}
				}
			}
			.no-sub-service {
				padding: 20px 10px;
				text-align: center;
				font-family: Roboto-Regular;
				color: #383838;
				opacity: 0.6;
				font-size: 12px;
			}
		}
	}
	.search-web-service {
		position: absolute;
		top: 50px;
		height: 36px;
		@include lightTheme {
			background-color: $database-accordion-menu-color;
		}
		.isy-search {
			width: 216px;
			height: 24px;
			margin-left: 6px;
			margin-top: 6px;
			.isy-search-input {
				height: 24px;
			}
		}
	}
}
