.SSConfig-misc .list-scrollpane {
    height: 144px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px;
    border: 1px solid #d8d8d8;
};

.SSConfig-misc .listItem {
    list-style-type: none;
}
.SSConfig-misc .main-content{
    float: left;
}
.SSConfig-misc h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.SSConfig-misc .desc {
    border: none;
    font-size: 12px;
    font-family: Arial;
    color: #444;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
.SSConfig-misc .row-width-25 {
    width: 25%;
}
.SSConfig-misc .row-width-5 {
    width: 5%;
}
.SSConfig-misc .row-width-60 {
    width: 60%;
}
.SSConfig-misc .row-width-3 {
    width: 3%;
}