/* .main{
    height: 100%;
    padding: 30px 30px 10px;
} */
.main-content h2, .pageTitle, h2 {
    font-size: 20px;
    font-family: ca-sans,Arial;
    color: #22465e;
}
body{
    font-family: Arial,Helvetica,Arial,sans-serif;
    font-size: 13px;
    padding: 0;
    color: #444;
    background-color: transparent;
}
.edl_error_feedback {
    background-color: #a11c2e;
    padding: 8px;
    color: white;
}

.edl_success_feedback {
    background-color: rgb(36, 182, 17);
    padding: 10px 10px 20px 10px;
    margin-bottom: 20px;
    color: white;
    font-family: ca-sans;
    font-size: 15px;
}
.desc {
    border: none;
    font-size: 12px;
    font-family: Arial;
    color: #444;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}