.accelerators-grid-card-container {
	width: 100%;
	box-sizing: border-box;
	.empty-card-view {
		width: 100%;
		height: 100%;
		text-align: center;
		padding-top: 100px;
		.icon {
			width: 80px;
			height: 80px;
			stroke: rgba(0, 0, 0, 0.2);
			position: relative;
		}
		.text {
			font-size: 16px;
			font-family: Roboto-Regular;
			opacity: 0.6;
			height: 21px;
			margin-bottom: 18px;
		}
	}
}
