.ip-range {
  input {
    font-size: 13px;
    padding: 7px 10px;
    color: var(--createlist-table-row-color);
    border: 1px solid var(--radio-disabled-background);
    border-radius: 4px;
    margin-right: 4px;
    margin-left: 4px;
  }
  label {
    width: 120px;
  }
  .mr-20 {
    margin-right: 20px;
  }
}
