.tertiary-link {
    color: rgb(17, 36, 48);
    text-transform: uppercase;
    font-weight: 640;
    text-decoration: none;
    font-size: 13px;
    padding-right: 5px;
}
.user-logout{
    margin-right: 40px;
    cursor: pointer;
}
.second-nav{
    width: 100%;
    left: 0;
    top: 0;
    display: -ms-flexbox;
    align-items: center;
    height: 50px;
    background-color:rgb(36, 70, 94);
}
.second-nav-items  {
    display: flex;
    align-items: center;
}
.second-nav-items a:hover{
    text-decoration: none !important;
}
.second-nav-text{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0px 15px;
    position: relative;
    font-family: ca-sans;
    font-size: 14px;
    color:rgb(255, 255, 255)
}
.second-nav-items .active{
    background-color: rgb(83, 187, 212);
    color: rgb(2, 2, 2);
    border-bottom: 1px solid black;
}
.second-nav-text:hover{
    color: rgb(2, 2, 2);
    background-color: rgb(233, 232, 232);
    cursor: pointer;
}
.side-toogle-menu{
    width: 18%;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 15px;
    border-right-color: rgb(145, 142, 139);
    border-right-width: 1px;
    border-right-style: solid;
    height: 100%;
    float: left;
    min-height: 65em;
    box-shadow: 1px 0px 2px 2px rgba(145,142,139,0.2);
    background-color: rgb(247, 247, 247);
    -webkit-box-shadow: 1px 0 2px 2px rgba(145, 142, 139, .2);
}
#reportTaskPane {
    padding: 2px 0px;
}
.side-menu-items{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.edl-footer {
    padding: 15px 0px;
    text-align: center;
    color: rgb(88, 102, 108);
}
#footer {
    width: 100%;
    border-top-color: rgb(216, 216, 216);
    border-top-width: 1px;
    border-top-style: solid;
    height: 50px;
    clear: both;
    font-size: 13px;
}
.main-content{
    width: 82%;
    height: 100%;
    float: left;
} 
.main-content.menu-hide{
    left:0;
}
.loadingOverlay {
    display: block;
    position: absolute;
    z-index: 998;
    width: 78%;
    height: 100%;
    background-color: white;
}   
.pageTitle {
    color: rgb(34, 70, 94);
    font-family: ca-sans,Arial;
    font-size: 20px;
}
a.regular-link {
    color: rgb(21, 109, 130) !important;
    font-size: 13px;
    cursor: pointer;
}
.user-details{
    padding: 25px 0px;
}
.nav-bar{
    padding: 0.3rem 1rem !important;
}
.user-dropdown-menu {
    padding: 10px 20px;
    width: 200px;
    right: 40px;
    position: absolute;
    z-index: 99;
    border: 1px solid rgb(189, 187, 185);
    background-color: rgb(255, 255, 255);
}
.profile-button,.sign-out {
    color: black;
    padding: 7px 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: ca-sans-bold;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    min-width: 80px;
    width: 115px !important;
    min-height: 20px !important;
  }
  .profile-button{
    background-color: white;
    border: 2px solid rgb(83, 187, 212);
  }
  .profile-button:hover {
    background-color: rgb(83, 187, 212) !important;
}
  .sign-out{
    background-color: rgb(235, 235, 235);
    border: currentColor;
  }
  .sign-out:hover{
    background-color: rgb(216, 216, 216);
  }
  .logout-buttons{
      padding: 5px 0px;
  }
  .left-nav-buttons{
      cursor: pointer;
  }
  

