@import '../../themes';
.team-container {
	position: relative;
	align-items: center;
	min-height: calc(100% - 24px);
	margin: 24px 32px 0;
	background-color: $light-bg-color-page;
	.title-holder {
		height: 88px;
		display: flex;
		padding: 32px 8px 24px 8px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		margin: 0 32px;
		box-sizing: border-box;
		.team-title {
			width: 200px;
			height: 100%;
			display: inline-block;
			color: #000;
			font-family: Roboto-Medium;
			font-size: 21px;
			font-weight: 500;
			letter-spacing: 0;
			vertical-align: top;
			line-height: 27px;
		}
		.button-component {
			display: inline-block;
			width: calc(100% - 200px);
			text-align: right;
			height: 100%;
			.isy-search {
				vertical-align: top;
			}
			.primary-btn {
				height: 32px;
				margin-right: 20px;
			}
		}
	}
	.header {
		.pagination-tool-bar {
			float: right;
			padding-right: 18px;
			padding-top: 10px;
			color: $schema-icon-color;
			font-size: 12px !important;
			.MuiTablePagination-caption {
				color: $schema-icon-color !important;
				font-size: 12px !important;
				position: relative;
				top: 1px;
			}
		}
	}
	.isy-tabs-container {
		padding: 0px 32px;
		.isy-tabs-root {
			border-bottom: 1px solid #dedede;
			padding-top: 10px;
			padding-bottom: 15px;
			margin-bottom: 16px;
			padding-left: 0px;
			.isy-tab-header {
				padding: 0 16px;
				margin: 0px;
			}
		}
	}
}

.pageLoader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.4);
	display: inline-block;
	z-index: 999;
	text-align: center;
	.loader {
		top: calc(50% - 20px);
		position: relative;
	}
}
