.transaction-data-report-container{
    .date-cls{
        padding-right: 0px;
    }
    .col-form-label {
        padding-left: 0px !important;
    }
    .input-group.input-group-unstyled input.form-control {
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
    }
    .input-group-unstyled .input-group-addon {
        border-radius: 4px;
        border: 0px;
        background-color: transparent;
    }
    .donut_cls{
        border-radius: 2px;
        box-shadow: 1px 1px 1px 1px rgb(179, 177, 177);
        margin-right: 20px;
        margin-top: 30px;
    }
    .charts_text{
        margin-top: 30px;
        margin-left:30px;
        font-size:16px;
        color:#808080;
    }
    
    text.c3-axis-y2-label {
        color:#69d3c6;
        font-size: 14px;
    }
    text.c3-axis-y-label {
        color: #507696 !important;
        font-size: 14px;
    }
    tspan,text.c3-chart-arcs-title{
        font-size:15px;
    }

   
}
