
.email-config-table td {
    padding: 8px;
}
.email-config-table th{
    padding:14px;
    text-align: left;
}
.email-table > tr:nth-child(odd) {background-color: var(--email-table-background-color)}
.email-telephone-config .eachRow input{
    margin-left: 25px;
}
.email-telephone-config .eachRow .icon_up_arrow{
    margin-left: 25px;  
}
.disableStatus input,.eachRow input{
      width: 70%;
  }
  .arrow-down{
      padding-left:15px;
  }

