@import '../../themes.scss';

.primary-btn.isy-button {
	text-transform: none;
	font-family: Roboto-Medium;
	font-size: 14px;
	background-color: $light-secondary-color;
	color: $light-bg-color-page;
	&:hover {
		background-color: $btn-primary-hover-color;
	}
	&:focus {
		background-color: $btn-primary-focus-color;
	}
	&:disabled {
		opacity: 0.6;
		color: $light-bg-color-page;
	}
}

.secondary-btn.isy-button {
	border: 1px solid $light-secondary-color;
	color: $light-secondary-color;
	border-radius: 4px;
	background-color: $search-list-bg;
	font-size: 14px;
	letter-spacing: 0;
	text-align: center;
	text-transform: capitalize;
	font-family: Roboto-Medium;
	&:hover {
		border: 1px solid $btn-primary-hover-color;
		background-color: $btn-secondary-hover-color;
		color: $btn-primary-hover-color;
	}
	&:focus {
		background-color: $btn-primary-focus-color;
		color: $light-bg-color-page;
	}
	&:disabled {
		opacity: 0.5;
	}
}
.standard-btn.isy-button {
	border-radius: 4px;
	box-shadow: none;
	background-color: $cancel-btn-background-color;
	color: $cancel-btn-color;
	border: none;
	font-size: 14px;
	text-transform: capitalize;
	font-family: Roboto-Regular;
	&:hover {
		box-shadow: none;
		background-color: $grid-focus-background-color;
	}
	&:focus {
		background-color: $btn-standard-focus-color;
	}
	&:disabled {
		opacity: 0.5;
	}
}
