@import '../../../../../themes';
.response-section {
	width: 100%;
	height: 100%;
	position: relative;
	&.expanded {
		position: absolute;
		background-color: $light-bg-color-page;
		top: 18px;
		left: 37px;
		width: calc(100% - 74px);
		height: calc(100% - 85px);
		border: 1px solid #e8e8e8;
		box-shadow: 0 2px 10px 0 rgba(135, 135, 135, 0.5);
	}
	.header {
		height: 50px;
		box-sizing: border-box;
		padding: 15px 8px 15px 15px;
		.title {
			font-family: Roboto-Medium;
			font-weight: 400;
			font-size: 14px;
			vertical-align: middle;
		}
		.icon {
			width: 24px;
			height: 24px;
			vertical-align: middle;
			float: right;
			cursor: pointer;
			margin-top: -4px;
		}
	}
	.okay-section {
		height: calc(100% - 47px);
		.status-info {
			position: absolute;
			top: 15px;
			right: 40px;
			font-family: Roboto-Medium;
			color: $web-service-status-code;
			font-size: 14px;
			width: calc(100% - 130px);
			text-align: right;
		}
		.view-type {
			margin: 0px 15px 15px 15px;
			border-radius: 4px;
			background-color: $web-service-view-tab-color;
			display: inline-block;
			.view-item {
				cursor: pointer;
				display: inline-block;
				color: $view-sub-value-text-color;
				font-family: Roboto-Regular;
				font-size: 13px;
				letter-spacing: 0;
				line-height: 18px;
				height: 29px;
				width: 60px;
				box-sizing: border-box;
				text-align: center;
				padding: 5px;
				opacity: 0.4;
				&.active {
					background-color: $web-service-view-tab-active-color;
					opacity: 1;
				}
			}
		}
		.scroll-content {
			height: calc(100% - 45px);
			overflow-y: auto;
			@extend %custom-scroll-bar-y;
			@extend %custom-scroll-bar-x;
			.raw-view {
				margin: 15px;
				width: calc(100% - 30px);
			}
			.react-codemirror2 {
				border-top: 1px solid $web-form-section-border;
				border-bottom: 1px solid $web-form-section-border;
				.CodeMirror {
					height: auto;
					min-height: 50px;
					overflow-x: hidden;
				}
			}
		}
	}
	.error-section {
		height: calc(100% - 47px);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.web-services-icon {
			height: 80px;
			width: 80px;
			margin-bottom: 20px;
		}
		.general-error {
			color: $dark-bg-color-page;
			font-size: 16px;
			opacity: 0.6;
			font-family: Roboto-Regular;
			margin-bottom: 20px;
		}
		.errorMessage {
			background-color: $web-service-error-msg-bg;
			width: 200px;
			border-radius: 24px;
			padding: 8px 32px;
			text-align: center;
			font-size: 12px;
			opacity: 0.6;
			font-family: Roboto-Regular;
		}
	}
}
