.rules-mgmt-parent{
    .main-header{
        width: 100%;
        th{
            padding: 5px;
            background-color:var(--mainHeader-bg);
            height: 40px;
            border: 1px solid var(--mainHeaderBorder);
        }
    }
    .MuiTableBody-root tr td{
        border:none !important;
    }
    .rule-load{
        vertical-align: super;
        font-weight: bold;
        font-size: 13px;
        color:var(--ruleLoadText);
    }
    .table-left-icon{
        color: var(--tableIcon);
        font-size: 16px;
        float: right;
    }
    .MuiTableRow-hover .MuiTableCell-paddingNone > div{
        float:right;
    }
    .MuiIconButton-root:hover{
        background-color:unset !important;
    }
    .custom-name-render{
        color: var(--customHeader);
        text-decoration: underline;
    }
    .MuiTableCell-root div {
        max-width: 900px !important;
    }
    .risk-score-change{
        width:60px;
    }
    .loader-text{
        padding-left: 5px;
    }
   .hideDynamicRuleScreen{
       display: none;
    }
    .internal-grid{
        padding-left:55px;
        width: 63%;
          table{
          border: var(--internalGrid) !important;
          tr {
            background-color:var(--internalGrid-bg) !important;
              th,td{
                border:1px solid var(--internalGridHeader) !important;
              }
        }
      }
      .internamMnemonic{
        padding: 10px 0px;
      }
     }
    .edl_table th {
        font-size: 14px;
        font-weight: 700;
        height: 40px;
        padding: 5px 10px 0;
        border-left: none;
        border-right: none;
        text-align: left;
    }
    .clear-floats{
        clear: both;
    }
    .delete-rule{
        color:var(--deleteRule-bg);
        text-decoration: underline;
        cursor: pointer;
        padding-bottom: 10px;
    }
}
.modal-content{
    .data-element-info{
        width: 250px;
        .tooltip-info{
            color: white;
        }
        a{
            padding-top: 10px;
        }
    }
    .data-element-add{
        clear: both;
    }
    .multiSelectOptionList {
        width: 250px !important;
        height: 175px !important;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 5px;
        border: 1px solid #d8d8d8;
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-right-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        option {
            padding: 3px;
            display: block;
        }
        li {
            &:hover {
                background-color: var(--createadmin-hover);
            }
        }
    }
    .fake-input {
        position: relative;
        width: 250px;
        background-color:var(-swappingsearch-bg) !important;
        img {
            position: absolute;
            top: 4px;
            right: 5px;
        }
    }
    .rule-expresiion{
        margin: 2px;
        cursor: pointer;
        font-size: 11px;
        font-family: "Courier New";
        padding: 5px;
        background:var(--ruleExpression);
        border: 2px solid var(--ruleExpressionBorder);
        float: left;
    }
    .tertiary-btn{
        width:0px;
        padding:0px;
    }
    .tertiary-btn-2 {
        background-color:var(--ruleButton-bg);
        border-radius: 4px;
        border: currentColor;
        border-image: none;
        color: var(--ruleButtonColor);
        text-transform: uppercase;
        font-family: ca-sans-bold;
        font-size: 14px;
        text-decoration: none;
        margin-right: 10px;
        display: block;
        text-align: center;
    }
    .expression{
        font-weight: bold;
        color:var(--ruleApply);
        font-size: 12px;
        padding: 5px;
    }
    #exampleFormControlTextarea1{
        height:160px;
    }
    .rule-developed{
        background:var(--ruleDeveloped);
    }
    .modal-header .close{
        color: unset !important;
        }
    .rules-mgmt-parent  .disabled {
            pointer-events: none;
            opacity: 0.7;
    }
    .display-right{
        padding-left: 76px;
    }
    .clear-button{
        padding-left: 5px !important;
    }
    .selectedRulesetList,.selectedActions{
        height: 120px;
        width: 100%;
        border: 1px solid var(--selectedRule);
        border-radius: 4px;
        option{
            padding: 3px 11px;
        }
    }
    .selectedSavedRules{
        height: 200px;
        width: 100%;
        border: 1px solid var(--selectedRule);
        border-radius: 4px;
        option{
            padding: 3px 11px;
        }
    }
    .loader-text-create{
        font-size: 12px;
        color: var(--ruleCreateLoaderText);
        font-weight: bold;
    }
    .data-element-search{
        background-color: #cccccc8c;
        border: unset !important;
    }
}



