#actionsSelect_ActionVelocityScreen{
        option{
            padding: 4px;
        }
}
.amounts_AmountCompareScreen{
      height: 200px;
      width: 200px;
      padding: 7px 10px;
      border: 1px solid #d8d8d8;
    }
// .dynamic-rule-screen{
//   // select,input{
//   //   width:200px;
//   // }
// }
.simpleListLink_InListScreenC{
  color: #53bbd4;
  cursor: pointer;
}