.arrow_btn {
    padding: 2px;
    min-height: 15px !important;
    max-height: 25px;
    min-width: 25px !important;
}
.tertiary-btn {
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    border: currentColor;
    border-image: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: ca-sans-bold;
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
    display: block;
    width: 5px;
    margin: 22px 0px;
    text-align: center;
}
.arrow-group li{
list-style: none;
}
.arrow-group
{
    padding-top: 15px;
}