.rulesData {

    .setCustomLabelWidth {

        .custom-control label[for=ACTIVE] {
            width: 45%;
        }
    }

    select {
        width: 225px;
        margin-left: -3%;
        color: var(--createlist-table-row-color);
    }
    table{
        td{
            padding: 10px 0 10px !important;
        }
    }
    .react-autosuggest__container {
        ::placeholder {
            color: var(--select-black-color);
            opacity: 1;
        }
    }

    .react-autosuggest__input {
        font-size: 1em;
        padding: 5px 10px;
        color: var(--select-black-color);
        font-weight: 400;
        width: 225px;
    }

    .detailsOfReport p {
        margin-top: 30px;
    }

    .edl_table {
        margin-top: 6%;
    }

    .pa-6 {
        padding-left: 0.6rem;
    }

    .edl_table th {
        width: 10%;
    }
}