.miscellaneous{
    .list-scrollpane {
        height: 144px;
        overflow-y: auto;
        overflow-x: hidden;
        width: 300px;
        padding: 0;
        border: 1px solid var(--bulkrequest-hr);
      }
      .edl_checkbox {
        margin-left: 3px !important;
      }
      
      .config-table td {
        padding-bottom: 1em;
      }
      
      .config-table .reportRow.line {
        border-bottom: 1px solid var(--internalGridHeader);
      }
      
      .config-table .form-select.form-control {
        max-width: 290px;
      }
      
      .radio-table input[type='radio'] {
        -webkit-appearance: none;
        width: 19.5px;
        height: 19px;
        border: 1px solid var(--localized-config-checkbox-border);
        border-radius: 50%;
        outline: none;
      }
      
      .radio-table input[type='radio']:hover {
        box-shadow: 0 0 5px 0px orange inset;
      }
      
      .radio-table input[type='radio']:before {
        content: '';
        display: block;
        width: 60%;
        height: 60%;
        margin: 20% auto;
        border-radius: 50%;
      }
      
      .radio-table input[type='radio']:checked:before {
        background:var(--createlist-table-anchor-tag-color);
      }
      
       .text-box.form-control {
        max-width: 125px;
      }
      
       .miss-config.dynamic-form-select {
        width: 40%;
      }
       .row-width-25 {
        width: 25%;
      }
       .row-width-5 {
        width: 5%;
      }
       .row-width-3 {
        width: 3%;
      }
      
       .custom-multi-checkbox {
        height: 200px;
        width: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 2px solid var(--modal-content-borde);
      }
      
}
