@import '../../../themes';

.rest-password-container {
	background-repeat: no-repeat;
	position: fixed;
	min-width: 100%;
	height: 768px;
	.logo-header {
		height: 36px;
		width: 50%;
		@include lightTheme {
			color: $light-secondary-color;
		}
		font-family: Roboto;
		font-size: 27px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 36px;
	}
	.logo-text {
		img {
			width: 20%;
			padding-top: 40px;
			padding-left: 34px;
		}
	}
	.form {
		float: right;
		position: relative;
		@include lightTheme {
			color: $dark-bg-color-page;
			background: $light-bg-color-page;
		}

		width: 576px;
		height: 750px;
		.rest-password-form {
			padding: 90px 128px 50px 128px;
			box-sizing: border-box;
			.isy-form-builder-container {
				width: 100%;
				@include lightTheme {
					color: $dark-bg-color-page;
				}
				.isy-form-builder-section-header {
					font-family: Roboto-Thin;
					font-size: 28px;
					font-weight: 100;
					letter-spacing: 0;
					text-align: center;
					margin-bottom: 60px;
					display: block;
				}
				.isy-animation-input {
					margin-bottom: 15px;
					width: 100%;
				}
				.error-label {
					@include lightTheme {
						color: $error-text-color;
					}
					font-size: 12px;
					font-family: Roboto-Regular;
					display: block;
					text-align: left;
					padding-top: 2px;
				}
			}
			.primary-btn {
				height: 40px;
				width: 320px;
				vertical-align: center;
				padding-top: 10px;
				margin-top: 1px;
				margin-bottom: 40px;
			}
			.remember-password {
				position: relative;
				top: 2px;
				left: 10px;
			}
			.message-class {
				position: relative;
				float: left;

				.remember-tag {
					height: 20px;
					width: 184px;
					@include lightTheme {
						color: $check-text-color;
					}
					font-family: Roboto-Regular;
					font-size: 15px;
					letter-spacing: 0;
					line-height: 20px;
				}
			}
			.log-in {
				float: right;
				position: relative;
				right: 85px;
				height: 20px;
				width: 46px;
				@include lightTheme {
					color: $light-secondary-color;
				}
				font-family: Roboto-Regular;
				font-size: 15px;
				letter-spacing: 0;
				line-height: 20px;
			}
		}
		.MuiFormControl-root {
			width: 100%;
			margin-bottom: 10px;
		}
		.footer-class {
			position: absolute;
			top: 79%;
			height: 100px;
			padding: 0 0px;
			width: 100%;
		}
	}
}
