@import '../../../themes';
.login-footer {
	position: relative;
	top: 36%;
	height: 100px;
	padding: 0 48px;
	.footer-text {
		@include lightTheme {
			border-top: 1px solid $footer-border-color;
		}
		white-space: nowrap;
		padding-top: 40px;
		padding-left: 150px;
		p {
			display: inline;
			font-family: Roboto-Regular;
			font-size: 15px;
		}
		.left-text {
			@include lightTheme {
				color: $check-text-color;
			}
		}
		.right-text {
			@include lightTheme {
				color: $light-secondary-color;
			}
			padding-left: 6px;
			text-decoration: none;
		}
	}
}
