@import '../../../../themes.scss';
.tool-bar {
	margin-left: 2px;
	.shiftToolBar {
		width: calc(100% - 320px);
	}
	.MuiAppBar-colorPrimary {
		background-color: $avatar-color !important;
	}
	.row-fileds {
		display: flex;
		flex-grow: 1;
		.flex-growprop {
			flex-grow: 1;
		}
	}
	.table-btn.MuiButton-text {
		opacity: 1;
	}
	.MuiPaper-elevation4 {
		box-shadow: none;
	}
	.MuiButton-root.table-btn {
		box-sizing: border-box;
		border-radius: 4px;
		width: 148px;
		font-size: 14px;
		box-shadow: none;
		.MuiSvgIcon-root {
			font-size: 1.2rem;
			padding: 12px;
			@include lightTheme {
				color: $metadata-btn-text-color;
			}
		}
		@include lightTheme {
			border: none;
			color: $dark-bg-color-page;
			background-color: inherit;
		}
		&:hover {
			box-shadow: none;
		}
		padding: 5px;
		align-items: center;
		display: flex;
		justify-content: center;
		font-family: Roboto-Medium;
		text-transform: capitalize;
		&:focus {
			outline: none;
		}
	}
	.search-bar {
		margin-bottom: 0px;
		margin-top: 10px;
		background-color: $metadata-btn-background-color;
	}
	.search-bar .search-icon {
		margin-left: 5px;
		.MuiSvgIcon-root {
			transform: rotate(360deg);
			color: $search-icon-color;
		}
	}
	.search-bar .cancel-icon {
		left: 90%;
		top: -16px;
		.MuiSvgIcon-root {
			color: $dark-bg-color-page;
		}
	}
	.MuiIconButton-root {
		border-radius: 0%;
		.MuiSvgIcon-root {
			@include lightTheme {
				color: $metadata-btn-text-color;
			}
		}
	}

	@media (min-width: 600px) {
		.MuiToolbar-regular {
			min-height: 32px;
		}
	}
}
