.inline-date{
    .displayinline{
        display:flex;
    }
    .mright-5{
        margin-right: 5px;
    }
    .react-datepicker-wrapper{
        width: 45%;
    }
    .mrleft-15{
        margin-left: 15px;
    }
}


