.status-queue{
    .rule-effect-table .main-header .col-head{
        padding: 5px !important;
    }
    .rule-effect-table{
        width:100%;
        
    }
    a{
        color:  var( --csv-title) !important;
        text-decoration: none !important;
        background-color: transparent !important;
        }
        a:hover{
            text-decoration-line: underline;
            cursor:pointer !important;
        }
    .h2{
        font-size: 16px !important;
    }
    .rule-effect-table td{
        padding: 8px !important;
        text-align: center;
    }
    .rule-effect-table.details-table tr:nth-child(odd){
        background-color: white;
        padding: 5px !important;
        text-align: center;
        td:nth-child(odd){
            background-color: var( --rule-background-color);
        }
        
    }
    .rule-effect-table.details-table tr:nth-child(even){
        background-color: white;
        padding: 5px !important;
        text-align: center;
        td:nth-child(odd){
            background-color: var( --rule-background-color);
        }
    }
    .table-view{
        margin-top: 6% !important;
        margin-bottom: 6% !important;
    }
    .hours{
        margin-left: 3px;
        margin-right: 3px;
    }
}