@import '../../themes.scss';
.MuiContainer-root .MuiContainer-maxWidthLg {
	@media (min-width: 600px) {
		.MuiContainer-root {
			padding-left: 0px !important;
		}
	}
}
.side-nav-menu {
	height: calc(100vh - 50px);
	display: flex;
	@media (max-width: 600px) {
		.MuiContainer-root {
			padding-left: 0px !important;
		}
	}
	@media (min-width: 1280px) {
		.MuiContainer-maxWidthLg {
			max-width: none;
		}
	}
}

.img-responsive {
	width: 100%;
}

.side-nav-menu .pro-sidebar {
	height: 100%;
	min-width: 0px;
	width: 205px;
	@include lightTheme {
		background-color: $light-bg-color-side-nav;
	}
}

.side-nav-menu .pro-sidebar .toggle-button {
	margin: 0 12px;
	position: absolute;
	cursor: pointer;
}

.side-nav-menu .profile {
	position: relative;
	top: 360px;
}

.pro-arrow {
	visibility: hidden;
}

.pro-sidebar.collapsed
	.pro-menu
	> ul
	> .pro-menu-item.pro-sub-menu
	> .pro-inner-list-item
	> .popper-inner {
	@include lightTheme {
		background-color: $light-bg-color-side-nav;
	}
	margin-left: -58px;
	border-radius: unset;
	width: 230px;
	height: 155px;
	margin-top: 75px;
}
.pro-sidebar.collapsed {
	height: 100%;
}

.pro-sidebar
	.pro-menu
	.pro-menu-item.pro-sub-menu
	.pro-inner-list-item
	.pro-inner-item:before {
	all: unset;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
	padding-left: 40px;
	background-color: unset;
	top: -10px;
}

.pro-sidebar.collapsed
	.pro-menu
	> ul
	> .pro-menu-item.pro-sub-menu
	> .pro-inner-list-item {
	padding-left: 58px;
	background-color: unset;
	top: -10px;
}
.pro-sidebar {
	.pro-sidebar-inner {
		@include lightTheme {
			background: $light-bg-color-side-nav;
		}
	}
}
.pro-sidebar > .pro-sidebar-inner .pro-sidebar-layout .pro-sidebar-header {
	border-bottom: none;
	height: 45px;
	margin-top: 15px;
}

.header-content {
	@include lightTheme {
		color: $light-head-text-color-side-nav;
	}
	padding-left: 24px;
}

.pro-sidebar .pro-menu .pro-menu-item {
	opacity: 0.8;
}
.pro-sidebar .pro-menu .pro-menu-item.active {
	.pro-item-content {
		color: white !important;
	}
	.MuiSvgIcon-root {
		color: white !important;
		border-left: 4px solid $light-head-text-color-side-nav;
		margin-left: -5px;
	}
}

.pro-sidebar .pro-menu {
	padding-top: 18px;
}
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
	padding: 8px 0px 8px 0px;
}

.pro-sidebar-content {
	margin-left: 5px;
	margin-top: -35px;
}

.pro-sidebar.collapsed {
	width: 51px;
	min-width: 51px;
}

.pro-sidebar
	.pro-menu
	> ul
	> .pro-sub-menu
	> .pro-inner-list-item
	> div
	> ul
	> li {
	margin-top: 0px;
}
.menu-image {
	position: absolute;
	left: 12px;
	top: 12px;
}
.pro-sidebar.collapsed + .main {
	width: calc(100% - 51px);
}
.side-nav-menu .main {
	width: calc(100% - 205px);
	height: 100%;
	.MuiContainer-root {
		padding: 0px;
		margin: 0px;
		height: 100%;
	}
	@media (min-width: 600px) {
		.MuiContainer-root {
			/* padding-left: 24px; */
			/* padding-right: 24px; */
			padding: 0px;
		}
	}
}
