@import '../../themes.scss';

.MuiAppBar-colorPrimary {
	color: $light-bg-color-page;
	background-color: $grid-text-color !important;
}

.header-logo {
	height: 16px;
	padding-right: 24px;
	cursor: pointer;
}
.AppBar .app-name {
	color: $header-app-name-color;
	border-left: 1px solid $header-app-name-divider;
	opacity: 0.8;
	color: #ffffff;
	font-size: 14px;
	letter-spacing: 0;
	margin-left: -16px;
	padding-left: 7px;
}

.button-menu {
	.MuiPopover-paper {
		top: 48px !important;
		color: $light-bg-color-page;
		width: 10%;
		margin-left: -15px;
		background-color: $light-bg-color-side-nav !important;
		ul {
			li {
				opacity: 0.6;
				font-size: 12x;
				font-family: Roboto-Light;
				padding-left: 20px;
			}
		}
		.MuiMenu-list .MuiListItem-button:hover {
			background-color: $light-active-bg-color-side-nav;
		}
	}
}

.app-nav {
	margin: 0 0 0 8px !important;
	padding-right: 4px;
	line-height: 45px;
	opacity: 0.6;
	color: $light-bg-color-page;
	&:hover {
		text-decoration: none !important;
	}
	&:-webkit-any-link {
		text-decoration: none !important;
	}
}

.AppBar .tool-bar {
	height: 40px;
	a {
		opacity: 0.6;
		font-family: Roboto-Regular;
		font-size: 14px;
		padding: 0px 15px;
	}

	a.activeSelf {
		opacity: unset;
		border-bottom: 4px solid $light-secondary-color;
		font-family: Roboto-Regular;
		font-size: 14px;
		@include lightTheme {
			background-color: $light-active-bg-color-side-nav;
		}
	}
}

.MuiToolbar-root {
	.MuiButton-text {
		opacity: 0.6;
		font-family: Roboto-Regular;
		font-size: 14px;
	}
	.MuiButtonBase-root.active {
		border-bottom: 4px solid $light-secondary-color;
		padding: 10px 8px;
		opacity: unset;
		font-family: Roboto-Regular;
		font-size: 14px;
		@include lightTheme {
			background-color: $light-active-bg-color-side-nav;
		}
	}
}

.MuiPaper-rounded {
	border-radius: 0 !important;
}

.MuiSvgIcon-root {
	color: #a0a0a0;
	width: 18.57px;
}

.tool-bar {
	.MuiButton-root {
		line-height: unset;
		text-transform: unset;
		border-radius: unset;
	}
}

.right-side-icons {
	position: absolute;
	right: 0px;
	.user-icon-div {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		vertical-align: middle;
		.MuiAvatar-circle {
			width: 32px;
			height: 32px;
			font-size: 14px;
		}
	}
	.help-icon {
		width: 30px;
		display: inline-flex;
		margin-right: 2px;
		vertical-align: middle;
		cursor: pointer;
		.isy-about-logo {
			color: $light-secondary-color;
		}
	}
}

.instructions-popover {
	background-color: $help-logo-background-color;
	box-shadow: 0 25.6px 57.6px 0 $instructions-box-shadow-color-1,
		0 4.8px 14.4px 0 $instructions-box-shadow-color-2;
	border-radius: 0 0 4px 4px;
	color: $instructions-text-color;
	padding: 5px 0;
	li {
		div {
			display: flex;
			direction: rtl;
			svg {
				color: $search-icon-color;
				width: 16px;
				height: 16px;
			}
		}
		&:hover {
			background-color: $instructions-hover-color;
		}
		font-size: 12px;
		height: 32px;
		width: 118px;
	}
}
.close-icon {
	position: absolute;
	top: 15px;
	right: 20px;
	cursor: pointer;
	@include darkTheme {
		color: $dark-bg-color-page;
	}
}

.profile-box {
	.close-icon {
		position: absolute;
		top: 15px;
		right: 20px;
		cursor: pointer;
		@include darkTheme {
			color: $dark-bg-color-page;
		}
	}
	.MuiPaper-rounded {
		position: absolute;
		right: -25px;
		top: 21px;
		border-radius: 4px !important;
		width: 350px;
		height: 150px;
	}
	.MuiTypography-body1 {
		font-size: 16px;
		letter-spacing: 0;
		padding-left: 20px;
		padding-top: 3px;
		font-family: Roboto-Medium;
	}
	.MuiButtonGroup-grouped {
		min-width: 0;
	}
	.form-divider {
		.MuiDivider-root {
			height: 2px;
			@include lightTheme {
				background-color: $light-form-divider-color;
			}
		}
	}
	.sign-out-btn {
		color: $light-secondary-color;
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		width: 200px;
		text-transform: capitalize;
		font-family: Roboto-Medium;
		height: 50px;
	}
	.sign-out-btn:focus {
		outline: none;
	}
	.profile-btn.profile-btn {
		color: $cancel-btn-color;
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		width: 200px;
		text-transform: capitalize;
		font-family: Roboto-Medium;
		height: 50px;
		border-right: none;
	}
	.profile-btn:focus {
		outline: none;
	}
}
