.expand-inputs
{
    color:blue;
    padding-right:5px;
    cursor: pointer;
}
.eachRow td{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right:5px;
}
.del-btn{
    cursor: pointer;
}

.error-message {
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-family: ca-sans;
    font-size: 15px;
    background-color: #A11C2E;
    }
    .success-message {
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-family: ca-sans;
    font-size: 15px;
    background-color: #18AA4A;
    }
    .error-message-color {
    color: #fff;
}