@import '../../themes';

.logo-text {
	display: inline;
	@include lightTheme {
		color: $light-secondary-color;
	}
	.logo-left {
		font-size: 27px;
		font-family: Roboto-Medium;
		padding-right: 10px;
	}
	.logo-right {
		@include lightTheme {
			border-left: 1px solid $light-secondary-color;
		}
		font-size: 21px;
		font-family: Roboto-Light;
		padding-left: 10px;
		opacity: 0.8;
	}
}
