@import '../../themes.scss';
.isy-dropdown {
	.isy-dropdown-label {
		font-size: 14px;
		cursor: pointer;
		margin-bottom: 0.5rem;
		display: block;
		.isy-dropdown-required {
			@include lightTheme {
				color: $form-label-required-color;
			}
		}
	}
	.MuiInputBase-root {
		font-size: 12px;
	}

	.isy-dropdown-control {
		.isy-dropdown-option-label {
			font-size: 14px;
		}
		.MuiPopover-paper {
			color: $light-bg-color-page;
			width: 10%;
			margin-left: -15px;
			background-color: $light-bg-color-side-nav !important;
			ul {
				li {
					opacity: 0.6;
					font-size: 12px;
					font-family: Roboto-Regular;
					padding-left: 20px;
				}
			}
			.MuiMenu-list .MuiListItem-button:hover {
				background-color: $light-active-bg-color-side-nav;
			}
		}
	}
}

.isy-dropdown-control.MuiInput-underline:before,
.isy-dropdown-control.MuiInput-underline:hover:not(.Mui-disabled):before,
.isy-dropdown-control.MuiInput-underline:after {
	border-bottom: none;
}

.isy-dropdown-control.MuiInput-underline.Mui-disabled:before {
	border-bottom-style: none;
}
.MuiInputBase-root.MuiInput-root.MuiInput-underline.isy-dropdown-control.input-base.Mui-disabled.Mui-disabled {
	background: #f3f2f1;
}

.MuiMenu-paper {
	.isy-dropdown-option {
		font-size: 12px;
		height: 32px;
		font-family: Roboto-Regular;
		color: $search-font-color;
	}
}
