
.customReportView{
    .selectAll{
        .custom-control-label{
            font-size:10px;
        }
        .custom-control.custom-checkbox{
            margin-left: -8%;
        }
    }
    .customReportButtons{
        margin-top:60px;
    }
}
 
  