@import '../../themes';

.accelerators-container {
	height: 100%;
	width: 100%;
	.left {
		vertical-align: top;
		display: inline-block;
		height: 100%;
		width: 230px;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: $accelerator-left-menu-background-color;
		@extend %custom-scroll-bar-y;
	}
	.right {
		width: calc(100% - 230px);
		display: inline-block;
		height: 100%;
		box-sizing: border-box;
		padding: 24px 32px;
		.accelerators-page {
			@include lightTheme {
				background-color: $light-bg-color-page;
			}
			height: 100%;
			width: 100%;
			.accelerators,
			.accelerators-no-cards {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				width: 100%;
				.accelerator-text {
					font-size: 16px;
					@include darkTheme {
						color: $dark-bg-color-page;
					}
					opacity: 0.6;
					display: block;
					padding: 24px 0 24px 0;
				}
			}
			.accelerators-no-cards {
				height: 100%;
			}
			.accelerators {
				height: calc(100% - 53px);
			}
			.accelerator-header {
				box-sizing: border-box;
				width: 100%;
				height: 108px;
				display: inline-block;
				padding: 32px 32px 24px 32px;
				.header-text {
					border-bottom: 2px solid $border-underline-color;
					.header-text-content {
						font-size: 21px;
						font-weight: 500;
						margin: 0;
						display: inline-block;
						width: 500px;
						.header-caption {
							opacity: 0.48;
							color: $dark-bg-color-page;
							font-size: 11px;
						}
					}
					.header-right-part {
						display: inline-block;
						position: absolute;
						right: 63px;
						.isy-button {
							top: -7px;
							padding: 4px 8px;
							margin-right: 13px;
						}
					}
				}
			}
			.content-container {
				height: calc(100% - 108px);
				overflow-y: auto;
				overflow-x: hidden;
				@extend %custom-scroll-bar-y;
				.category-container {
					padding: 0 32px 24px 32px;
					.category-label {
						font-family: Roboto-Medium;
						opacity: 0.7;
						font-size: 14px;
						font-weight: 500;
						width: 30%;
						margin-left: 2%;
					}
					&:first-child {
						padding-top: 50px;
					}
				}
			}
		}
	}
}
