@import '../../../themes';

.login-container {
	background: url(/images/Login.png);
	background-repeat: no-repeat;
	position: fixed;
	min-width: 100%;
	height: 768px;
	.logo-header {
		height: 36px;
		width: 50%;
		@include lightTheme {
			color: $light-secondary-color;
		}
		font-family: Roboto;
		font-size: 27px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 36px;
	}
	.logo-text {
		display: inline;
		@include lightTheme {
			color: $light-secondary-color;
		}
		position: relative;
		top: 49px;
		left: 60px;
		.logo-left {
			font-size: 27px;
			font-family: Roboto-Medium;
			padding-right: 10px;
		}
		.logo-right {
			@include lightTheme {
				border-left: 1px solid $light-secondary-color;
			}
			font-size: 21px;
			font-family: Roboto-Light;
			padding-left: 10px;
			opacity: 0.8;
		}
	}
	.form {
		float: right;
		@include lightTheme {
			color: $dark-bg-color-page;
			background: $light-bg-color-page;
		}

		width: 576px;
		height: 750px;
		.login-form {
			width: 320px;
			position: relative;
			left: 25%;
			top: 10%;
			.login-header {
				height: 37px;
				@include lightTheme {
					color: $dark-bg-color-page;
				}
				font-family: Roboto-Thin;
				font-size: 28px;
				font-weight: 100;
				letter-spacing: 0;
				line-height: 37px;
				text-align: center;
				margin-bottom: 60px;
			}
			.input-border {
				font-size: 14px;
				.MuiFormLabel-root.Mui-focused {
					font-size: 20px;
					@include lightTheme {
						color: $dark-bg-color-page;
					}
				}
				.invalid-message {
					height: 16px;
					width: 141px;
					@include lightTheme {
						color: $error-text-color;
					}
					font-size: 12px;
					letter-spacing: 0;
					line-height: 16px;
				}
			}
			.create-btn {
				font-family: Roboto-Medium;
				font-weight: 500;
				text-transform: capitalize;
				box-sizing: border-box;
				height: 40px;
				width: 320px;
				@include lightTheme {
					border-color: $light-secondary-color;
					color: $light-bg-color-page;
				}
				border: 1px solid $light-secondary-color;
				border-radius: 4px;
				background-color: $light-secondary-color;
				text-align: center;
				font-size: 14px;
				vertical-align: center;
				padding-top: 10px;
				cursor: pointer;
				margin-top: 1px;
			}
			.remember-password {
				position: relative;
				top: 2px;
				left: 10px;
			}
			.message-class {
				position: relative;
				float: left;

				.remember-tag {
					height: 20px;
					width: 184px;
					@include lightTheme {
						color: $check-text-color;
					}
					font-family: Roboto-Regular;
					font-size: 15px;
					letter-spacing: 0;
					line-height: 20px;
				}
			}
			.log-in {
				float: right;
				position: relative;
				right: 85px;
				height: 20px;
				width: 46px;
				@include lightTheme {
					color: $light-secondary-color;
				}
				font-family: Roboto-Regular;
				font-size: 15px;
				letter-spacing: 0;
				line-height: 20px;
			}
		}
		.MuiFormControl-root {
			width: 100%;
			margin-bottom: 10px;
		}
		// .MuiInputBase-input.MuiInput-input {
		// 	.email-class {
		// 		@include lightTheme {
		// 			background-color: $background-color-email;
		// 		}
		// 	}
		// }
		.footer-class {
			position: absolute;
			top: 79%;
			height: 100px;
			padding: 0 48px;
		}
	}
}
