.dynamic-form-select {
  select {
    // background: url("/images/dropdown.png") no-repeat 97% 50%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  select.form-control[multiple] {
    width: 250px;
    height: 150px;
    background: none;
  }
}
