@import '../../../themes';

.steps-button {
	border: 1px solid $light-bg-color-page;
	background-color: $light-secondary-color;
	color: $light-bg-color-page;
	padding: 5px 24px;
	text-shadow: none;
	font-size: 11px;
	border-radius: 3px;
	text-align: center;
	float: none;
	font-family: Roboto-Medium;
	margin-right: 8px;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	position: relative;
	overflow: visible;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	zoom: 1;
	*display: inline;
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

.steps-showElement {
	z-index: 1200 !important;
}

.steps-skipbutton {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	float: right;
	line-height: 1;
	text-align: center;
	color: $light-bg-color-page;
	font-size: 24px;
	cursor: pointer;
	font-weight: lighter;
	padding: 0;
	&:hover,
	&:focus {
		color: white;
		outline: none;
		text-decoration: none;
		cursor: pointer;
	}
}

.steps-overlay-top.steps-parts-overlay,
.steps-overlay-bottom.steps-parts-overlay,
.steps-overlay-bottom.steps-parts-overlay {
	z-index: 1300;
}

.step-complete-button {
	background-color: $light-bg-color-page;
	color: $light-secondary-color;
	border-radius: 3px;
	padding: 5px 24px;
	font-size: 11px;
	font-family: Roboto-Medium;
	margin-right: 3px;
	cursor: pointer;
}

.steps-tooltipReferenceLayer {
	background-color: $light-secondary-color !important;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	position: absolute;
	visibility: hidden;
	z-index: 10000;
	background-color: transparent;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.steps-helperLayer {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	position: absolute;
	z-index: 200;
	border-radius: 4px;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 0 !important;
	height: 0 !important;
	* {
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
		&::before {
			-webkit-box-sizing: content-box;
			box-sizing: content-box;
		}
		&::after {
			-webkit-box-sizing: content-box;
			box-sizing: content-box;
		}
	}
}

.steps-helperNumberLayer {
	color: #9e9e9e;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.steps-disableInteraction {
	z-index: 12000 !important;
	position: absolute;
	background-color: #ffffff;
	opacity: 0;
	filter: alpha(opacity=0);
}

.steps-arrow {
	border: 5px solid transparent;
	content: '';
	position: absolute;
	&.top {
		top: -10px;
		left: 10px;
		border-bottom-color: $light-secondary-color;
	}

	&.top-right {
		top: -10px;
		right: 10px;
		border-bottom-color: $light-secondary-color;
	}

	&.top-middle {
		top: -10px;
		left: 50%;
		margin-left: -5px;
		border-bottom-color: $light-secondary-color;
	}

	&.right {
		right: -10px;
		top: 10px;
		border-left-color: $light-secondary-color;
	}

	&.right-bottom {
		bottom: 10px;
		right: -10px;
		border-left-color: $light-secondary-color;
	}

	&.bottom {
		bottom: -10px;
		left: 10px;
		border-top-color: $light-secondary-color;
	}

	&.bottom-right {
		bottom: -10px;
		right: 10px;
		border-top-color: $light-secondary-color;
	}

	&.bottom-middle {
		bottom: -10px;
		left: 50%;
		margin-left: -5px;
		border-top-color: $light-secondary-color;
	}

	&.left {
		left: -10px;
		top: 10px;
		border-right-color: $light-secondary-color;
	}

	&.left-bottom {
		left: -10px;
		bottom: 10px;
		border-right-color: $light-secondary-color;
	}
}

.steps-tooltip {
	background-color: $light-secondary-color !important;
	width: 360px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	position: absolute;
	visibility: visible;
	min-width: 250px;
	max-width: 350px;
	border-radius: 5px;
	-webkit-box-shadow: 0 3px 30px rgba(33, 33, 33, 0.3);
	box-shadow: 0 3px 30px rgba(33, 33, 33, 0.3);
	-webkit-transition: opacity 0.1s ease-out;
	-o-transition: opacity 0.1s ease-out;
	transition: opacity 0.1s ease-out;
}

.steps-tooltip-title {
	margin: 0;
	padding: 0;
	float: left;
	line-height: 32px;
	font-size: 14px;
	font-family: Roboto-Medium;
	color: $light-bg-color-page;
	font-weight: 100;
}

.steps-tooltip-header {
	border-bottom: 1px solid $light-bg-color-page;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	&::after {
		content: '.';
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
}

.step-custom-button {
	background-color: $light-bg-color-page;
	color: $light-secondary-color;
	border-radius: 3px;
	padding: 5px 24px;
	font-size: 11px;
	font-family: Roboto-Medium;
	margin-right: 3px;
	cursor: pointer;
}

.step-custom-skip-button {
	background-color: $light-bg-color-page;
	color: $light-secondary-color;
	border-radius: 3px;
	padding: 5px 24px;
	font-size: 11px;
	font-family: Roboto-Medium;
	margin-right: 3px;
	cursor: pointer;
}

.step-custom-start-button {
	background-color: $light-bg-color-page;
	color: $light-secondary-color;
	border-radius: 3px;
	padding: 5px 24px;
	font-size: 11px;
	font-family: Roboto-Medium;
	margin-right: 3px;
	cursor: pointer;
}

.steps-overlay {
	position: absolute;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	z-index: 120;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.steps-fixedTooltip {
	position: fixed;
}

.steps-relativePosition {
	position: relative;
}

.steps-tooltiptext {
	padding: 20px;
	color: $light-bg-color-page;
	font-size: 12px;
	line-height: 16px;
	opacity: 0.8;
}

.steps-nextbutton {
	float: right;
	background-color: $light-bg-color-page;
	color: $light-secondary-color;
	border-radius: 3px;
	padding: 5px 24px;
	font-size: 11px;
	font-family: Roboto-Medium;
	&:focus {
		border-color: none;
	}
}

.steps-prevbutton {
	border: 1px solid $light-bg-color-page;
	background-color: $light-secondary-color;
	color: $light-bg-color-page;
	padding: 5px 24px;
	text-shadow: none;
	font-size: 11px;
	border-radius: 3px;
	text-align: center;
	float: none;
	font-family: Roboto-Medium;
	margin-right: 8px;
}
.steps-tooltipbuttons {
	text-align: right;
	white-space: nowrap;
	border-top: none;
	padding: 20px;
	&::after {
		content: '';
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
	.steps {
		color: $light-bg-color-page;
		font-family: Roboto-Medium;
		font-size: 12px;
		margin-top: 4px;
		float: left;
	}
}

.steps-bullets {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.steps-progress {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	overflow: hidden;
	height: 10px;
	margin: 10px;
	border-radius: 4px;
	background-color: #e0e0e0;
}

.steps-progressbar {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	float: left;
	width: 0%;
	height: 100%;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	background-color: #08c;
}

.steps-hidden {
	display: none;
}

.steps-disabled {
	color: #9e9e9e;
	border-color: #bdbdbd;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: default;
	background-color: #f4f4f4;
	background-image: none;
	text-decoration: none;
	&:hover,
	&:focus {
		color: #9e9e9e;
		border-color: #bdbdbd;
		-webkit-box-shadow: none;
		box-shadow: none;
		cursor: default;
		background-color: #f4f4f4;
		background-image: none;
		text-decoration: none;
	}
}

.stepsFloatingElement {
	position: absolute;
	height: 0;
	width: 0;
	left: 50%;
	top: 50%;
}
