.case-fraud-report-container {
  table {
    width: 100%;
    tr {
      margin-bottom: 10px;
    }
  }
  .MuiTableBody-root {
    .ALERT {
      color: #ccaf28;
    }
    .INCREASEAUTH {
      color: #00f;
    }
    .ALLOW {
      color: #008000;
    }
    .DENY {
      color: #ff0000;
    }
  }
  .y-axis path {
    stroke-width: 0 !important;
  }
  .axis path {
    fill: none;
    stroke: #707070;
    stroke-width: 2;
    shape-rendering: crispEdges;
  }
  .axis line {
    fill: none;
    stroke: #707070;
    shape-rendering: crispEdges;
  }
  .axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: darkgray;
  }
  .grid line {
    stroke: #707070;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
    stroke-dasharray: 5, 5;
  }
  .grid path {
    stroke-width: 0;
  }
}
