.manage-list-category {
  .upload-untrusted-ip-ranges {
    .add-delete-ip-range {
      input {
        font-size: 13px;
        padding: 7px 10px;
        color: var(--createlist-table-row-color);
        border: 1px solid var(--radio-disabled-background);
        border-radius: 4px;
        margin-right: 4px;
        margin-left: 4px;
      }
      label {
        width: 120px;
      }
      .mr-20 {
        margin-right: 20px;
      }
    }
    .custom-default-btn:hover {
      background-color: var(--config-bg) !important;
    }
  }
  .trusted-aggregator {
    select {
      background: url(/images/dropdown.png) no-repeat 97% 50%;
      appearance: none;
      -webkit-appearance: none;
    }
    .p-0 {
      padding: 0 !important;
    }
    .aggr-input {
      // width: initial;
      width: 50%;
      display: inline-block;
      margin-right: 4px;
    }
  }
  .vertical-align-top {
    vertical-align: top;
  }
}
