@import '../../../themes';
.invite-users {
	.isy-form-builder-container {
		width: 80%;
		display: inline-block;
		vertical-align: top;
		.email-input {
			width: 60%;
		}
		.role-input {
			width: 40%;
		}
		.isy-form-builder-input {
			vertical-align: top;
			padding-right: 10px;
			display: inline-block;
			box-sizing: border-box;
			.isy-form-builder-input-header {
				font-size: 14px;
				cursor: pointer;
				margin-bottom: 0.5rem;
				display: block;
				.isy-form-builder-input-required {
					color: $form-label-required-color;
				}
			}
			.isy_input {
				color: $form-control-font-color;
				border: 1px solid $form-control-border-color;
				font-size: 14px;
				display: block;
				width: 100%;
				padding: 6px 12px;
				line-height: 1.5;
				box-sizing: border-box;
				border-radius: 4px;
				&:focus {
					border: 1px solid $form-control-border-color;
					outline: none;
				}
			}

			.isy-dropdown {
				color: $form-control-font-color;
				border: 1px solid $form-control-border-color;
				font-size: 14px;
				display: block;
				width: 100%;
				line-height: 1.5;
				box-sizing: border-box;
				border-radius: 4px;
				padding: 3px 5px;
				.isy-dropdown-control {
					width: 100%;
					.MuiInput-input {
						background-color: transparent;
					}
					.isy-dropdown-option-label {
						color: $form-control-font-color;
						font-size: 14px;
					}
				}
			}
		}
		.error-label {
			color: $error-font-color;
			font-size: 12px;
			padding-top: 2px;
		}
		.error.error.error {
			border: 1px solid $error-border-color;
		}
	}
	.add-link-container {
		width: 20%;
		display: inline-block;
		vertical-align: top;
		.add-link {
			box-sizing: border-box;
			border-radius: 4px;
			font-size: 14px;
			box-shadow: none;
			height: 35px;
			border: 1px solid $metadata-btn-border-color;
			color: $metadata-btn-text-color;
			background-color: $metadata-btn-background-color;
			padding: 5px 15px;
			align-items: center;
			display: flex;
			justify-content: center;
			font-family: Roboto-Medium;
			text-transform: capitalize;
			top: 24px;
			width: 100%;
			&:focus {
				outline: none;
			}
			&:hover {
				box-shadow: none;
			}
			.MuiSvgIcon-root {
				font-size: 1.2rem;
				color: $metadata-btn-text-color;
			}
		}
	}
	.invited-user-list-container {
		margin-top: 15px;
		.invited-user-list {
			padding: 10px 15px 4px 15px;
			border-bottom: 1px solid $module-data-color;
			.email-list-class {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: left;
				min-width: 20px;
				opacity: 0.87;
				color: rgba(18, 18, 18, 0.83);
				font-family: Roboto-Regular;
				font-size: 12px;
				letter-spacing: 0;
				width: 210px;
				display: inline-block;
			}
			.dropdown-class {
				opacity: 0.87;
				color: rgba(18, 18, 18, 0.83);
				font-family: Roboto-Regular;
				font-size: 12px;
				letter-spacing: 0;
				width: 70px;
				display: inline-block;
				top: -3px;
				position: relative;
				.MuiInput-input {
					background-color: transparent;
				}
			}
		}
		& > :first-child {
			border-top: 1px solid $module-data-color;
		}
		.close-icon-invite-user {
			float: right;
			cursor: pointer;
			width: 18px;
			height: 18px;
			margin-top: 3px;
		}
	}
}
