@import '../../../../themes.scss';
.database-parent {
	.database-accordion {
		height: 100vh;

		background-color: $database-accordion-background-color;
		.database-parent-accordion {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-left: 10px;
			padding-right: 10px;
			height: 53px;
			background-color: $avatar-color;
			.MuiSvgIcon-root {
				@include lightTheme {
					color: $metadata-btn-text-color;
				}
			}
		}
		.MuiAccordionSummary-root {
			min-height: 0px;
		}
		.hide-settings-icon {
			visibility: hidden;
			position: absolute;
			right: 11px;
			padding-left: 4px;
			padding-right: 4px;
		}
		.accordion-parent:hover {
			.hide-settings-icon {
				visibility: visible;
			}
			.hide-settings-icon:hover {
				background-color: $database-accordion-background-color;
			}
		}
		.MuiAccordionSummary-root {
			padding: 0px;
		}
		.MuiAccordionSummary-root.Mui-expanded {
			min-height: 0px;
		}
		.menu-header {
			.database-name.MuiTypography-body1 {
				padding-left: 10px;
			}
			.MuiAccordionSummary-root {
				background-color: $database-accordion-menu-color;
				margin-bottom: 1px;
				flex-direction: row-reverse;
			}
			.MuiAccordionSummary-content.Mui-expanded {
				margin: 12px 0;
			}
			.MuiSvgIcon-root {
				color: $grid-text-color;
			}
		}

		.subMenu-menu-header {
			.account-tree-icon {
				.MuiSvgIcon-root {
					color: $schema-icon-color;
					margin-top: 13px;
				}
			}
			background-color: $database-accordion-background-color;
			.MuiAccordionSummary-root {
				margin: 0px;
				padding-left: 13px;
				background-color: $database-accordion-menu-color;
			}
			.MuiSvgIcon-root {
				color: $grid-text-color;
			}
			.MuiFormControlLabel-root {
				margin: 0px;
			}
			.checkbox {
				.MuiSvgIcon-root {
					color: $database-checkbox-color;
				}
			}
			.table-icon {
				.MuiSvgIcon-root {
					color: $database-checkbox-color;
				}
			}
			.MuiListItem-root.list-selected {
				border: 1px solid $light-tab-border-color;
				background-color: $database-list-selected;
				border-right: 3px solid $light-secondary-color;
			}

			.MuiTypography-body1.schema-display-name {
				line-height: 3;
				margin-left: 9px;
			}
			.MuiAccordionSummary-content.Mui-expanded {
				margin: 0px;
			}
			.MuiAccordionSummary-content {
				margin: 0px;
			}
		}
		.MuiPaper-elevation1 {
			box-shadow: none;
		}
		.MuiListItemIcon-root {
			min-width: 32px;
		}
		.MuiAccordionDetails-root {
			padding: 0px;
			display: block;
		}
		.MuiListItem-root {
			padding-bottom: 5px;
			padding-top: 5px;
		}
		.MuiList-padding {
			padding: 0px;
		}
		.MuiListItem-gutters {
			padding-right: 0px;
			padding-left: 30px;
		}
		.MuiList-root {
			background-color: $database-accordion-background-color;
		}
		.menu-header.selected {
			.MuiAccordionSummary-root {
				flex-direction: row-reverse;
				background-color: $database-accordion-menu-selected-color;
			}
			.subMenu-menu-header {
				.MuiAccordionSummary-root {
					margin: 0px;
					background-color: $database-accordion-background-color;
				}
			}
		}
	}
}
.tables-list-container {
	.list-item {
		.list-item-text {
			span {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
