@import '../../themes';

.isy-form-builder-container {
	box-shadow: none;
	.isy-form-builder-accordion-section,
	.isy-form-builder-section {
		overflow: hidden;
		.isy-accordion {
			.isy-accordion-summary {
				padding-left: 0px;
				border-bottom: 1px solid $right-slider-border-color;
			}
			.isy-accordion-summary.Mui-expanded {
				border-bottom: none;
			}
			.MuiCollapse-wrapperInner {
				padding-bottom: 15px;
				border-bottom: 1px solid $right-slider-border-color;
			}
		}
		.isy-form-builder-input-header {
			font-size: 14px;
			display: block;
			padding-bottom: 0.5rem;
			.isy-form-builder-input-required {
				color: $form-label-required-color;
			}
		}
		.isy-dropdown {
			border-radius: 4px;
			border: 1px solid $form-control-border-color;
			font-size: 14px;
			width: 384px;
			box-sizing: border-box;
			margin-top: 0px;
			&:before {
				border-bottom-style: none;
			}
			&:focus {
				border-radius: 4;
			}
			.MuiSelect-selectMenu {
				padding: 6px 12px;
			}
			.MuiSelect-icon {
				right: 8px;
			}
			.MuiInputBase-root {
				width: inherit;
			}
			.MuiSelect-select {
				&:focus {
					background-color: transparent;
				}
			}
		}
		.isy-form-builder-input {
			padding-top: 20px;
			max-width: 384px;
			&:first-child {
				padding-top: 0;
			}
			.isy_input,
			.isy-file-input {
				font-size: 14px;
				display: block;
				width: 100%;
				padding: 6px 12px;
				box-sizing: border-box;
				color: $form-control-font-color;
				border: 1px solid $form-control-border-color;
				border-radius: 4px;
				height: 32px;
			}
			.isy_input.error {
				border: 1px solid $error-font-color;
			}
			.isy-textarea {
				.isy-textarea-control {
					display: block;
					width: 100%;
					height: 92px;
					padding: 6px 12px 6px 12px;
					line-height: 1.5;
					box-sizing: border-box;
					font-family: inherit;
					border: 1px solid $form-control-border-color;
					color: $form-control-font-color;
					border-radius: 4px;
					font-size: 14px;
					&:focus {
						border-color: $form-control-border-color;
						outline: 0 none;
					}
				}
				.isy-textarea-control.error {
					border: 1px solid $error-font-color;
				}
			}
			.isy-chip-input-control {
				font-size: 14px;
				display: block;
				width: 100%;
				line-height: 1.5;
				box-sizing: border-box;
				color: $form-control-font-color;
				border: 1px solid $form-control-border-color;
				border-radius: 4px;
				.isy-chip-input-chip {
					margin: 3px 0;
				}
				input {
					font-size: 14px;
					padding: 6px 7px 6px 12px;
					box-sizing: border-box;
					&::placeholder {
						font-size: 14px;
						opacity: 0.9;
						color: $form-control-font-color;
					}
				}
			}
			.isy-chip-input-control.error {
				border: 1px solid $error-font-color;
			}
			.error-label {
				font-size: 12px;
				color: $error-font-color;
				display: inline-flex;
			}
		}

		.isy-form-builder-array-section {
			padding: 0;
			.isy-chip-select {
				.isy-chip-input-control-icon {
					position: relative;
					z-index: 0;
					bottom: 32px;
					right: 10px;
					float: right;
					cursor: pointer;
				}
			}
			.secondary-btn.isy-button {
				height: 32px;
				svg {
					font-size: 1.2rem;
					color: $metadata-btn-text-color;
				}
				&:focus {
					svg {
						color: #ffffff;
					}
				}
			}
			.isy-grid-header {
				border-bottom: none;
				cursor: default;
				&:hover {
					background-color: transparent;
				}
				.isy-grid-header-cell {
					vertical-align: middle;
					width: 255px;
					padding-left: 0px;
					&:last-child {
						width: 10%;
					}
				}
			}
			.isy-grid-row {
				border-bottom: none;
				cursor: default;
				&:hover {
					background-color: transparent;
				}
				.isy-grid-row-cell {
					vertical-align: middle;
					width: 255px;
					padding-left: 0px;
					padding-bottom: 0px;
					.isy-form-builder-input {
						padding: 0px;
						.isy_input,
						.isy-file-input {
							font-size: 14px;
							display: block;
							width: 100%;
							padding: 6px 12px;
							border-radius: 0px;
							line-height: 1.5;
							box-sizing: border-box;
						}
					}
					&:last-child {
						width: 10%;
					}
				}
			}
		}
		.isy-form-builder-checkbox-list {
			.select-clear-all-holder {
				height: 49px;
				vertical-align: middle;
				padding: 15px 0px;
				box-sizing: border-box;
				.select-all,
				.clear-all {
					color: $metadata-btn-text-color;
					font-family: Roboto-Regular;
					font-size: 13px;
					font-weight: 500;
					cursor: pointer;
				}
				.clear-all {
					margin-left: 24px;
				}
			}
			.isy-checkbox {
				display: inline-block;
				width: 50%;
				.isy-checkbox-control {
					display: inline-block;
					vertical-align: middle;
				}
				.isy-checkbox-label {
					font-size: 13px;
					line-height: 20px;
					letter-spacing: 0;
					color: $grid-text-color;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					width: calc(100% - 42px);
					display: inline-block;
					vertical-align: middle;
					.checkbox-group {
						background-color: $light-form-color;
						.MuiSvgIcon-root {
							font-size: 13px;
						}
					}
				}
			}
		}
	}
	.isy-form-builder-section {
		.isy-form-builder-input {
			&:first-child {
				padding-top: 20px;
			}
		}
	}
	&.view-mode {
		.isy-form-builder-view-content {
			opacity: 0.6;
			color: $form-control-font-color;
			padding-bottom: 10px;
			font-size: 14px;
		}
		.isy-grid-row {
			height: 45px;
			.isy-form-builder-input {
				display: inline;
			}
			.column-1 {
				display: inline;
				padding: 0px;
				.isy-form-builder-view-content {
					background-color: $meta-data-key-color;
					display: inline;
					font-size: 12px;
					padding: 10px;
					color: $form-control-font-color;
					opacity: 0.8;
					border-top-left-radius: 4px;
					border-bottom-left-radius: 4px;
				}
			}
			.column-2 {
				display: inline;
				padding: 0px;
				.isy-form-builder-view-content {
					margin-right: 30px;
					font-family: Roboto-Medium;
					font-weight: 600;
					background-color: $meta-data-value-color;
					display: inline;
					font-size: 12px;
					color: $grid-text-color;
					padding: 10px;
					border-top-right-radius: 4px;
					border-bottom-right-radius: 4px;
					opacity: 0.8;
					position: relative;
					&::before {
						position: absolute;
						content: '';
						transform: translateX(-50%) translateY(-50%) rotate(45deg);
						bottom: auto;
						right: auto;
						top: 50%;
						left: 0;
						width: 0.6666em;
						height: 0.6666em;
						transition: none;
						background-color: inherit;
						background-image: inherit;
						border-color: $meta-data-value-color;
						border-style: solid;
						border-width: 0 0 1px 1px;
					}
				}
			}
		}
	}
}
