@import '../../themes';

.download-code-dialog {
	.MuiPaper-rounded {
		position: absolute;
		right: 64px;
		top: 15px;
		width: 320px;
		background-color: $light-bg-color-side-nav;
		.MuiDialogTitle-root {
			padding: 0;
			border-bottom: 1px solid $download-code-border;
			height: 38px;
			.close-icon {
				top: 11px;
				width: 16px;
				height: 16px;
				opacity: 0.8;
			}
			.dialog-heading {
				font-size: 13px;
				color: $light-bg-color-page;
				opacity: 0.9;
				padding: 12px 16px;
				font-weight: initial;
			}
		}
		.MuiDialogContent-root {
			padding: 0;
		}
		.actions-btn {
			display: none;
		}
	}
}

.download-icon {
	width: 30px;
	height: 47px;
	border-radius: 50%;
	background: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right: 18px;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
	.linear-progress-bar {
		height: 2px;
		width: 100%;
		background-color: $linear-progress-background;
		position: absolute;
		left: 0;
		bottom: 8px;
	}
	.MuiLinearProgress-barColorPrimary {
		background-color: $linear-progress-bar-color;
	}
}

.select-download-code {
	.start-section {
		text-align: center;
		padding: 8px 0 15px;
		border-bottom: 1px solid $download-code-border;
		.secondary-btn {
			height: 24px;
			width: 200px;
			margin-top: 8px;
			margin-bottom: 18px;
			background: $light-bg-color-side-nav;
			cursor: pointer;
		}
		.section-text {
			font-size: 9px;
			font-family: Roboto-Regular;
			color: $light-bg-color-page;
			opacity: 0.6;
		}
	}
	.middle-section {
		.task-item {
			position: relative;
			padding: 10px 16px 14px 16px;
			border-bottom: 1px solid $download-code-border;
			.badge {
				border-radius: 50%;
				width: 11px;
				display: inline-block;
				vertical-align: middle;
				height: 12px;
				font-size: 9px;
				text-align: center;
				padding: 2px;
				display: inline-block;
				background-color: $download-code-badge-bg;
				color: $light-bg-color-page;
				opacity: 0.8;
			}
			.label {
				display: inline-block;
				width: calc(100% - 24px);
				padding-left: 10px;
				box-sizing: border-box;
				color: $light-bg-color-page;
				font-size: 11px;
				opacity: 0.8;
				font-family: Roboto-Medium;
			}
			.sub-text {
				height: 12px;
				font-family: Roboto-Light;
				font-size: 8.5px;
				font-weight: 300;
				color: $light-bg-color-page;
				opacity: 0.6;
				padding-left: 32px;
				line-height: 12px;
				display: inline-block;
			}
			.done {
				.sub-text {
					width: calc(100% - 125px);
				}
			}
			.error {
				.sub-text {
					color: $app-dev-ops-error-icon-color;
					opacity: 1;
				}
			}
			.not-config {
				.sub-text {
					color: $app-dev-ops-not-config-icon-color;
					opacity: 1;
				}
			}
			.icon {
				height: 24px;
				width: 24px;
				display: inline-block;
				vertical-align: middle;
				&.success {
					fill: $app-dev-ops-success-icon-color;
				}
				&.error {
					fill: $app-dev-ops-error-icon-color;
				}
				&.not-config {
					fill: $app-dev-ops-not-config-icon-color;
				}
			}
			.secondary-btn {
				position: absolute;
				background: transparent;
				font-size: 9px;
				top: 16px;
				right: 8px;
				&:focus {
					color: $light-secondary-color;
				}
			}
			.in-progress {
				.circular-progress {
					width: 20px;
					height: 20px;
					position: relative;
					display: inline-block;
					vertical-align: middle;
					.track {
						color: $circular-loader-background;
					}
					.path {
						color: $circular-loader-bar-color;
						position: absolute;
						top: 0px;
						left: 0px;
					}
					circle {
						strokelinecap: 'round';
					}
					.badge {
						background-color: transparent;
						position: absolute;
						top: 2px;
						left: 2px;
					}
				}
			}
			color: $circular-loader-bar-color;
			&:last-child {
				border-bottom: 0;
			}
		}
	}
	.footer {
		border-top: 1px solid $download-code-border;
		font-size: 7px;
		color: $light-bg-color-page;
		opacity: 0.5;
		padding: 18px 24px;
		font-family: Roboto-Regular;
	}
	.done-msg-footer {
		border-top: 1px solid $download-code-border;
		font-size: 8px;
		color: $light-bg-color-page;
		padding: 10px 0px 13px 0px;
		font-family: Roboto-Light;
		text-align: center;
	}
	.relaunch-btn {
		border-top: 1px solid $download-code-border;
		padding: 20px 60px;
		.primary-btn {
			height: 24px;
			width: 200px;
			border-radius: 3px;
			font-size: 11px;
			font-weight: 500;
			letter-spacing: 0;
			line-height: 15px;
			text-align: center;
		}
	}
}
