@import '../../../../themes';
.DbCanvasContainer {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	opacity: 1;
	.DbCanvasSVGContainer {
		width: 100%;
		height: 100%;
		align-content: stretch;
		flex: 1;
	}

	.DbCanvasItemRect {
		fill: ghostwhite;
	}
	.DbCanvasLine {
		stroke: #525150 !important;
		stroke-width: 2;
		stroke-linejoin: round;
		opacity: 0.7;
		&:hover {
			stroke: #525150 !important;
			stroke-width: 3;
			stroke-linejoin: round;
			opacity: 1;
		}
		&.DbCanvasLineSelected {
			stroke: #000000 !important;
			stroke-width: 3;
			stroke-linejoin: round;
			opacity: 1;
		}
	}
}
