@import '../../../themes';
.help-landing-page-dialog {
	.MuiDialog-paper {
		background-color: $light-secondary-color;
		width: 600px;
		.MuiDialogTitle-root {
			border-bottom: 1px solid $light-form-color;
			padding: 32px 24px;
			h2 {
				text-align: center;
			}
			svg {
				visibility: hidden;
			}
			.dialog-heading {
				color: $light-form-color;
			}
		}
		.MuiDialogContent-root {
			padding: 42px 24px;
			.help-section-icon {
				width: 136px;
				background-color: $help-logo-background-color;
				margin: 0 auto;
				color: $light-secondary-color;
				text-align: center;
				margin-bottom: 20px;
				margin-top: 20px;
				height: 50px;
				font-size: 12px;
				.help-logo {
					height: 16px;
					padding: 16px;
				}
			}
			.help-section {
				.help-section-description {
					color: $light-form-color;
					padding: 16px 24px;
					font-size: 14px;
					text-align: center;
				}
			}
		}
		.actions-btn {
			justify-content: center;
			.isy-start-btn {
				background-color: $light-bg-color-page;
				color: $light-secondary-color;
				border-radius: 3px;
				font-size: 11px;
				font-family: Roboto-Medium;
				cursor: pointer;
				text-transform: none;
			}
			.isy-skip-btn {
				border: 1px solid $light-bg-color-page;
				background-color: $light-secondary-color;
				color: $light-bg-color-page;
				font-size: 11px;
				border-radius: 3px;
				font-family: Roboto-Medium;
				text-transform: none;
			}
		}
	}
}
