@import '../../themes';

.app-page {
	@include lightTheme {
		background-color: $light-bg-color-page;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 50px);
	flex-direction: column;

	.data-base {
		width: 80px;
		height: 80px;
		margin-bottom: 22px;
	}

	.data-base-text {
		font-size: 16px;
		font-family: Roboto-Regular;
		@include darkTheme {
			color: $dark-bg-color-page;
		}
		opacity: 60%;
		width: 239px;
		height: 21px;
		margin-bottom: 18px;
	}
	.connect-db {
		border-radius: 4px;
		width: 140px;
		height: 47px;
		font-family: Roboto-Medium;
		font-size: 14px;
		margin-bottom: 10px;
		@include lightTheme {
			color: $light-bg-color-page;
			background-color: $light-secondary-color;
			border: 1px solid $light-secondary-color;
		}
		&:hover {
			@include lightTheme {
				background-color: #e34d28;
			}
		}
	}
	.new-app {
		border-radius: 4px;
		width: 130px;
		height: 32px;
		font-family: Roboto-Medium;
		font-size: 14px;
		@include lightTheme {
			color: $light-bg-color-page;
			background-color: $light-secondary-color;
			border: 1px solid $light-secondary-color;
		}
		&:hover {
			@include lightTheme {
				background-color: #e34d28;
			}
		}
	}
}
