@import '../../themes.scss';
.isy-chip-input {
	.isy-chip-input-label {
		font-size: 14px;
		cursor: pointer;
		display: block;
		.isy-chip-input-required {
			@include lightTheme {
				color: $form-label-required-color;
			}
		}
	}
	.isy-chip-input-control {
		.isy-chip-input-chip {
			&.focus {
				background-color: '#e34d28';
				color: '#ffffff';
			}
		}
	}
}
