@import '../../themes';

.web-services-container {
	height: 100%;
	.left {
		width: 232px;
		height: 100%;
		display: inline-block;
		vertical-align: top;
	}
	.right {
		width: calc(100% - 232px);
		height: 100%;
		display: inline-block;
		vertical-align: top;
		.page-tabs {
			border-bottom: 1px solid $database-accordion-menu-selected-color;
			.left-icon {
				vertical-align: bottom;
				width: 29px;
				height: 41px;
				display: inline-block;
				border: 1px solid $database-accordion-menu-selected-color;
				border-bottom: none;
				border-right: none;
				left: 8px;
				position: relative;
				.icon {
					width: 30px;
					height: 30px;
					padding-top: 6px;
					color: $grid-text-color;
				}
			}
			.right-icon {
				vertical-align: bottom;
				width: 29px;
				height: 41px;
				display: inline-block;
				border: 1px solid $database-accordion-menu-selected-color;
				border-bottom: none;
				border-left: none;
				left: -5px;
				position: relative;
				.icon {
					width: 30px;
					height: 30px;
					padding-top: 6px;
					color: $grid-text-color;
				}
			}
			.isy-tabs-root {
				padding-left: 0;
				padding-bottom: 15px;
				width: 100%;
				display: inline-block;
				.isy-tab-header {
					border: 1px solid $database-accordion-menu-selected-color;
					border-bottom: 0;
					margin-left: 8px;
					height: auto;
					padding: 12px;
					max-width: calc(14.2% - 8px);
					min-width: auto;
					box-sizing: border-box;
					.page-header {
						display: flex;
						align-items: center;
						.title {
							font-size: 14px;
							font-family: Roboto-Regular;
							color: $grid-text-color;
							width: 170px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
						.close {
							font-size: 14px;
							color: $dark-bg-color-page;
						}
					}
					&.active {
						border-top: 1px solid $search-icon-color;
						border-bottom: 0;
						background-color: $web-tabs-active-color;
						.title {
							font-family: Roboto-Medium;
						}
					}
				}
				&.right-left {
					width: calc(100% - 62px);
				}
				&.right,
				&.left {
					width: calc(100% - 31px);
				}
			}
		}
	}
}

.isy-tabs-menu {
	.close {
		display: none;
	}
}

.web-services-page-empty {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.web-services-text {
		font-size: 16px;
		font-family: Roboto-Regular;
		@include darkTheme {
			color: $dark-bg-color-page;
		}
		text-align: center;
		opacity: 0.6;
		padding-bottom: 20px;
	}
	.primary-btn {
		width: 130px;
		height: 32px;
	}
}
