.react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input {
    width: 100%;
    height: 35px;
    padding: 7px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #ced4da;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    z-index: 9999;
    border-radius: 2px;
    border:1px solid lightgray;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 5px 15px;
    z-index: 9999;
    font-size: 14px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
  .blue{
      color: blue;
      font-size: 14px;
      text-decoration: underline;
      cursor: pointer;
  }
  .react-autosuggest__input {
    background: url(/images/dropdown.png) no-repeat 97% 50%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}