.side-menu-items a:hover{
   text-decoration: none !important;
}
.side_menu_l4_header {
   margin: 0px;
   color: rgb(88, 103, 109);
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 0px;
   font-family: ca-sans;
   font-size: 14px;
   font-weight: 700;
   border-bottom-color: rgb(239, 239, 239);
   border-bottom-width: 1px;
   border-bottom-style: solid;
}
.side_menu_l4_menu > li > a {
   color: rgb(87, 103, 109);
   font-family: ca-sans;
   font-size: 14px;
   text-decoration: none;
}
.side-menu-items li{
   list-style: none;
   margin: 0px;
   padding: 7px;
   padding-left: 10px;
   border-bottom-color: rgb(239, 239, 239);
   border-bottom-width: 1px;
   border-bottom-style: solid;
   color: rgb(87, 103, 109);
   font-family: ca-sans;
   font-size: 14px;
   text-decoration: none;
}
.side-menu-items li:hover {
   background-color: rgb(233, 232, 232);
   cursor: pointer;
}
.activated-route,.side-menu-items li.activated-route:hover{
   background-color: #000000bf;
   color: white !important;
}