@import '../../../../themes';

.acc-left-menu {
	height: 100%;
	.isy-tabs-root {
		padding: 20px;
		padding-bottom: 0;
		.isy-tab-header {
			padding: 10px 16px;
			font-size: 13px;
			cursor: pointer;
		}
		.my-accelerators.steps-showElement {
			background-color: $light-secondary-color;
			color: $light-bg-color-page;
			border-radius: 4px;
		}
		.marketplace.steps-showElement {
			background-color: $light-secondary-color;
			color: $light-bg-color-page;
			border-radius: 4px;
		}
		.active {
			background-color: $light-secondary-color;
			color: $light-bg-color-page;
			border-radius: 4px;
		}
	}
	.isy-tabs-content {
		padding: 10px 0px;
		.divider {
			margin: 15px;
		}
		.category-filter {
			font-size: 14px;
			padding: 10px 0 10px 24px;
			opacity: 0.6;
			display: block;
			text-transform: uppercase;
		}
		.no-categories {
			font-size: 12px;
			padding-left: 24px;
		}
		.counter-apps {
			height: 20px;
			opacity: 0.87;
			color: $accelerator-apps-count;
			padding: 10px 0 10px 24px;
			font-size: 11px;
			letter-spacing: 0;
			line-height: 20px;
		}

		.list-container {
			.access-filters {
				padding: 16px 12px;
				padding-left: 0;
				.select-clear-text {
					padding-left: 26px;
					cursor: pointer;
					color: $light-secondary-color;
					vertical-align: middle;
					font-size: 13px;
					margin-top: -4px;
					height: 20px;
				}
			}
			.checkbox-class {
				.MuiSvgIcon-root {
					font-size: 16px;
					fill: $light-secondary-color;
				}
			}
			a {
				display: inherit;
				text-transform: capitalize;
				padding: 8px 30px;
				font-size: 13px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				text-decoration: none;
				color: $grid-text-color;
				&:link {
					color: $grid-text-color;
				}
			}
			.list-selected {
				background-color: $database-list-selected;
				font-family: Roboto-Medium;
				font-weight: 500;
				padding-left: 3px;
				&::before {
					content: '';
					padding-right: 23px;
					border-left: 4px solid $light-secondary-color;
				}
			}
			.checkbox-group-container {
				.isy-checkbox {
					.isy-checkbox-control {
						display: inline-block;
						vertical-align: middle;
					}
					margin-left: 24px;
					.isy-checkbox-label {
						font-size: 13px;
						line-height: 20px;
						opacity: 0.87;
						letter-spacing: 0;
						color: $grid-text-color;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						width: calc(100% - 70px);
						display: inline-block;
						vertical-align: middle;
						.checkbox-group {
							background-color: $accelerator-left-menu-background-color;
							.MuiSvgIcon-root {
								font-size: 13px;
								fill: $light-secondary-color;
							}
						}
					}
				}
			}
		}
	}
}
