@import '../../../../themes';
.list-platform-container {
	.isy-grid-container {
		.column-1 {
			width: 20%;
			padding-left: 54px;
			font-family: Roboto-Bold;
			color: $grid-text-color;
			opacity: 1;
		}
		.column-2 {
			width: 60%;
		}
		.column-3 {
			width: 20%;
		}
	}
	.dropdown-filter {
		position: relative;
		select {
			cursor: pointer;
			position: absolute;
			right: 0;
			bottom: 28px;
			width: 160px;
			height: 32px;
			padding-left: 6px;
			margin-right: 24px;
			font-size: 13px;
			font-family: Roboto-Regular;
			@include lightTheme {
				color: $form-control-font-color;
				border: 1px solid $light-shadow-color-page;
			}
			&:focus {
				outline: none;
			}
		}
	}
	.framework-container {
		.framework-grid {
			height: 85px;
			@include lightTheme {
				outline: 1px solid $cancel-btn-background-color;
			}
			.content {
				display: flex;
				@include lightTheme {
					background: $platform-bg-color;
				}
				padding: 16px 32px 16px 40px;
				.platform-icon {
					.MuiAvatar-root {
						height: 54px;
						width: 54px;
						@include lightTheme {
							background: $light-bg-color-page;
							color: $dark-bg-color-page;
						}
						img {
							height: 40px;
							width: 40px;
						}
					}
				}
				.description {
					flex: 1;
					padding-left: 12px;
					width: calc(100% - 200px);
					.platform-name {
						font-size: 16px;
						font-family: Roboto-Medium;
						opacity: 0.9;
						font-weight: 500;
						@include lightTheme {
							color: $dark-bg-color-page;
						}
						padding-top: 3px;
						padding-bottom: 12px;
					}
					.platform-desc {
						font-size: 12px;
						font-family: Roboto-Regular;
						@include lightTheme {
							color: $dark-bg-color-page;
						}
						opacity: 0.6;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				.add-framework-btn {
					.primary-btn {
						width: 133px;
						height: 32px;
					}
				}
			}
		}
		grid-list.MuiPaper-elevation1 {
			box-shadow: none;
			table {
				.desc-width {
					width: 700px;
				}
				.name-header {
					width: 180px;
				}
			}
		}
	}
}
