@import '../../../../themes';
.accelerators-table-view {
	margin: 0 32px 0 4px;
	.isy-grid-container {
		.isy-grid-header {
			border-bottom: 1px solid $cancel-btn-background-color;
			.column-1 {
				width: 102px;
				padding-left: 54px;
			}
			.column-2 {
				width: calc(30% - 134px);
				padding-left: 0;
				font-family: Roboto-Medium;
			}
			.column-3 {
				width: 24px;
			}
			.column-4 {
				width: calc(20% - 24px);
			}
			.column-5 {
				width: 15%;
			}
			.column-6 {
				width: 15%;
			}
			.column-7 {
				width: 20%;
			}
		}
		.isy-grid-body {
			.isy-accordion {
				box-shadow: none;
				border-bottom: 1px solid $accelerator-table-view-border;
				.isy-accordion-summary {
					padding-left: 45px;
					direction: rtl;
					display: inline-flex;
					.MuiAccordionSummary-content {
						padding-left: 20px;
						font-size: 14px;
						font-family: Roboto-Medium;
					}
					.isy-accordion-summary-icon {
						color: $dark-bg-color-page;
					}
				}
				.isy-grid-row {
					border-bottom: 1px solid $accelerator-table-view-border;
					&:first-child {
						border-top: 1px solid $accelerator-table-view-border;
					}
					&:last-child {
						border-bottom: 0;
					}
					height: 54px;
					.isy-grid-row-cell {
						vertical-align: middle;
						overflow: hidden;
						white-space: nowrap;
					}
					.column-1 {
						width: 102px;
						padding-left: 54px;
						padding-top: 11px;
						height: 54px;
						.image {
							height: 32px;
							width: 32px;
						}
					}
					.column-2 {
						width: calc(30% - 134px);
						padding-left: 0;
						font-family: Roboto-Medium;
						.card-header-title {
							max-width: calc(100% - 7px);
							text-overflow: ellipsis;
							display: inline-block;
							overflow: hidden;
						}
						.new-icon {
							position: relative;
							top: -5px;
						}
					}
					.column-3 {
						width: 24px;
						height: 54px;
					}
					.column-4 {
						width: calc(20% - 24px);
						text-overflow: ellipsis;
					}
					.column-5 {
						width: 15%;
					}
					.column-6 {
						width: 15%;
					}
					.column-7 {
						width: 20%;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
}
