.summary{
    font-family: 'ca-sans';
    letter-spacing: 0;
    color: #58676d;
    font-size: 16px;
}
.enable-data .form-control:disabled, .enable-data .form-control[readonly]{
    background-color: transparent;
}
.enable-data .mrg-tp{
    margin: 30px 0;
}
.enable-data .form-group {
    margin-bottom: 5px;
}