.third-nav{
    width: 100%;
    left: 0;
    top: 0;
    align-items: center;
    height: 50px;
    background-color:rgb(83, 187, 212);  
}
.third-nav .third-nav-text{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0px 15px;
    font-family: ca-sans;
    font-size: 14px;
    color: rgb(87, 103, 109);
    cursor: pointer;
}
.third-nav .third-nav-active{
    color:rgb(2, 2, 2) !important;
}
.third-nav a:hover{
    text-decoration: none;
}