.case-life-report-container{
    border:1px solid var(--rule-border-color);
    .rule-effect-table{
        width:100%;
    }
    .main-header{
        background-color: var( --rule-background-color);
        .col-head{
            padding:8px !important;
            text-align: left !important;
        }
        .child-head{
            border:1px solid var(--rule-border-color);
        }
    }
    .rule-effect-table thead, .rule-effect-table th{
        padding: 8px !important;
    }
    thead,th{
        border:1px solid var(--rule-border-color);
    }
   
    tr:nth-child(odd){
            background-color: var( --rule-background-color);
            border:1px solid var(--rule-border-color);
    }
    td{
        border:1px solid var(--rule-border-color);
        padding:8px !important;
    }
    tr:first-child{
        background-color:none !important;
    }
    .date{
        margin-left: 10px;
        margin-right:10px;
    }
}