@import '../../../../themes.scss';
.database-parent {
	height: 100%;
	.header {
		background-color: $database-accordion-background-color;
		.database {
			font-size: 14px;
			font-family: Roboto-Regular;
			color: $grid-text-color;
		}
		.database-parent-accordion {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-left: 10px;
			padding-right: 10px;
			height: 40px;
			background-color: $avatar-color;
			.MuiSvgIcon-root {
				color: $metadata-btn-text-color;
			}
		}
	}
	.database-accordion-overflow {
		height: calc(100% - 59px);
		overflow-y: auto;
		@extend %custom-scroll-bar-y;
		overflow-x: hidden;
		.MuiAccordionSummary-root {
			min-height: 0px;
		}
		.hide-settings-icon {
			visibility: hidden;
			position: absolute;
			right: 11px;
			top: 8px;
			height: 24px;
			border-radius: 50%;
		}
		.MuiSvgIcon-root {
			color: $grid-text-color;
		}
		.MuiAccordionSummary-root {
			padding: 0px;
		}
		.MuiAccordionSummary-root.Mui-expanded {
			min-height: 0px;
		}
		.databaseAccordion {
			box-shadow: none;
			&.Mui-expanded {
				margin: 0;
			}
			.MuiButtonBase-root {
				background-color: $database-accordion-menu-color;
				flex-direction: row-reverse;
				margin-bottom: 1px;
				height: 40px;
				&.Mui-expanded {
					// background-color: $database-accordion-menu-selected-color;
					&:hover {
						.hide-settings-icon {
							visibility: visible;
						}
					}
				}
				.MuiAccordionSummary-expandIcon {
					background-color: transparent;
				}
				.MuiAccordionSummary-content.Mui-expanded {
					margin: 12px 0;
				}
				.name.MuiTypography-body1 {
					padding-left: 10px;
					width: 150px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 13px;
				}
			}
			.MuiCollapse-container {
				background-color: #fff;
				.MuiAccordionDetails-root {
					padding: 0;
					display: block;
					.schemaAccordion {
						box-shadow: none;
						margin-bottom: 1px;
						&.Mui-expanded {
							margin: 0;
						}
						.name.MuiTypography-body1 {
							line-height: 3;
						}
						.MuiAccordionSummary-root {
							margin: 0;
							height: 40px;
							padding-left: 13px;
							background-color: $database-accordion-background-color;
							&.Mui-expanded {
								background-color: $database-accordion-menu-selected-color;
								&:hover {
									.hide-settings-icon {
										visibility: visible;
									}
								}
							}
							.account-tree-icon {
								.MuiSvgIcon-root {
									color: $schema-icon-color;
									margin-top: 13px;
									font-size: 16px;
								}
							}
						}
						.tables-list-container {
							.MuiList-padding {
								padding: 0px;
								.list-item {
									height: 32px;
									flex-direction: initial;
									padding: 5px 0 5px 50px;
									box-sizing: border-box;
									background-color: $database-accordion-background-color;
									&.list-selected {
										border: 1px solid $light-tab-border-color;
										background-color: $database-list-selected;
										border-right: 3px solid $light-secondary-color;
									}
									.MuiListItemIcon-root {
										min-width: 24px;
										svg {
											font-size: 16px;
											opacity: 0.6;
										}
									}
									.list-item-text {
										span {
											white-space: nowrap;
											overflow: hidden;
											text-overflow: ellipsis;
											font-size: 13px;
											font-family: Roboto-Regular;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
