@import '../../themes.scss';
.isy-animated-input {
	width: 100%;
	.MuiFormLabel-root {
		font-size: 18px;
	}
	.MuiFormLabel-root.Mui-focused {
		@include lightTheme {
			color: $active-signUp-label-color;
		}
		font-size: 18px;

		.MuiInput-underline {
			@include lightTheme {
				border-bottom: 1px solid $border-underline-color;
			}
		}
	}
	.MuiInput-underline:hover:not(.Mui-disabled):before {
		border-bottom: 0;
	}
	.MuiInput-underline {
		@include lightTheme {
			border-bottom: 1px solid $border-underline-color;
		}
		&::before {
			border-bottom: 0;
		}
	}
	.MuiInput-underline:after {
		border-bottom: 0;
	}
	&.error {
		.MuiInput-underline {
			@include lightTheme {
				border-bottom: 1px solid $error-text-color;
			}
			&::before {
				border-bottom: 0;
			}
			&:hover {
				&::before {
					border-bottom: 0;
				}
			}
		}
	}
}
