.configure-fields {

    .relayLinks{
        padding-left: 5px;
        padding-top: 6px;
        text-decoration: underline !important;
        color:var(--createlist-table-anchor-tag-color) !important ;
        cursor: pointer;
    }
    .disabled {
        padding-left: 5px;
        padding-top: 6px;
        text-decoration: underline !important;
        cursor: pointer;
    }
    .modal {
        display: none; 
        position: absolute;
        z-index: 1;
        padding-top: 100px; 
        left: 72px;
        top: 230px;
        width: 90%; 
        height: 82%;  
      }
    
      .modal .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: var(--createlist-table-white-color) !important;
        text-shadow: 0 1px 0 var(--createlist-table-white-color);
        opacity: 2.5 !important;
        cursor: pointer;
    }
      
      .modal-content {
        position: relative;
        background-color: var(--modal-content-background-color);
        margin: auto;
        padding: 0;
        border: 1px solid var(--modal-content-border);
        width: 60% !important;
      }
      .modal  .successheader {
        background-color: var(--modal-successheader);
        color: var(--modal-successheader-color);
        border: 1px solid var(--modal-successheader);
        border-bottom: none;
    }
    .modal  .dialog-title {
        float: left;
        color: var(--createlist-table-white-color) ;
    }
    .modal  .dialog-close {
        float: right;
        cursor: pointer;
        margin: 3px 3px 0 0;
        height: 11px;
        width: 11px;
        color: var(--createlist-table-white-color) !important;
        font-size: 28px;
        font-weight: bold;
    }
    .modal .dialog-header {
        display: block;
        padding: 3px 6px 7px;
        height: 30px;
        font-size: 14px;
        font-weight: bold;
      }
      .modal  .MuiTableCell-root a {
        color: var(--template-button-color )!important;
       }
    
    .form-inline label {
      display: flex;
      justify-content: left !important;
      margin-bottom: 0;
    }
}