@import '../../themes.scss';
.isy-file-input {
	box-sizing: border-box;
	.select-label {
		padding: 2px 12px;
		border-radius: 14px;
		background-color: $app-border-color;
		font-size: 13px;
		text-transform: none;
		cursor: pointer;
		height: 24px;
		display: inline-block;
		box-sizing: border-box;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: calc(100% - 12px);
	}
}
