@import '../../themes';
.isy-grid-container {
	width: 100%;
	height: 100%;
	.isy-grid-header {
		height: 48px;
		width: 100%;
		display: block;
		border-bottom: 1px solid $background-color-header;
		&:focus {
			outline: none;
		}
		.isy-grid-header-cell {
			display: inline-block;
			width: 10%;
			padding: 14px 16px 0px 16px;
			box-sizing: border-box;
			line-height: 32px;
			font-weight: 500;
			font-size: 12px;
			color: $grid-text-color;
			opacity: 0.8;
			vertical-align: bottom;
			&.sort-by {
				cursor: pointer;
				svg {
					display: inline;
					width: 12px;
					height: 12px;
					margin-left: 4px;
				}
			}
		}
	}
	.isy-grid-body {
		width: 100%;
		.isy-grid-row {
			width: 100%;
			display: block;
			border-bottom: 1px solid $background-color-email;
			cursor: pointer;
			&:hover {
				background-color: $grid-hover-background-color;
			}
			&:focus {
				outline: none;
				background-color: $grid-hover-background-color;
			}
		}
		.isy-grid-row-cell {
			display: inline-block;
			width: 10%;
			padding: 16px 16px;
			box-sizing: border-box;
			font-size: 12px;
			color: $grid-text-color;
			min-height: 48px;
			vertical-align: bottom;
		}
	}
	.isy-grid-loader-holder {
		width: 100%;
		height: 60px;
		text-align: center;
		.isy-grid-loader {
			top: calc(50% - 20px);
			position: relative;
		}
	}
	.isy-grid-empty-container {
		width: 100%;
		height: 40px;
		text-align: center;
		border-bottom: 1px solid $background-color-email;
		.isy-grid-empty-message {
			padding: 10px 0px;
			font-size: 14px;
			color: $light-text-color-bread-crumb;
		}
	}
}
