.edl_table_form td.label {
    width: 225px;
    height: 30px;
    padding-right: 10px;
}
.edl_checkbox {
    padding: 10px;
    border-bottom-color: rgb(216, 216, 216);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}