@import '../../../../themes';
.rest-service-page-tab-content {
	height: calc(100% - 58px);
	width: 100%;
	position: relative;
	.progress {
		width: 100%;
		height: 100%;
		background-color: $global-loader-holder-color;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		box-sizing: border-box;
		z-index: 9999;
		.loader {
			top: calc(50% - 20px);
			position: relative;
			color: $global-loader-color;
		}
	}
	.main-section {
		background-color: $light-bg-color-page;
		width: 100%;
		.isy-form-builder-container {
			display: inline-block;
			width: calc(100% - 150px);
			vertical-align: bottom;
			padding: 20px 20px 20px 40px;
			box-sizing: border-box;
			.name-input {
				width: 50%;
				display: inline-block;
				padding-bottom: 24px;
				padding-right: 5px;
				box-sizing: border-box;
			}
			.description-input {
				width: 50%;
				display: inline-block;
				padding-bottom: 24px;
				padding-left: 5px;
				box-sizing: border-box;
			}
			.requestMethod-input {
				width: 25%;
				display: inline-block;
				position: relative;
				top: -2px;
				padding-right: 5px;
				box-sizing: border-box;
			}
			.url-input {
				width: 75%;
				display: inline-block;
				padding-left: 5px;
				box-sizing: border-box;
			}
			.isy-form-builder-input {
				box-sizing: border-box;
				.isy-form-builder-input-header {
					color: $signUp-email-color;
					font-size: 14px;
					letter-spacing: 0;
					line-height: 30px;
					display: inline-flex;
					padding-bottom: 0.5rem;
				}
				.isy_input,
				.isy-file-input {
					color: $form-control-font-color;
					border: 1px solid $form-control-border-color;
					font-size: 14px;
					display: inline-flex;
					height: 32px;
					width: 100%;
					line-height: 1.5;
					box-sizing: border-box;
					border-radius: 4px;
					padding-left: 12px;
					&:focus {
						border: 1px solid $form-control-border-color;
						outline: none;
					}
				}
				.isy-dropdown {
					color: $form-control-font-color;
					border: 1px solid $form-control-border-color;
					font-size: 14px;
					display: block;
					width: 100%;
					line-height: 1.5;
					box-sizing: border-box;
					border-radius: 4px;
					padding: 1px 5px 0 12px;
					.isy-dropdown-control {
						width: 100%;
						.MuiInput-input {
							background-color: transparent;
						}
						.isy-dropdown-option-label {
							color: $form-control-font-color;
							font-size: 14px;
						}
					}
				}
			}
		}
		.send-button-holder {
			width: 150px;
			display: inline-block;
			vertical-align: bottom;
			padding-bottom: 22px;
			padding-right: 40px;
			box-sizing: border-box;
			.secondary-btn {
				width: 100%;
				height: 32px;
			}
		}
	}
	.middle-section {
		background-color: $light-bg-color-page;
		height: calc(100% - 236px);
		width: 100%;
		border-top: 1px solid $database-accordion-menu-selected-color;
		.config-data-section {
			height: 100%;
			display: inline-block;
			.isy-tabs-container {
				height: 71px;
				overflow-y: hidden;
				overflow-x: hidden;
				.isy-tabs-root {
					height: 71px;
					box-sizing: border-box;
				}
			}
			.tabs {
				.isy-tabs-root {
					border-bottom: 3px solid $database-accordion-menu-selected-color;
					padding-top: 26px;
					padding-left: 24px;
					padding-bottom: 13px;
				}
			}
			.config-tab-content {
				height: calc(100% - 71px);
				overflow-y: auto;
				overflow-x: hidden;
				@extend %custom-scroll-bar-y;
				.isy-grid-container {
					.isy-button {
						box-sizing: border-box;
						border-radius: 4px;
						font-size: 14px;
						box-shadow: none;
						height: 35px;
						border: 1px solid $metadata-btn-border-color;
						color: $metadata-btn-text-color;
						background-color: $metadata-btn-background-color;
						margin-left: 20px;
						margin-bottom: 10px;
						padding: 5px 15px;
						.MuiSvgIcon-root {
							font-size: 1.2rem;
							color: $metadata-btn-text-color;
						}
					}
					.isy-grid-header {
						border-bottom: none;
						height: auto;
					}
					.delete-icon {
						cursor: pointer;
						top: 5px;
						left: -15px;
						position: relative;
					}
					.isy-grid-body {
						.isy-grid-row {
							border-bottom: none;
							cursor: default;
							&:hover {
								background-color: transparent;
							}
							.isy-grid-row-cell {
								padding-bottom: 16px;
								.isy-form-builder-input {
									.isy_input,
									.isy-file-input {
										font-size: 14px;
										height: 32px;
										width: 100%;
										border-radius: 2px;
										border: 1px solid $form-control-border-color;
										box-sizing: border-box;
										line-height: 19px;
										padding-left: 12px;
										height: 32px;
										box-sizing: border-box;
									}
									.isy-dropdown {
										width: 100%;
										margin-left: 0px;
										box-sizing: border-box;
									}
								}
							}
						}
					}
				}
				.form-data-section {
					padding: 10px 0;
					padding-left: 24px;
					box-sizing: border-box;
					.isy-form-builder-section-header {
						display: block;
						font-size: 14px;
						letter-spacing: 0;
						line-height: 40px;
					}
					.isy-grid-container {
						.column-1 {
							vertical-align: middle;
							width: 25%;
							padding-left: 0;
							padding-top: 0px;
							padding-right: 8px;
						}

						.column-2 {
							vertical-align: middle;
							width: 20%;
							padding-top: 0px;
							padding-left: 8px;
							padding-right: 8px;
							height: 32px;
						}
						.column-3 {
							vertical-align: middle;
							width: calc(55% - 40px);
							padding-top: 0px;
							padding-left: 8px;
							.isy_input,
							.isy-file-input {
								padding-top: 3px;
							}
						}
						.column-4 {
							width: 40px;
							padding-top: 0px;
						}
					}
				}
				.query-params-section {
					border-bottom: 1px solid $database-accordion-menu-selected-color;
				}
				.query-params-section,
				.params-section,
				.url-encoding-form {
					padding: 10px 0;
					padding-left: 24px;
					box-sizing: border-box;
					.isy-form-builder-section-header {
						display: block;
						font-size: 14px;
						letter-spacing: 0;
						line-height: 40px;
					}
					.isy-grid-container {
						.column-1 {
							vertical-align: middle;
							width: 25%;
							padding-left: 0;
							padding-top: 0px;
							padding-right: 8px;
						}
						.column-2 {
							vertical-align: middle;
							width: calc(75% - 40px);
							padding-top: 0px;

							padding-left: 8px;
						}
						.column-3 {
							width: 40px;
							padding-top: 0px;
						}
					}
					.secondary-btn {
						height: 32px;
						svg {
							color: $search-icon-color;
							font-size: 14px;
						}
						&:focus {
							svg {
								color: $light-bg-color-page;
							}
						}
					}
				}
				.authorization {
					padding-left: 24px;
					padding-top: 30px;
					padding-bottom: 20px;
					.authorization-label {
						font-size: 14px;
						font-weight: bold;
						letter-spacing: 0;
						line-height: 20px;
						padding-bottom: 0.5rem;
					}
					.isy-dropdown {
						color: $form-control-font-color;
						border: 1px solid $form-control-border-color;
						font-size: 14px;
						max-width: 280px;
						box-sizing: border-box;
						width: calc(100% - 24px);
						line-height: 1.5;
						border-radius: 4px;
						padding: 2px 5px 2px 12px;
						height: 32px;
						box-sizing: border-box;
						.isy-dropdown-control {
							width: 100%;
							.MuiInput-input {
								background-color: transparent;
							}
							.isy-dropdown-option-label {
								color: $form-control-font-color;
								font-size: 14px;
							}
						}
					}
					.isy-form-builder-container {
						.username-input,
						.password-input {
							max-width: 280px;
							box-sizing: border-box;
							width: calc(100% - 24px);
						}
						.url-input {
							height: 32px;
						}
						.token-input {
							padding-right: 24px;
						}
						.isy-form-builder-input {
							padding-top: 15px;
							box-sizing: border-box;
							.isy-form-builder-input-header {
								color: $signUp-email-color;
								font-size: 14px;
								letter-spacing: 0;
								line-height: 30px;
								padding-bottom: 0.5rem;
							}
							.isy_input,
							.isy-file-input {
								color: $form-control-font-color;
								border: 1px solid $form-control-border-color;
								font-size: 14px;
								width: 100%;
								padding: 6px 6px;
								line-height: 1.5;
								box-sizing: border-box;
								border-radius: 4px;
								padding-left: 12px;
								height: 32px;
								&:focus {
									border: 1px solid $form-control-border-color;
									outline: none;
								}
							}
						}
					}
					.isy-checkbox {
						margin-left: -10px;
						.isy-checkbox-label {
							font-size: 15px;
							line-height: 20px;
							opacity: 0.87;
							letter-spacing: 0;
							color: $grid-text-color;
							background-color: $light-form-color;
							.MuiSvgIcon-root {
								font-size: 13px;
								fill: $light-secondary-color;
							}
						}
					}
					.info {
						height: 18px;
						padding-top: 15px;
						color: $form-control-font-color;
						font-size: 14px;
						letter-spacing: 0;
						line-height: 18px;
					}
				}
				.body-section {
					padding-top: 28px;
					padding-bottom: 20px;
					.body-section-label {
						font-size: 14px;
						font-weight: bold;
						letter-spacing: 0;
						line-height: 20px;
						padding-bottom: 0.5rem;
						padding-left: 24px;
					}
					.secondary-btn {
						height: 32px;
						svg {
							color: $search-icon-color;
							font-size: 14px;
						}
						&:focus {
							svg {
								color: $light-bg-color-page;
							}
						}
					}
					.isy-dropdown {
						color: $form-control-font-color;
						border: 1px solid $form-control-border-color;
						font-size: 14px;
						max-width: 280px;
						box-sizing: border-box;
						width: calc(100% - 48px);
						line-height: 1.5;
						border-radius: 4px;
						padding: 1px 5px 0 12px;
						margin-left: 24px;
						height: 32px;
						box-sizing: border-box;
						margin-bottom: 24px;
						.isy-dropdown-control {
							width: 100%;
							.MuiInput-input {
								background-color: transparent;
							}
							.isy-dropdown-option-label {
								color: $form-control-font-color;
								font-size: 14px;
							}
						}
					}
					.react-codemirror2 {
						border-top: 1px solid $web-form-section-border;
						border-bottom: 1px solid $web-form-section-border;
						.CodeMirror {
							height: auto;
							min-height: 50px;
						}
					}
					.react-codemirror2 + div {
						color: $error-font-color;
						font-size: 14px;
					}
					.info {
						height: 18px;
						padding-top: 15px;
						color: $form-control-font-color;
						font-size: 14px;
						letter-spacing: 0;
						line-height: 18px;
						padding-left: 24px;
					}
				}
			}
		}
		.middle {
			width: 4px;
			height: 100%;
			display: inline-block;
			background-color: $database-accordion-menu-selected-color;
			cursor: w-resize;
		}
		.right {
			display: inline-block;
			height: 100%;
			box-sizing: border-box;
		}
	}
	.bottom-section {
		border-top: 1px solid $database-accordion-menu-selected-color;
		height: 70px;
		box-sizing: border-box;
		background-color: $light-bg-color-page;
		padding: 19px 40px;
		.primary-btn {
			width: 80px;
			height: 32px;
		}
		.standard-btn {
			width: 80px;
			height: 32px;
			margin-right: 20px;
		}
	}
}
