@import '../../../../../themes';

.accelerators-grid-card-container {
	.card-component {
		width: 235px;
		border-radius: 0 0 2px 2px;
		background-color: $media-card-background-color;
		cursor: pointer;
		box-shadow: 1px 3px 7px 0px $light-shadow-color-page;
		margin: 8px;
		display: inline-block;
		.card-actions {
			display: inline-flex;
			flex-direction: row;
			justify-content: left;
			padding-left: 24px;
			.media-component {
				width: 32px;
				height: 32px;
			}
			.profile-avatar {
				height: 32px;
				width: 32px;
			}
			.card-content {
				width: 185px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				opacity: 0.87;
				color: $card-content-color;
				font-size: 15px;
				padding: 22px 12px;
			}
		}
	}
}
