@import '../../../themes';
.accelerator-instance {
	position: relative;
	.MuiPaper-elevation16 {
		box-shadow: none;
	}
	.MuiDrawer-paper {
		width: 888px;
		height: 100vh;
		border: 1px solid $database-accordion-menu-selected-color;
		box-sizing: border-box;
		background-color: white !important;
		.header {
			height: 87px;
			border-bottom: 1px solid #f3f2f1;
			width: 100%;
			padding: 23px 40px;
			box-sizing: border-box;
			position: relative;
			.image {
				display: inline-block;
				vertical-align: middle;
			}
			.title-section {
				display: inline-block;
				vertical-align: middle;
				.title {
					padding-left: 12px;
					padding-right: 6px;
					display: inline-block;
					vertical-align: middle;
					.header-t {
						height: 19px;
						opacity: 0.87;
						color: $app-title-color;
						font-size: 14px;
						letter-spacing: 0;
						line-height: 19px;
					}
					.header-sub-title {
						height: 15px;
						opacity: 0.6;
						color: $dark-bg-color-page;
						font-family: Roboto-Regular;
						font-size: 11px;
						padding-top: 4px;
					}
				}
			}
			.vertical-line {
				border: 1px solid $dark-bg-color-page;
				opacity: 0.2;
				display: inline-block;
				width: 0px;
				vertical-align: middle;
				height: 36px;
			}
			.sub-info {
				padding-left: 6px;
				display: inline-block;
				vertical-align: middle;
				color: $grid-text-color;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 0;
				line-height: 30px;
			}
			.close-icon {
				float: right;
				cursor: pointer;
				top: calc(50% - 0.5em);
			}
		}
		.middle-section {
			height: calc(100% - 157px);
			overflow-y: auto;
			width: 100%;
			@extend %custom-scroll-bar-y;
			.edit-holder {
				width: calc(100% - 80px);
				height: 50px;
				border-bottom: 1px solid #f3f2f1;
				padding: 16px 0px;
				box-sizing: border-box;
				margin: 0px 40px;
				.edit_icon-section {
					cursor: pointer;
					.edit_icon {
						img {
							height: 18px;
						}
					}
					.edit-label {
						font-size: 15px;
						position: relative;
						top: -4px;
					}
				}
			}
			.isy-form-builder-container {
				padding: 0px 40px;
				.isy-radio-button {
					margin-left: -10px;
					.isy-radio-label {
						font-size: 14px;
					}
				}
				.isy-radio-button-children {
					padding: 24px;
					background-color: $accelerator-instance-database-background;
				}
				.tables {
					padding-top: 15px;
					.isy-form-builder-section-header {
						color: $title-text-color;
						font-size: 14px;
						font-family: Roboto-Bold;
						letter-spacing: 0;
						line-height: 24px;
					}
					.create-new-table-accordion {
						margin-top: 15px;
						.isy-accordion-summary.Mui-expanded {
							border-bottom: 1px solid $border-underline-color;
						}
						.MuiCollapse-container {
							padding-top: 20px;
						}
						.isy-form-builder-section-header {
							opacity: 0.87;
							color: $dark-bg-color-page;
							font-family: Roboto-Regular;
							font-size: 14px;
							letter-spacing: 0;
							line-height: 24px;
							padding-left: 20px;
						}
					}
				}
			}
			.accelerator-success-page {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				flex-direction: column;
				.accelerator {
					width: 80px;
					height: 80px;
					border-radius: 50%;
					background-color: $app-success-background-color;
					display: flex;
					justify-content: center;
					align-items: center;
					svg {
						width: 2em;
						height: 2em;
						color: $light-secondary-color;
					}
				}
				.accelerator-success-text {
					font-size: 16px;
					font-family: Roboto-Regular;
					color: $dark-bg-color-page;
					padding: 18px 0px;
					opacity: 0.9;
				}
				.primary-btn {
					width: 134px;
					height: 32px;
				}
			}
			.create-accelerator-progress {
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				svg {
					color: $light-secondary-color;
				}
				.progress-label {
					opacity: 0.6;
					color: $dark-bg-color-page;
					font-family: Roboto;
					font-size: 16px;
					margin-top: 16px;
				}
			}
		}
		.bottom-section {
			border-top: 1px solid #f3f2f1;
			height: 70px;
			box-sizing: border-box;
			padding: 19px 40px;
			.primary-btn {
				width: 80px;
				height: 32px;
			}
			.release-btn {
				text-transform: capitalize;
				font-family: Roboto-Medium;
				font-size: 14px;
				width: 135px;
				border: 1px solid $release-lock-button-color;
				border-radius: 4px;
				height: 32px;
				background-color: $release-lock-button-color;
				color: $release-lock-button-text-color;
				margin-left: 20px;
			}
			.lock-icon {
				fill: $release-lock-button-text-color;
				font-size: 17px;
				padding-right: 6px;
			}
			.locked-by {
				box-sizing: border-box;
				height: 27px;
				color: $light-bg-color-page;
				border: 1px solid $lock-info-color;
				border-radius: 4px;
				background-color: $lock-info-color;
				opacity: 1;
				padding: 2px 8px 2px 10px;
				.info {
					color: $lock-info-text-color;
					font-size: 8.5px;
					letter-spacing: 0;
					line-height: 13px;
					padding-right: 10px;
					display: inline-block;
					vertical-align: middle;
				}
				.icon {
					height: 20px;
					width: 20px;
					fill: $lock-refresh-color;
					cursor: pointer;
					display: inline-block;
					vertical-align: middle;
				}
			}
			.standard-btn {
				width: 80px;
				height: 32px;
				margin-right: 20px;
			}
			.request-btn {
				text-transform: capitalize;
				font-family: Roboto-Medium;
				font-size: 14px;
				width: 135px;
				border: 1px solid $request-lock-button-color;
				border-radius: 4px;
				height: 32px;
				background-color: $request-lock-button-color;
				color: $request-lock-button-text-color;
			}
			.lock-tooltip {
				visibility: hidden;
				width: auto;
				height: 19px;
				padding: 7px 7px 0px;
				font-size: 10px;
				background-color: $title-text-color;
				color: $light-bg-color-page;
				margin-left: 6px;
				margin-top: 2px;
				border-radius: 3px;
				position: absolute;
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 100%;
					margin-top: -5px;
					border-width: 6px;
					border-style: solid;
					border-color: transparent $title-text-color transparent transparent;
				}
			}
			&:hover {
				.lock-tooltip {
					visibility: visible;
				}
			}
		}
		.alert {
			box-sizing: border-box;
			height: 40px;
			position: absolute;
			border: 1px solid $light-error-msg-border-color;
			border-radius: 4px;
			background-color: $light-error-msg-background-color;
			box-shadow: 0 2px 4px 0 $light-error-msg-shadow-color;
			top: 87px;
			padding: 0px 11px;
			width: calc(100% - 80px);
			margin-left: 40px;
			.icon {
				height: 20px;
				width: 20px;
				display: inline-block;
				vertical-align: middle;
				fill: $light-error-msg-border-color;
			}
			.text {
				width: calc(100% - 140px);
				color: $light-success-msg-color;
				font-family: Roboto-Regular;
				font-size: 12px;
				letter-spacing: 0;
				line-height: 16px;
				display: inline-block;
				vertical-align: middle;
				padding: 10px;
			}
			.button {
				height: 24px;
				width: 100px;
				display: inline-block;
				vertical-align: middle;
				border: 1px solid $light-secondary-color;
				border-radius: 4px;
				background-color: $light-secondary-color;
				padding: 0px;
				.MuiButton-label {
					color: #ffffff;
					font-family: Roboto-Regular;
					font-size: 11px;
					letter-spacing: 0;
					line-height: 24px;
					text-align: center;
					text-transform: none;
					display: block;
				}
			}
		}
	}
}
