@import '../../themes.scss';
.dialog-heading {
	font-size: 20px;
	font-weight: bold;
	margin: 28px 0 28px 0;
	letter-spacing: 0;
	line-height: 30px;
}
.content {
	font-size: 17px;
}
.close-icon {
	position: absolute;
	top: 15px;
	right: 20px;
	cursor: pointer;
	@include darkTheme {
		color: $close-icon-color;
	}
}

.dialog-box {
	.MuiPaper-rounded {
		border-radius: 4px !important;
		width: 400px;
		height: 200px;
	}
	.MuiDialogActions-root {
		padding-right: 20px;
		padding-bottom: 20px;
	}
}

.actions-btn {
	.save-btn {
		border: 1px solid #e34d28;
		color: #ffffff;
		border-radius: 4px;
		background-color: #e34d28;
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		width: 65px;
		text-transform: capitalize;
		font-family: Roboto-Medium;
		height: 30px;
		&:hover {
			box-shadow: none;
			background-color: #e34d28;
		}
	}
	.save-btn:focus {
		outline: none;
	}
	.cancel-btn {
		border: 1px solid black;
		background-color: white;
		border-radius: 4px;
		color: #212121;
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		width: 65px;
		text-transform: capitalize;
		font-family: Roboto-Medium;
		height: 30px;
		&:hover {
			box-shadow: none;
			background-color: #eaeaea;
		}
	}
	.cancel-btn:focus {
		outline: none;
	}
}
