.trusted-ip-ranges {
  table {
    tbody {
      tr:nth-of-type(even) {
        background-color: var(--callout-bg);
      }
      tr {
        input {
          font-size: 13px;
          padding: 7px 10px;
          color: #444;
          border: 1px solid var(--myactivity-input-color);
          border-radius: 4px;
          height: 30px;
        }
      }
    }
  }
}
