.sharingPriviliges .col-sm-8{
    flex: 0 0 100%;
    max-width: 100%
}
.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: var(--radio-disabled-background) !important;
}
.createListOrg .radioTopMargin{
    margin-top: 0px;
}
.createListOrg .radioTopMargin{
    margin-top: 0px;
    padding-left:1rem !important;
}
.edl_table_form{
    width:220px;
}
.sharedOrgDiv_Text{
    margin-left: 17%;
    color:var(--modal-successheader);
}
#loadingimg1{
     font-size: 11px;
     margin-left: 20px;
     margin-top: 20px;
}
.edl_table th, .edl_table tr {
    color: var(--createlist-table-row-color);
    background-color: var(--createlist-table-row-background);
    border: 1px solid var(--createlist-table-row-border);
}
.edl_table td {
    padding: 2px 10px;
    height: 30px;
    border: 1px solid var(--createlist-table-row-border);
}
.edl_table th {
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    padding: 5px 10px 0;
    border-left: none;
    border-right: none;
    text-align: left;
}
.edl_table th, .edl_table tr {
    color: var(--createlist-table-row-color);
    background-color:var(--createlist-table-row-background);
    border: 1px solid var(--createlist-table-row-border);
}
 table.edl_table {
    border-collapse: collapse;
}
.edl_table thead, .edl_table thead tr {
    border: none;
}
.edl_table tr:nth-child(odd) {
    background:var(--createlist-table-white-color);
    border: none;
    height: 30px;
}
.edl_table td a, .edl_table th a {
    text-decoration: none;
    color:var(--createlist-table-anchor-tag-color) !important;
}
.edl_table td a:hover {
   cursor:pointer;
}
.create-list .ruleset{display:flex;align-items: baseline;}
.create-list .ruleset-select{width:65%}
.create-list .device-id{margin-left:-8%}
.create-list .error-parent .edl_success,.create-list .error-parent .edl_error_feedback {
    margin-left: 0 !important;
    margin-bottom: 30px !important;
}
.create-list select{
    min-width:150px;
}
.create-list select[name=listScope].form-control{
    width:200px !important;
    margin-left:10px;
}
