@import '../../../themes';

.select-web-service {
	.container {
		display: inline-flex;
		background: $body-bg-color;
		padding: 16px;
		.service-icon {
			&.disabled {
				opacity: 0.4;
				cursor: not-allowed;
			}
			&:first-child {
				margin-left: 0;
			}
			display: flex;
			cursor: pointer;
			flex-direction: column;
			padding: 22px 48px;
			margin-left: 16px;
			box-sizing: border-box;
			height: 140px;
			width: 180px;
			border: 1px solid #e9e9e9;
			border-radius: 4px;
			background-color: $light-bg-color-page;
			box-shadow: 0 2px 6px 0 rgba(166, 166, 166, 0.22);
			&.active-service {
				box-sizing: border-box;
				border: 1px solid $search-icon-color;
				border-radius: 4px;
				background-color: $web-service-bg-color;
				box-shadow: 0 2px 6px 0 rgba(99, 99, 99, 0.22);
			}
			.service-text {
				text-align: center;
				padding-top: 18px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
}
