@import '../../../themes';

.active-content {
	.isy-grid-container {
		.isy-grid-header {
			&:hover {
				background-color: $grid-hover-background-color;
			}
		}
		.isy-grid-loader-holder {
			display: none;
		}
		.column-1 {
			width: 48px;
			padding-top: 0px;
			padding-bottom: 2px;
			top: 4px;
			position: relative;
			opacity: 1;
		}
		.column-2 {
			font-family: Roboto-Bold;
			width: calc(40% - 48px);
		}
		.column-3 {
			width: 30%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.column-4 {
			width: 20%;
			.isy-dropdown {
				.isy-dropdown-option-label {
					font-size: 12px;
				}
			}
		}
		.column-5 {
			width: 10%;
		}
		.isy-grid-row {
			cursor: default;
			&:hover {
				.checkbox-class {
					visibility: visible;
				}
				.delete-icon {
					visibility: visible;
				}
			}
			&.selected {
				background-color: $grid-focus-background-color;
				.checkbox-class {
					visibility: visible;
				}
				&:hover {
					background-color: $grid-hover-background-color;
				}
			}
		}
		.isy-grid-header {
			&:hover {
				.checkbox-class {
					visibility: visible;
				}
			}
		}
		.isy-grid-row-cell {
			height: 48px;
			&.column-4 {
				.isy-dropdown {
					top: -6px;
					position: relative;
				}
			}
			&.column-2 {
				padding: 7px 16px;
			}
		}
		.checkbox-class {
			visibility: hidden;
			&.selected {
				visibility: visible;
			}
		}
		.parent-icon {
			display: flex;
			.MuiAvatar-colorDefault {
				color: $grid-text-color;
				opacity: 0.8;
				background-color: $avatar-color;
			}
			.icon-name {
				display: flex;
				align-items: center;
				padding-left: 10px;
				font-family: Roboto-Bold;
			}
		}
		.delete-icon {
			cursor: pointer;
			opacity: 0.6;
			color: $dark-bg-color-page;
			height: 17px;
			width: 16px;
			visibility: hidden;
		}
	}
	.active-records {
		border-top: 1px solid $background-color-email;
		width: 100%;
		padding: 5px 0px 0px 10px;
		font-size: 13px;
		font-family: Roboto-Regular;
	}
	.active-name {
		padding-left: 5px;
	}
	.MuiAvatar-root {
		width: 32px;
		height: 32px;
		font-size: 12px;
	}
	.table-head {
		border-top: none;
	}
	.table-row {
		th:first-child {
			width: 54px;
		}
	}
	.role.MuiInputBase-root {
		font-size: 12px;
		font-family: Roboto-Regular;
		font-weight: none;
	}
}
.MuiDialogContent-root {
	.MuiDialogContentText-root {
		margin-bottom: 10px;
	}
}
