.tertiary-btn {
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    border: currentColor;
    border-image: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: ca-sans-bold;
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
    width: 85px;
    margin: 22px 0px;
    text-align: center;
    padding: 7px 10px;
    cursor: pointer;
}

.migrate-rulelist {
    margin-top: 16px;
}

.migrate-btn {
    margin-left: 10px;
    margin-right: 10px;
}

.edl_error_feedback {
    background-color: #a11c2e;
    padding: 8px;
    color: white;
}

.edl_success_feedback {
    background-color: rgb(36, 182, 17);
    padding: 8px;
    color: white;
}

.select-options{
    width: 200px;
    height: 150px;
    padding: 8px;
}