@import '../../../themes';
.about-page-dialog {
	.MuiPaper-rounded {
		border-radius: 8px !important;
	}
	.MuiDialog-paper {
		box-sizing: border-box;
		width: 321px;
		border: 1px solid $about-page-border-color;
		border-radius: 8px;
		background-color: $light-bg-color-side-nav;
		box-shadow: 0 0 16px 0 $about-page-shadow-color;
		.MuiDialogContent-root {
			padding-bottom: 0px;
		}
		.MuiDialogContent-root {
			.about-section {
				.about-section-description {
					color: $light-form-color;
					text-align: center;
					.about-version {
						font-size: 12px;
					}
					.about-website {
						font-size: 12px;
						color: $light-secondary-color;
					}
					.about-copyright {
						color: $light-bg-color-page;
						font-size: 9px;
					}
				}
				.help-section-icon {
					.isy-about-logo {
						padding: 0 87px 0 87px;
					}
				}
			}
		}
	}
}
