@import '../../../../../themes';

.accelerators-card-container {
	display: inline-block;
	@include lightTheme {
		background-color: $light-bg-color-page;
	}
	padding: 16px 16px 16px 0;
	.accelerators-card {
		cursor: pointer;
		width: 348px;
		box-shadow: 0px 2px 5px -1px $card-shadow-color,
			0px 1px 10px 0px $card-shadow-color, 0px 1px 3px 0px $card-shadow-color;
		.accelerators-card-header-content {
			padding: 0 16px;
			.card-description {
				padding-top: 0px;
				padding-bottom: 0px;
				font-size: 13px;
				opacity: 0.8;
				color: $grid-text-color;
				line-height: 24px;
				height: 54px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			.title {
				font-family: Roboto-Medium;
				font-size: 14px;
				font-weight: 500;
				height: 20px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
			}
			.sub-header {
				opacity: 0.4;
				font-size: 12px;
				color: $grid-text-color;
			}
		}
		.card-header {
			border-radius: 0 0 2px 2px;
			padding: 6px 24px 6px 16px;
			background-color: $card-footer-color;
			.card-avatar {
				margin-right: 0;
				padding: 8px;
				.profile-avatar {
					height: 32px;
					width: 32px;
					font-size: 9px;
					background: $profile-default-bg-color;
					font-family: Roboto-Medium;
					color: $grid-text-color;
				}
			}
			.owner-text {
				font-size: 12px;
				opacity: 0.6;
			}
			.user-name {
				font-size: 12px;
			}
			.card-actions {
				margin-top: 7px;
				margin-right: 7px;
				.more-vertical-icon {
					padding: 0px;
				}
			}
			.avatar-title {
				height: 20px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				font-size: 15px;
				opacity: 0.87;
			}
		}
	}
}

.pop-over-menu-list {
	li {
		width: 180px;
		font-size: 12px;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}
