@import '../../themes';

.db-container {
	.left {
		width: calc(100% - 231px);
		float: right;
		height: 100vh;
		@include lightTheme {
			background-color: $light-bg-color-page;
		}
	}
	.right {
		width: 230px;
		float: left;
	}
}
.database-page {
	@include lightTheme {
		background-color: $light-bg-color-page;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	margin-top: 20px;
	.data-base {
		width: 64px;
		height: 64px;
		margin-bottom: S25px;
		border-radius: 50%;
		background-color: #eeeeee;
	}
	.data-base > .MuiSvgIcon-root {
		margin-top: 22px;
		margin-left: 20px;
	}

	.data-base-text {
		font-size: 16px;
		font-family: Roboto-Regular;
		@include darkTheme {
			color: $dark-bg-color-page;
		}
		opacity: 0.6%;
		width: 305px;
		height: 21px;
		margin-bottom: 18px;
	}
	.add-new-database {
		border-radius: 4px;
		width: 134px;
		height: 32px;
		font-family: Roboto-Medium;
		font-size: 14px;
		text-transform: initial;
		@include lightTheme {
			color: $light-bg-color-page;
			background-color: $light-secondary-color;
			border: 1px solid $light-secondary-color;
		}
		&:hover {
			@include lightTheme {
				background-color: #e34d28;
			}
		}
	}
}
