.rule-effect-table{
    border:1px solid var(--rule-border-color);
    .main-header{
        background-color: var( --rule-background-color);
        .col-head{
            padding:20px;
            text-align: center;
        }
        .child-head{
            border:1px solid var(--rule-border-color);
        }
    }
    
    thead,th{
        border:1px solid var(--rule-border-color);
    }
    
    tr:nth-child(odd){
            background-color: var( --rule-background-color);
            border:1px solid var(--rule-border-color);
    }
    td{
        border:1px solid var(--rule-border-color);
        padding:16px;
    }
}
