@import '../../../themes';
.login-container {
	background: url(/images/Login.png);
	background-repeat: no-repeat;
	position: fixed;
	min-width: 100%;
	margin-left: -34px;
	margin-top: -20px;
	.logo-header {
		height: 36px;
		width: 50%;
		@include lightTheme {
			color: $light-secondary-color;
		}
		font-family: Roboto;
		font-size: 27px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 36px;
	}
	.form {
		float: right;
		@include lightTheme {
			color: $dark-bg-color-page;
			background: $light-bg-color-page;
		}
		width: 576px;
		height: 750px;
		.login-form {
			width: 320px;
			position: relative;
			left: 25%;
			top: 19%;
			.login-header {
				height: 37px;
				@include lightTheme {
					color: $dark-bg-color-page;
				}
				font-family: Roboto-Thin;
				font-size: 28px;
				font-weight: 100;
				letter-spacing: 0;
				line-height: 37px;
				text-align: center;
				margin-bottom: 60px;
			}
			.input-border {
				margin-bottom: 10px;
				.MuiFormControl-root {
					width: 100%;
					.MuiIconButton-root {
						padding: 0;
						.MuiSvgIcon-root {
							@include lightTheme {
								fill: $light-bg-color-page;
								stroke: $close-icon-color;
							}
							height: 20px;
							opacity: 0.5;
						}
					}
					margin-bottom: 10px;
					.MuiFormLabel-root {
						font-size: 18px;
					}
					.MuiFormLabel-root.Mui-focused {
						@include lightTheme {
							color: $close-icon-color;
						}
						font-size: 20px;
						.MuiInput-underline {
							@include lightTheme {
								border-bottom: 1px solid $border-underline-color;
							}
						}
					}
					.MuiInput-underline {
						@include lightTheme {
							border-bottom: 1px solid $border-underline-color;
						}
					}
					.MuiInput-underline:before {
						@include lightTheme {
							border-bottom: 0;
						}
					}
					.MuiInput-underline:after {
						border-bottom: 0;
					}
				}
				.border-error {
					.MuiInput-underline {
						@include lightTheme {
							border-bottom: 1px solid $error-text-color;
						}
					}
				}
				.input-error {
					@include lightTheme {
						color: $error-text-color;
					}
					font-size: 12px;
					font-family: Roboto-Regular;
					height: 16px;
					display: block;
				}
			}
			.isy-button {
				margin-top: 10px;
				margin-bottom: 40px;
				height: 40px;
				width: 100%;
				@include lightTheme {
					background-color: $light-secondary-color;
					color: $light-bg-color-page;
				}
			}
			.remember-forgot {
				.check-remember {
					position: relative;
					float: left;
					label {
						padding-left: 15px;
						cursor: pointer;
						@include lightTheme {
							color: $check-text-color;
						}
						font-family: Roboto-Regular;
						font-size: 15px;
						&:before {
							content: '';
							position: absolute;
							left: 0;
							top: 0;
							width: 20px;
							height: 20px;
							transition: transform 0.28s ease;
							border-radius: 3px;
							@include lightTheme {
								border: 1px solid $border-underline-color;
							}
						}
						&:after {
							content: '';
							display: block;
							width: 10px;
							height: 5px;
							@include lightTheme {
								border-bottom: 1px solid $light-secondary-color;
								border-left: 1px solid $light-secondary-color;
							}
							transform: rotate(-45deg) scale(0);
							transition: transform ease 0.25s;
							position: absolute;
							top: 7px;
							left: 5px;
						}
					}
					.checkbox {
						opacity: 0;
						&:checked ~ label {
							&:before {
								border: 1px solid $light-secondary-color;
							}
							&:after {
								transform: rotate(-45deg) scale(1);
							}
						}
						&:focus + label::before {
							outline: 0;
						}
					}
				}
				.forgot-text {
					float: right;
					text-decoration: none;
					@include lightTheme {
						color: $light-secondary-color;
					}
				}
			}
		}
	}
}
