.callout-label{
    .col-form-label{
        display: none;
    }
}
.callout-table{
    .form-control{
        height: auto;
        &.callout-file{
            border: none;
            background-color: transparent;
            &:disabled{
                background-color: transparent;
            }
        }
    }
    tr{
        &:nth-child(even){
            background-color: var(--callout-bg);
            
        }
    }
}