.configure-account{
    .form-control {
        display : inline-block; 
        width: 200px;
    }
    th {
        color: var(--configure-color);
        background-color: var(--configure-th-backgroundcolor);
        border: 1px solid var(--configure-td-border);
        border-right: none;
        border-left: none;
    }
    tr td:first-child {
       border-left: none;
    }
    tr td:last-child {
        border-right: none;
     }
    tr  td{
        color: var(--configure-color);
        border: 1px solid  var(--configure-td-border);
    }

}