.attributeSize {
    font-size:15px;
    color:#ACADAF;
}
.organization-label {
    margin-left: 10%;
}

.customeAttribute{
    margin-top: 5px;    
}

.table tr td{
    vertical-align: middle;
}

.customeAttribute{
    padding: 5px;
}
.selectAttributeHead {
    padding : 17px;
}
.accountTag .row {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
}