.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.secondary-btn[disabled], .secondary-btn[disabled]:hover {
  background-color: #57c1b4;
  opacity: .7!important;
}

.App-link {
  color: #61dafb;
}
.col-form-label{
  color: rgb(68, 68, 68) !important;
  font-size: 13px !important;
  font-family: Arial !important;
}
.form-control
{
  padding: 7px 10px !important;
  font-size: 13px !important;
}
input[type=submit], input[type=button] {
  padding: 7px 10px;
  border-radius: 4px;
  border: currentColor;
  border-image: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: ca-sans-bold;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  min-width: 85px;
  background-color: rgb(87, 193, 180);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h2.title {
  color: rgb(34, 70, 94);
  font-family: ca-sans,Arial;
  font-size: 20px;
  font-weight: bold !important;
}
.main{
  padding: 30px 30px 10px;
}
.desc {
  border: currentColor;
  border-image: none;
  color: rgb(68, 68, 68);
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ecc-h1 {
  color: rgb(88, 103, 109);
  letter-spacing: 0px;
  font-family: ca-sans;
  margin-bottom:10px;
  display: block;
  font-size:15px;
}
.div-seperator{
  padding: 8px 0px;
}
sup {
  top: 0.1em;
}
.form-submit-button{
  padding:5px 0px;
}
.no-padding{
  padding: 0px !important;
}
input[type="checkbox"]:checked + label:after {
    content: '✔';
    font-size: 16px;
    color: rgb(87, 193, 180);
    padding: 2px;
    margin-top: -9px;
} 
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
  background-image: unset !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color:unset !important;
  border-color:lightgray !important;
  background-color: unset !important;
}
.custom-checkbox .custom-control-label::before{
  top: unset !important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before{
  color: #fff;
  border-color: #57c1b4;
  background-color: #57c1b4;
}
.orgSectionLabels {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}
.custom-secondary-btn {
  cursor: pointer;
  padding: 7px 10px;
  background-color: rgb(235, 235, 235) !important;
  border-radius: 4px;
  border: currentColor;
  border-image: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: 'ca-sans-bold';
  font-size: 14px;
  text-decoration: none;
  margin-right: 10px;
  display: block;
  min-width: 80px;
  text-align: center;
}
input[type=button].custom-secondary-btn:hover{
  background-color: #d8d8d8!important;
}
.apply-bold{
  font-weight: 550;
}
.main hr {
  border-top: 1px solid #d8d8d8;
  border-width: 1px;
}
.vertical-center{
  padding-top:9rem !important;
}
input[type=submit]:hover, input[type=button]:hover {
  background-color: #4ba69a !important;
}
.modal-90w {
  width: 70% !important;
  max-width: none!important;
}
.custom-default-btn{
  padding: 7px 10px;
  border-radius: 4px;
  border: currentColor;
  border-image: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: ca-sans-bold;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  min-width: 85px;
  background-color: #ebebeb!important;
}
.custom-select-sm{
  height: unset !important;
}
.no-padd{
  padding: 0 !important;
}
.no-margin{
  margin: 0  !important;
}
.flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.react-datepicker-year-header{
  display: none;
}
.react-datepicker__navigation,.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{
  display: none;
}
.edl-footer{
  padding: 15px 0px;
  text-align: center;
  color: rgb(88, 102, 108);
}
.login-parent .footer {
  width: 100%;
  border-top-color: rgb(216, 216, 216);
  border-top-width: 1px;
  border-top-style: solid;
  height: 50px;
  position: fixed;
  bottom: 0;
}
.margin{
  margin: 15px 0;
}

