/* @import url('https://fonts.googleapis.com/icon?family=Material+Icons'); */
@font-face {
  font-family: 'ca-sans';
  src: url('./fonts/ca-sans-regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'ca-sans-bold';
  src: url('./fonts/ca-sans-bold-webfont.woff') format('woff');
}
body {
  font-family: 'ca-sans' !important;
  font-size: 13px;
  padding: 0;
  color: #444;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
