@import '../../themes';
.isy-search {
	width: 240px;
	height: 32px;
	display: inline-block;
	.isy-search-input {
		border-radius: 4px;
		font-size: 13px;
		width: 100%;
		color: $search-font-color;
		padding-left: 12px;
		background-color: $search-bar-bg;
		height: 32px;
		&:before,
		&:after {
			content: none;
			transition: none;
			border-bottom: none;
			pointer-events: none;
		}
		input {
			padding-left: 4px;
		}
	}
	.Mui-focused {
		background-color: $search-list-bg;
		border: 1px solid $form-control-border-color;
	}
	.isy-search-search-icon {
		width: 20px;
		margin-right: 0;
		margin-bottom: 1px;
		.icon {
			color: $search-icon-color;
			width: 18px;
			position: relative;
			left: 3px;
			cursor: pointer;
		}
	}
	.isy-search-clear-icon {
		width: 20px;
		.icon {
			color: $clear-icon-color;
			width: 18px;
			position: relative;
			right: 8px;
			cursor: pointer;
		}
	}
	.isy-search-suggestions {
		width: 300px;
		margin: 3px 0 0;
		padding: 0;
		position: absolute;
		list-style: none;
		font-size: 15px;
		letter-spacing: 0;
		line-height: 20px;
		color: $search-font-color;
		background-color: $search-list-bg;
		overflow: auto;
		max-height: 250px;
		border-radius: 0 0 2px 2px;
		box-shadow: 0 2px 8px $search-list-box-shadow;
		z-index: 1;
		& li {
			padding: 5px 12px;
			display: flex;
			cursor: pointer;
		}
	}
}
