.searchCases {
  .react-datepicker-wrapper {
    input.startDate,
    input.endDate {
      width: 130px !important;
    }
  }

  .setGreyback {
    background: var(--bulkdivider-border-color);
  }

  .grey-button,
  .grey-button:hover {
    margin-left: 0px;
    background: var(--bulkdivider-border-color) !important;
  }

  select,
  input[type="text"] {
    // width: 250px !important;
    color: var(--select-black-color);
    // flex: none !important;
  }

  .react-autosuggest__container {
    ::placeholder {
      color: var(--select-black-color);
      opacity: 1;
      /* Firefox */
    }
  }

  .react-autosuggest__input {
    font-size: 13px;
    padding: 7px 10px;
    color: var(--select-black-color);
    font-weight: 400;
  }

  .noMarginrow {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-left: -20px;

    .custom-control {
      padding-left: 0px;
    }
  }

  .MuiTable-root {
    thead {
      th.MuiTableCell-root {
        padding: 10px !important;
        padding-top: 0px !important;
      }
    }
  }

  select.small {
    min-height: 30px;
    border-radius: 4px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 13px;
    margin-left: 3px;
    padding: 8.5px 10px;
    border: 1px solid var(--radio-disabled-background);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("/images/dropdown.png") no-repeat 97% 50%;
    text-indent: 0.01px;
    text-overflow: "";
    z-index: 1000;
    background-position: 39px 7px !important;
    width: 58px !important;
  }

  .selectedTab {
    background: var(--myactivity-input-color);
  }

  .mt-6 {
    margin-top: 2.5rem !important;
  }

  .caseScrollSet {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden !important;
  }
  table {
    td {
      padding: 10px 0 10px !important;
    }
  }
  .nav-pills {
    border-bottom: 1px solid var(--nav-pills-background-color);

    li {
      padding: 10px;
      color: rgb(87, 103, 109);
      font-family: ca-sans;
      font-size: 16px;
      padding: 10px;
      cursor: pointer;
    }
  }
  a {
    text-decoration: none !important;
  }
  .tabui {
    margin: 10px 0 0 20px;
  }

  .caseSubmit {
    margin-left: -2%;
  }
}
