body:has(.sessionPopup) {
  overflow: hidden;
}

.sessionPopup {
  .modal {
    display: block;
    position: fixed !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    z-index: 9999;
    width: 48%;
  }
  .internalMargin {
    margin: 0 4% 0 4% !important;
  }
  .dialog-header {
    font-weight: normal !important;
    font-size: 16px !important;
    margin-left: 3%;
    margin-top: 5px;
  }
  .sessionInfo {
    border-top: 2px solid var(--modal-content-border);
    border-bottom: 2px solid var(--modal-content-border);
    padding: 40px 0 40px 0px;
    p {
      margin: 0px;
    }
  }
  body {
    overflow: hidden !important;
  }
  .float-right {
    float: right;
  }
  .dialog-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--createlist-table-white-color);
    opacity: 0.75;
    filter: alpha(opacity=75);
    z-index: 100;

    visibility: visible;
    height: 150%;
    width: 100%;
  }
}
