@import '../../themes.scss';
.notification-popup {
	width: 50%;
	transition: transform 0.3s ease;
	transform: translateY(-150%);
	&.visible {
		transform: translateY(0%);
	}
	.success-message {
		.MuiAlert-standardSuccess {
			@include lightTheme {
				color: $light-success-msg-color;
				background-color: $light-success-msg-background-color;
			}
		}
		.MuiAlert-root {
			@include lightTheme {
				border: 1px solid $light-success-msg-border-color;
				box-shadow: 0 0 4px $light-error-msg-shadow-color;
			}
			padding: 0px;
			padding-left: 2px;
		}
		.success-icon {
			vertical-align: sub;
			padding: 0 4px 0 7px;
		}
	}
	.error-message {
		.MuiAlert-standardSuccess {
			@include lightTheme {
				color: $light-success-msg-color;
				background-color: $light-error-msg-background-color;
			}
		}
		.MuiAlert-root {
			@include lightTheme {
				border: 1px solid $light-error-msg-border-color;
				box-shadow: 0 0 4px $light-error-msg-shadow-color;
			}
			padding: 0px;
			padding-left: 2px;
		}
		.error-icon {
			vertical-align: sub;
			padding: 0 4px 0 7px;
		}
	}
}
