.form-header {
    font-size: 30px;
    padding-top: 25px;
}

.ecc-h1, .form-header {
    font-family: ca-sans;
    letter-spacing: 0;
    color: #58676d;
}
.form-header  a {
    text-decoration: none;
    color: #53bbd4;
}
.admin-logout .edl-login-box {
    margin: auto;
    padding: 18px 50px 50px 20px;
    width: 685px;
    overflow: auto;
    min-height: 250px;
    box-shadow: 0px 0px 10px 5px rgba(153,153,153,0.2);
    background-color: rgb(240, 249, 252);
    -moz-box-shadow: 0 0 10px 5px rgba(235, 235, 235, .78);
}
.admin-logout{
    padding-top: 10%;
}
.admin-logout #brand-holder img {
    margin-top: 10px;
}
.admin-logout #brand-holder{
    margin-top: 15px !important;
}