@import '../../../../themes.scss';

.connectdb-dialogue {
	.MuiPaper-rounded {
		border-radius: 4px !important;
		max-height: 88%;
		width: 400px;
		box-sizing: border-box;
	}
	.MuiDialog-container {
		height: 100%;
		outline: 0;
		margin-top: 26px;
	}
	.MuiTypography-h6 {
		font-weight: 500;
		letter-spacing: 0;
		font-family: Roboto-Medium;
		width: 240px;
		@include lightTheme {
			color: $title-text-color;
		}
		font-size: 20px;
		font-weight: 500;
	}
	.MuiDialogTitle-root {
		padding-top: 28px;
		padding-bottom: 10px;
	}
	.MuiDialogTitle-root {
		padding-top: 28px;
		padding-bottom: 10px;
	}
	.MuiDialogActions-root {
		padding: 14px;
		height: 20px;
	}
	.MuiTypography-body2 {
		height: 21px;
		color: #323130;
		font-size: 16px;
		letter-spacing: 0;
		line-height: 21px;
		text-align: center;
	}
	.MuiFormControl-root {
		width: inherit;
	}
	.MuiDialogTitle-root {
		padding-top: 28px;
		padding-bottom: 10px;
	}
	.MuiDialogContent-root {
		padding-top: 18px;
		padding-left: 32px;
		padding-right: 32px;
	}
	.dynamic-form-input {
		padding-bottom: 16px;
		.input-field .form-control {
			font-size: 14px;
			display: block;
			width: 100%;
			padding: 6px 12px 6px 12px;
			border: 1px solid $form-control-border-color;
			line-height: 1.5;
			box-sizing: border-box;
			border-radius: 4px;
		}
	}
	.MuiDialogContent-dividers {
		padding: 12px 24px;
		padding-bottom: 0px;
	}
	.MuiDialogActions-root {
		padding: 10px;
		height: 45px;
	}
	.form-divider {
		.MuiDivider-root {
			height: 2px;
			@include lightTheme {
				background-color: $light-form-divider-color;
			}
		}
	}

	.input-error {
		@include lightTheme {
			border: 1px solid $error-border-color;
		}
	}
	.MuiInput-underline:before,
	.MuiInput-underline:hover:not(.Mui-disabled):before,
	.MuiInput-underline:after {
		border-bottom: none;
	}
	.invalid-message {
		font-size: 12px;
		@include lightTheme {
			color: $error-text-color;
		}
		height: 8px;
	}

	.database-vendor {
		margin-top: -6px;
		margin-right: 19px;
		width: 150px;
		padding-top: 10px;
		.input-base {
			border-radius: 4px;
			position: relative;
			@include lightTheme {
				border: 1px solid $form-control-border-color;
			}
			font-size: 16;
			padding: 0 15px;
			bottom: 3px;
			width: 350px;
			margin-bottom: 14px;
			&:focus {
				border-radius: 4;
			}
			.MuiSelect-selectMenu {
				font-size: 13px;
			}

			.MuiSelect-select {
				&:focus {
					background-color: transparent;
				}
			}
		}
	}
	.save-btn {
		box-shadow: none;
		border-radius: 4px;
		@include lightTheme {
			border: 1px solid $save-btn-border-color;
			color: $save-btn-color;
			background-color: $save-btn-background-color;
		}
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		height: 30px;
		width: 65px;
		margin-right: 4px;
		padding: 5px;
		text-transform: capitalize;
		font-family: Roboto-Medium;
		&:hover {
			box-shadow: none;
			@include lightTheme {
				background-color: $save-btn-background-color;
			}
		}
	}
	.save-btn:focus {
		outline: none;
	}
	.cancel-btn {
		border-radius: 4px;
		box-shadow: none;
		@include lightTheme {
			background-color: $cancel-btn-background-color;
			color: $cancel-btn-color;
		}
		border: none;
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		text-transform: capitalize;
		padding: 5px;
		width: 65px;
		height: 30px;
		margin-right: 8px;
		&:hover {
			box-shadow: none;
			@include lightTheme {
				background-color: $cancel-btn-background-color;
			}
		}
	}
	.cancel-btn:focus {
		outline: none;
	}
}
