.searchuser{
  input[type="checkbox"]:checked:disabled + label:after {
    content: '✔';
    font-size: 16px;
    color: var(--search-checkbox-disabledcolor);
    padding: 2px;
    margin-top: -9px;
}
    .modal {
        display: none; 
        position: absolute;
        z-index: 1;
        padding-top: 100px; 
        left: 350px;
        top: 250px;
        width: 70%; 
        height: 60%; 
        overflow: auto; 
      }
    
      .modal .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: var(--createlist-table-white-color) !important;
        text-shadow: 0 1px 0 var(--createlist-table-white-color);
        opacity: 2.5 !important;
        cursor: pointer;
    }
      
      .modal-content {
        position: relative;
        background-color: var(--modal-content-background-color);
        margin: auto;
        padding: 0;
        border: 1px solid var(--modal-content-border);
        width: 60% !important;
      }
      .modal  .successheader {
        background-color: var(--modal-successheader);
        color: var(--modal-successheader-color);
        border: 1px solid var(--modal-successheader);
        border-bottom: none;
    }
    .modal  .dialog-title {
        float: left;
        color: var(--createlist-table-white-color) ;
    }
    .modal  .dialog-close {
        float: right;
        cursor: pointer;
        margin: 3px 3px 0 0;
        height: 11px;
        width: 11px;
        color: var(--createlist-table-white-color) !important;
        font-size: 28px;
        font-weight: bold;
    }
    .modal .dialog-header {
        display: block;
        padding: 3px 6px 7px;
        height: 30px;
        font-size: 14px;
        font-weight: bold;
      }
      .modal  .MuiTableCell-root a {
        color: var(--template-button-color )!important;
       }
    
    .form-inline label {
      display: flex;
      justify-content: left !important;
      margin-bottom: 0;
    }
    
    @media (min-width: 576px){
      .admin-check .col-sm-3 {
        flex: 0 0 25%;
        max-width: 23%;
    }
    }
    
     .display-lock {
      display: none;
    }
    
    /* @media (min-width: 576px){
       .form-inline .form-control  {
        display: inline-block;
        width: 72px !important;
        vertical-align: middle;
    }
    } */
    
    .MuiTableCell-body .orgName{
      color: var(--template-button-color )!important;
    }
    .role .custom-select[multiple] {
      height : 200px !important;
    }
    .dialog-mask {
        position: absolute;
        top: 0;
        left: 0;
        height: 150%;
        background: #FFF;
        opacity: .75;
        filter: alpha(opacity=75);
        z-index: 100;
        visibility: visible; 
        width: 100% ;  
        
      }
       select {
      width : 100% !important ;
      min-width: 70px !important ;
      }
}