input[type="checkbox"]:checked + label:after {
    content: '✔';
    font-size: 16px;
    color: rgb(87, 193, 180);
    padding: 2px;
    margin-top: -9px;
} 
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
  background-image: unset !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color:unset !important;
  border-color:lightgray !important;
  background-color: unset !important;
}
.custom-checkbox{
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    padding-right: 10px;
}