@import '../../themes';
.view-platform {
	.right-side-drawer {
		text-transform: capitalize;
		margin: 0 40px 90px 40px;
		.platform-name {
			padding: 20px 0;
			font-family: Roboto-Medium;
			font-size: 20px;
			font-weight: 500;
		}
		.card-sub-heading {
			font-family: Roboto-Medium;
			font-size: 16px;
			padding: 16px 0;
			display: block;
		}
		.label {
			padding: 10px 0;
			height: 20px;
			width: 55px;
			color: $dark-bg-color-page;
			font-size: 14px;
			letter-spacing: 0;
			line-height: 20px;
			padding-bottom: 10px;
		}
		.content {
			opacity: 0.6;
			color: $view-sub-value-text-color;
			padding-bottom: 10px;
			font-size: 14px;
		}
		.platform-metadata {
			display: inline-flex;
			flex-direction: row;
			position: relative;
			.metadata-key {
				background-color: $meta-data-key-color;
				display: inline;
				font-size: 12px;
				padding: 10px;
				color: $view-sub-value-text-color;
				opacity: 0.8;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}

			.metadata-value {
				margin-right: 30px;
				font-family: Roboto-Medium;
				font-weight: 600;
				background-color: $meta-data-value-color;
				display: inline;
				font-size: 12px;
				color: #121212;
				padding: 10px;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				opacity: 0.8;
				&::before {
					position: absolute;
					content: '';
					border-width: 0 0 1px 1px;
					transform: translateX(-50%) translateY(-50%) rotate(45deg);
					bottom: auto;
					right: auto;
					top: 50%;
					left: 0;
					width: 0.6666em;
					height: 0.6666em;
					transition: none;
					background-color: inherit;
					background-image: inherit;
					border-style: solid;
					border-color: $meta-data-value-color;
				}
			}
		}
		.edit {
			border-bottom: 1px solid $right-slider-border-color;
			padding-bottom: 16px;
			width: 100%;
			cursor: pointer;
			.edit-label {
				position: relative;
				bottom: 6px;
			}
		}
	}
	.slider-footer {
		@include lightTheme {
			border-top: 1px solid $right-slider-border-color;
			background: $rightslider-footer-background-color;
		}
		position: fixed;
		padding: 10px;
		bottom: 0px;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		box-sizing: border-box;
	}
	.cancel-btn {
		height: 28px;
		width: 80px;
		border-radius: 4px;
		box-shadow: none;
		@include lightTheme {
			background-color: $cancel-btn-background-color;
			color: $cancel-btn-color;
		}
		border: none;
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		margin-left: 20px;
		text-transform: capitalize;
		padding: 5px;
		&:hover {
			box-shadow: none;
		}
	}
	.cancel-btn:focus {
		outline: none;
	}
}
