@import '../../themes';

.active-content {
	.active-records {
		border-top: 1px solid $background-color-email;
		width: 100%;
		padding: 5px 0px 0px 10px;
		font-size: 13px;
		font-family: Roboto-Regular;
	}
	.active-name {
		padding-left: 5px;
	}
	.MuiAvatar-root {
		width: 32px;
		height: 32px;
		font-size: 12px;
	}
	.table-head {
		border-top: none;
	}
	.table-row {
		th:first-child {
			width: 54px;
		}
	}
	.role.MuiInputBase-root {
		font-size: 12px;
		font-family: Roboto-Regular;
		font-weight: none;
	}

	.parent-icon {
		display: flex;
		.MuiAvatar-colorDefault {
			color: $grid-text-color;
			opacity: 0.8;
			background-color: $avatar-color;
		}
		.icon-name {
			display: flex;
			align-items: center;
			padding-left: 10px;
		}
	}
	.delete-icon {
		@include lightTheme {
			color: $dark-bg-color-page;
		}
		opacity: 0.6;
		height: 17px;
		width: 16px;
	}
}
.MuiDialogContent-root {
	.MuiDialogContentText-root {
		margin-bottom: 10px;
	}
}
