@import '../../themes.scss';
.drawer {
	.MuiPaper-elevation16 {
		box-shadow: none;
	}
	.MuiDrawer-paper {
		min-width: 56%;
	}
	.close-icon {
		position: absolute;
		top: 33px;
		right: 55px;
		cursor: pointer;
		@include darkTheme {
			color: $close-icon-color;
		}
	}
}
