.DbCanvasContainer {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	opacity: 1;
	.DbCanvasSVGContainer {
		width: 100%;
		height: 100%;
		align-content: stretch;
		flex: 1;
	}

	.DbCanvasItemRect {
		stroke: lightblue;
		stroke-width: 5;
		fill: ghostwhite;
	}

	.DbCanvasLine {
		stroke: lightblue;
		stroke-width: 2;
		stroke-linejoin: round;
		&:hover {
			stroke: darkblue;
			stroke-width: 3;
			stroke-linejoin: round;
		}
	}
}
