@import '../../../themes';

.terms-and-conditions-page-dialog {
	.MuiDialog-paper {
		box-sizing: border-box;
		width: 464px;
		background-color: $light-bg-color-page;
		box-shadow: 0 1px 3.6px 0 $light-shadow-color-page;
		position: absolute;
		right: 42px;
		height: calc(100% - 70px);

		.MuiDialogTitle-root {
			padding: 24px 37px;
			border-bottom: 1px solid $download-code-border;
			.close-icon {
				top: 24px;
				right: 30px;
				box-sizing: border-box;
				opacity: 0.6;
			}
			.dialog-heading {
				font-size: 20px;
				color: $grid-text-color;
				font-family: Roboto-Regular;
				opacity: 0.87;
				font-weight: normal;
			}
		}
		.MuiDialogContent-root {
			@extend %custom-scroll-bar-y;

			.terms-and-conditions-section {
				display: block;
				padding: 10px 20px;
				color: $signUp-email-color;
				font-family: Roboto-Regular;
				font-size: 14px;
				line-height: 20px;
				text-transform: initial;
				white-space: pre-wrap;
			}
		}
		.MuiDialogActions-root {
			padding: 0px;
		}
	}
}
