@import '../../themes';

.db-container {
	height: 100%;
	.right {
		width: calc(100% - 231px);
		overflow-y: hidden;
		position: relative;
		height: 100%;
		display: inline-block;
		vertical-align: top;
		@include lightTheme {
			background-color: $light-bg-color-page;
		}
	}
	.left {
		vertical-align: top;
		display: inline-block;
		height: 100%;
		width: 230px;
		overflow-y: auto;
		@extend %custom-scroll-bar-y;
	}
}
.database-page {
	@include lightTheme {
		background-color: $light-bg-color-page;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
	.data-base-icon {
		width: 64px;
		height: 64px;
		text-align: center;
	}
	.data-base-text {
		font-size: 16px;
		font-family: Roboto-Regular;
		color: $dark-bg-color-page;
		opacity: 0.6;
		height: 21px;
		margin-bottom: 18px;
		margin-top: 25px;
	}
	.primary-btn {
		width: 146px;
		height: 32px;
	}
}

.pageLoader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.4);
	display: inline-block;
	z-index: 999;
	text-align: center;
	.loader {
		top: calc(50% - 20px);
		position: relative;
	}
}
