@import '../../themes.scss';

.editProfile {
	.close-icon {
		position: absolute;
		top: 15px;
		right: 20px;
		cursor: pointer;
		@include darkTheme {
			color: $dark-bg-color-page;
		}
	}

	.MuiPaper-rounded {
		border-radius: 4px !important;
		height: 540px;
		width: 416px;
	}

	.MuiDialogTitle-root {
		padding-top: 28px;
		padding-bottom: 0;
		height: 185px;
	}

	.MuiTypography-body2 {
		height: 21px;
		color: #323130;
		font-size: 16px;
		letter-spacing: 0;
		line-height: 21px;
		text-align: center;
	}

	.MuiDialogContent-root {
		padding-top: 0;
		padding-left: 32px;
		padding-right: 32px;
	}

	.profile {
		width: 64px;
		height: 64px;
		margin: auto;
		cursor: pointer;
	}

	.file-error {
		font-size: 12px;
		text-align: center;
		margin: 0;
		color: $error-font-color;
	}

	.file-input {
		display: none;
	}

	.form-divider {
		.MuiDivider-root {
			height: 2px;
			@include lightTheme {
				background-color: $light-form-divider-color;
			}
		}
	}

	.edit-btn {
		color: #e34d28;
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
		text-transform: capitalize;
		font-family: Roboto-Medium;
		height: 50px;
		padding-left: 10px;
		width: 100%;
		&:focus {
			outline: none;
		}
	}

	.view-header {
		height: 20px;
		width: 41px;
		color: rgba(18, 18, 18, 0.87);
		font-family: Roboto-Medium;
		font-size: 14px;
		letter-spacing: 0;
		line-height: 20px;
		padding: 15px 0;
	}

	.view-content {
		opacity: 0.6;
		color: $view-sub-value-text-color;
		padding-bottom: 10px;
		font-size: 14px;
	}

	.dynamic-form-input {
		padding-bottom: 16px;
		.isy-form-builder-input {
			padding-bottom: 16px;
			.isy-form-builder-input-header {
				font-size: 14px;
				margin-bottom: 0.5rem;
				display: block;
			}
		}
		.isy_input {
			font-size: 14px;
			display: block;
			width: 100%;
			padding: 6px 12px 6px 12px;
			border: 1px solid $form-control-border-color;
			line-height: 1.5;
			box-sizing: border-box;
			border-radius: 4px;
		}
	}

	.MuiDialogContent-dividers {
		padding: 12px 24px;
		padding-bottom: 0px;
	}

	.MuiDialogActions-root {
		padding: 10px;
		height: 45px;
	}

	.actions-btn {
		.primary-btn {
			width: 65px;
			height: 30px;
		}
		.standard-btn {
			width: 65px;
			height: 30px;
		}
	}
}
