@mixin darkTheme() {
	.dark-theme & {
		@content;
	}
}

@mixin lightTheme() {
	.light-theme & {
		@content;
	}
}

//dark theme colors
$dark-bg-color-page: #000000;

//--------------------LIGHT THEME COLORS----------------------
//light theme colors
$light-bg-color-page: #ffffff;
$light-container-color-page: #e6e6fa;
$light-shadow-color-page: rgba(0, 0, 0, 0.13);

$body-bg-color: #f1f2f3;
$grid-text-color: #121212;
$search-bar-bg: rgba(27, 27, 27, 0.08);
$search-icon-color: #e34d28;
$search-font-color: #373737;
$search-list-bg: #ffffff;
$search-list-boxshadow: rgba(0, 0, 0, 0.15);
//Gray color
$light-tab-border-color: #e8e8e8;
$background-color-email: rgba(224, 224, 224, 1);
$signUp-email-color: rgba(18, 18, 18, 0.87);

//Orange color
$light-secondary-color: #e34d28;
//on hover of primary button (save..orange-color button)
$hover-secondary-color: #ca2f09;
$hover-cancel-btn-color: #d0d0d0;
$light-bg-color-side-nav: #181818;
$light-head-text-color-side-nav: #e34d28;
$light-active-bg-color-side-nav: #282828;
$save-btn-border-color: #e34d28;
$save-btn-background-color: #e34d28;
$save-btn-color: #ffffff;
$form-label-required-color: #a80030;
$form-control-border-color: #ced4da;
$form-control-font-color: #383838;
$cancel-btn-active-color: #ffffff;
$cancel-btn-color: #212121;
$cancel-btn-background-color: #eaeaea;
$right-slider-border-color: #d8d8d8;
$close-icon-color: rgba(18, 18, 18, 0.6);
$metadata-btn-border-color: #e34d28;
$metadata-btn-text-color: #e34d28;
$metadata-btn-background-color: #ffffff;
$metadata-table-bottom-color: #d8d8d8;
$rightslider-footer-background-color: #ffffff;
$error-font-color: #c54343;
$error-border-color: #c54343;
$light-text-color-bread-crumb: rgba(0, 0, 0, 0.87);
$border-underline-color: #d6d6d6;
$check-text-color: #333333;
$footer-border-color: #e6e6e6;
$view-sub-value-text-color: #383838;
$meta-data-value-color: #ffdac8;
$meta-data-key-color: #f8f8f8;
$light-success-msg-color: #252423;
$light-success-msg-background-color: #d9efd8;
$light-success-msg-border-color: #a0d39f;
$light-error-msg-background-color: #fde7e9;
$light-error-msg-border-color: #dda5a5;
$light-form-divider-color: rgba(0, 0, 0, 0.1);
$light-error-msg-shadow-color: rgba(199, 199, 199, 0.5);
$error-text-color: #d92626;
$platform-bg-color: rgba(233, 233, 233, 0.2);
$version-background-color: #f5f5f5;
$multi-select-background: #cecece;
$module-data-color: #d2d2d2;
$active-signUp-label-color: #383838;
$terms-and-conditions: #e34d28;
$avatar-color: #f3f2f1;
$grid-focus-background-color: #edebe9;
$title-text-color: #323130;
$db-table-td-border: #f1c2a3;
$db-table-th-bg: #ffecde;
$db-table-td-odd: #fffaf5;
$db-add-column-btn: #ffcead;
$db-add-column-icon: #e45734;
$database-accordion-background-color: #faf9f8;
$database-accordion-menu-color: #ececec;
$database-checkbox-color: #b3b3b3;
$database-image-color: #6c6b6b;
$database-list-selected: #f2f1f0;
$database-accordion-menu-selected-color: #dedede;
$foreign-key-content-text-color: #323130;
$schema-icon-color: rgba(0, 0, 0, 0.6);
$none-key-color: #000000;
$primary-key-color: #4fa633;
$foreign-key-color: #e89300;
$unique-key-color: #8b55cd;
