* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 2500px;
  background-color: #ccc; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  float: left;
  margin-left:270px;
  margin-top:-70px;
  width: 30%;
  background: #f1f1f1;
}

form.example button {
  float:left;
  width: 70px;
  padding: 7px;
  background: rgb(14, 114, 5);
  color: white;
  font-size: 17px;
  margin-left:720px;
  margin-top: -70px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  float:right;
  margin-right:280px;
  margin-top:-70px;
  cursor: pointer;
  font-family: Calibri;
}
.button1 {
  font-family: Calibri;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  float: right;
  margin-right:100px;
  margin-top:-70px;
  cursor: pointer;
}
.navbar {
  overflow: hidden;
  background-color:green;
  width:100%;
  position: sticky;
  top:0px;
  
}
p img{
  float :right;
  margin-right:50px;
  margin-top:-80px
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-family: Calibri;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-left:30px;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 10px 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-family: Calibri;

}
.dropdown .dropbtn1 {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 10px 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  margin-left: 200px;
  font-family: Calibri;
}

.left {
  position:absolute;
  left:0; top:160px; bottom: 0;
  width: 250px;
}
.main {
  position: absolute;
  left:300px; top:130px; right:0; bottom:0;
}

.top { background: blue; }
.left { background:#ccc;margin-left:20px; }
.main { background:#ccc; }
#parent{ background:#ccc;padding:2px;}
#parent1{ background:#ccc;padding:2px;margin-left:-200px;}
.child {background:white;height:70px;margin:23px; border-left: 5px solid green;text-align: center;line-height:60px;}
.child1 {background:white;height:230px;margin:29px; border-left: 5px solid gray;text-align: left;}
.child:hover{
  background-color:green;
}
.navbar a:hover, .dropdown:hover .dropbtn .dropbtn1 {
  background-color: green;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.article{
  padding:15px;
}
.article1{
  margin-top:-15px;
  margin-left: 10px;
  padding:5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  color: #4CAF50;
  font-size:15px;
}
.article2{
  margin-top:20px;
  margin-left: 10px;
  padding:0px;
  font-family: Arial, Helvetica, sans-serif;
}
.button3 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;

}


.button5 {border-radius: 20%;}
.element{
  background-color: white;
  border-left:2px solid green;
  height:60px;
  margin-top:10px;
}
.element :hover{
  background-color:green;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: black;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
ol{
list-style-type:none;
}

ol li a{
text-decoration:none;
font-size:15px;
color:white;
padding:0px;
 
}
.navbar a img {
  margin-top:-5px;
  margin-left:15px;
}