@import './themes.scss';

.main-container {
	.page {
		padding-right: 0;
		padding-left: 0;
		@include darkTheme {
			background-color: $dark-bg-color-page;
		}
	}
	@include lightTheme {
		background: $body-bg-color;
	}
	@media (min-width: 1280px) {
		.MuiContainer-maxWidthLg {
			max-width: none;
		}
	}
}
.notification-container {
	display: flex;
}
.login-alert {
	width: 36%;
	transition: transform 0.32s ease;
	transform: translateY(-150%);
	position: fixed;
	top: 10%;
	left: 42%;
	z-index: 20;
	&.visible {
		transform: translateY(0%);
	}
}
.route-without-breadcrum {
	width: 75%;
	transition: transform 0.32s ease;
	transform: translateY(-150%);
	position: fixed;
	top: 15%;
	left: 35%;
	z-index: 20;
	&.visible {
		transform: translateY(0%);
	}
}
