body{
    background-color:#ccc;
   }
   .nav {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color:white;
   
     }
     
     .nav li {
       float: left;   
     }
     
     
     .nav li a {
       display: block;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       
     }
     .container{
         margin-top: 10px;
     }
     .grid-container1 {
       display: grid;
       grid-template-columns: auto auto auto auto;
       padding: 10px; 
     }
     .grid-item1{
       background-color: #ccc;
     }
     .child7{
         border: 1px solid white;
         margin:10px;
         border-radius: 15px 50px;
         padding: 20px; 
         width: 250px;
         height: 150px; 
         margin-left: 150px;
         background-color:white;
     }
     .btn-social {
       width: 120px;
       position: relative;
       transition: 0.3s ease;
       cursor: pointer;
   }
   
   .btn-social:hover {
       opacity: 1;
   
       /** default is 1, scale it to 1.5 */
       transform: scale(1.2, 1.2);
   
       /** translate 50px from left, and 40px from top */
       /** transform: translate(50px, 40px); */
   
       /** combine both scale and translate */
       /** transform: scale(1.5, 1.5) translate(50px, 40px); */
   }
   
       
     .down{
         border-bottom-left-radius: 10px;
         background: #f1f1f1;
         text-align:center;
         width:220px;
         height:50px;
         padding:3px;
         top:50%;
         left:50% ;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         font-weight:bold;
         font-size:20px;
     }
     .child8{
       border: 1px solid white;
       margin:10px;
       border-radius: 15px 50px;
       padding: 20px; 
       width: 250px;
       height: 150px; 
       margin-left: 20px;
       background-color:white;
   }
 