@import '../../themes.scss';
.add-repository-btn {
	position: relative;
	.add-repository-class {
		position: absolute;
		bottom: 25px;
		right: 25px;
		position: absolute;
		font-family: Roboto-Medium;
		@include lightTheme {
			background-color: $light-secondary-color;
			color: $light-bg-color-page;
		}
		&:hover {
			@include lightTheme {
				background-color: $hover-secondary-color;
			}
		}
		min-width: 50px;
		border: none;
		border-radius: 4px;
		height: 32px;
		font-weight: 300;
		font-size: 12px;
		font-family: Roboto-Medium;
		opacity: 1;
		size: 14px;
		line-height: 20px;
	}
	.MuiButton-label {
		text-transform: none;
	}
}
