:root {
    --template-button-color :#53bbd4 ;
    --csv-title:#00638A;
    --bulkUploadTemplateButton :#f7f7f7;
    --bulkdivider-border-color:#e9e8e8;
    --buTemplate-border-color:#efefef;
    --buTemplate-background-color:#f7f7f7;
    --email-table-background-color:#f2f2f2;
    --nav-pills-background-color: #8080804a;
    --radio-disabled-background:#d8d8d8;
    --createlist-table-row-background:#f4f4f4;
    --createlist-table-row-color:#444;
    --createlist-table-row-border:#e6e6e6;
    --createlist-table-anchor-tag-color:#53bbd4;
    --createlist-table-white-color:#fff;
    --localized-config-checkbox-border:#dddd;
    --modal-content-border:#888;
    --modal-content-background-color:#fefefe;
    --modal-successheader:grey;
    --modal-successheader-color:white;
    --bulkrequest-hr:#D8D8D8;
    --bulkrequest-report-success : green;
    --bulkrequest-failed-color : red;
    --myactivity-input-color:#d8d8d8;
    --rule-background-color: #F4F4F4;
    --rule-border-color: #e6e6e6;
    --callout-bg: #f4f4f4;
    --configure-th-backgroundcolor : #f4f4f4;
    --configure-td-border: #e6e6e6 ;
    --configure-color:#444;
    --createadmin-hover: #f1fafc;
    --selectmenu-checked: #53bbd4 linear-gradient(0deg, #53bbd4 0%,#53bbd4 100%);
    --swappingsearch-bg: #F1F1F1;
    --selectoption-bg: #53bbd4;
    --error-bg: #A11C2E;
    --success-bg: #18AA4A;
    --config-bg:#ebebeb;
    --reportModal-bg:#666666;
    --reportTablerow:#f4f4f4;
    --modalContentColor:#fff;
    --mainHeader-bg:#80808012;
    --mainHeaderBorder:#d3d3d3;
    --ruleLoadText:rgb(24, 170, 74);
    --tableIcon:#53bbd4;
    --customHeader:#53bbd4;
    --internalGrid:black;
    --internalGridHeader:#ccc;
    --internalGrid-bg:#ffffff;
    --deleteRule-bg:#53cae7;
    --ruleExpression:white;
    --ruleExpressionBorder:rgb(187, 187, 187);
    --ruleButton-bg:rgb(235, 235, 235);
    --ruleButtonColor:rgb(0, 0, 0);
    --ruleApply:#000080;
    --ruleDeveloped:rgb(255, 255, 0);
    --ruleCreateLoaderText:#000080;
    --selectedRule:lightgrey;
    --analyze-white-color:#ffff;
    --analyze-table-header-dark:#d9d9d9;
    --riskEvaluationError:#a11c2e;
    --riskEvaluationBorder:#ebebeb;
    --inbound-table-select: #eaebd8;
    --inbound-select-dotted:#5970b2;
    --inbound-select-text-color:#22465e;
    --inbound-no-alerts:#58676d;
    --search-checkbox-disabledcolor :rgb(170, 170, 170);
   }
