@import '../../../../themes';
.table-properties-panel {
	.MuiPaper-elevation16 {
		box-shadow: none;
	}
	.MuiDrawer-paper {
		width: 320px;
		background-color: whitesmoke;
		top: 47px;
		min-width: 22%;
		height: 720px;
	}
	.table-heading {
		display: flex;
		padding-left: 15px;
		.MuiSvgIcon-root {
			display: inline-flex;
			vertical-align: middle;
		}
		.form-heading {
			font-size: 15px;
			font-weight: bold;
			line-height: 48px;
			padding-left: 10px;
			padding-right: 40px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.delete-icon {
			padding-top: 10px;
			padding-right: 10px;
			position: absolute;
			right: 0;
			cursor: pointer;
			fill: $cancel-btn-color;
		}
		.table-icon {
			fill: $close-icon-color;
			padding-top: 13px;
		}
	}
	.table-section {
		display: grid;
		background-color: white;
		padding-bottom: 15px;
		padding-left: 12px;

		.MuiTypography-body1 {
			padding-top: 10px;
			padding-bottom: 5px;
		}
		.isy_input {
			font-size: 14px;
			display: block;
			width: 96%;
			padding: 6px 12px 6px 12px;
			border: 1px solid $form-control-border-color;
			line-height: 1.5;
			box-sizing: border-box;
			border-radius: 4px;
		}
	}
	.table-second-section {
		.add-icon {
			cursor: pointer;
			position: relative;
			left: 180px;
			margin-left: auto;
			display: inline-flex;
			vertical-align: middle;
			fill: $save-btn-border-color;
		}
		.searchIcon {
			cursor: pointer;
			left: 60%;
			position: relative;
			display: inline-flex;
			vertical-align: middle;
			fill: $cancel-btn-color;
		}
		.search-bar .search-icon {
			padding-right: 4px;
			.MuiSvgIcon-root {
				transform: rotate(360deg);
				color: $search-icon-color;
				height: 20px;
			}
		}

		.search-bar .cancel-icon {
			padding-right: 4px;
			.MuiSvgIcon-root {
				color: $dark-bg-color-page;
				height: 20px;
			}
		}

		.search-bar {
			background-color: white;
			position: absolute;
			left: 28%;
			top: 19%;
			margin: 5px;
			border-radius: 4px;
			border: 1px solid $form-control-border-color;
		}
		.section {
			font-size: 15px;
			font-weight: bold;
			line-height: 35px;
			padding-left: 15px;
		}
	}

	.columnData {
		width: 100%;
		display: block;
		padding-left: 15px;
		padding-top: 3px;
		.moreContainer {
			width: calc(100% - 335px);
			display: inline-block;
			text-align: center;
			.more {
				cursor: pointer;
				vertical-align: middle;
				fill: $cancel-btn-color;
			}
		}
		.dataNameContainer {
			width: 135px;
			display: inline-block;
			padding-right: 5px;
			.isy_input {
				width: 100%;
				border: 1px solid $form-control-border-color;
				line-height: 2;
				box-sizing: border-box;
				border-radius: 4px;
			}
		}
		.dataTypeContainer {
			width: 135px;
			display: inline-block;
			.dataType {
				width: 100%;
				border-radius: 4px;
				height: 30px;
				border: 1px solid $form-control-border-color;
			}
		}
	}
}

.auto-complete-table {
	.MuiTableCell-root {
		padding: 5px 0;
		text-align: left;
		border: none;
	}

	.table-cell {
		width: 50%;
	}
}
.MuiTableRow-root {
	.require-switch {
		padding: 0;
	}
	.MuiSwitch-root {
		float: right;
		right: 8px;
	}
	.MuiSelect-select.MuiSelect-select {
		padding-right: 24px;
		width: 148px;
		border: 1px solid black;
	}
}
