@import '../../../../themes.scss';
.database-container {
	.database-table {
		border: 1px solid $db-table-td-border;
		width: 228px;
		&:hover {
			.header-icon {
				visibility: visible;
			}
		}
		.attribute-content {
			width: 100px;
			display: inline-block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.tooltip-icon {
			position: relative;
			float: right;
		}
		.table-styles {
			max-height: 249px;
			overflow-y: auto;
			overflow-x: hidden;
			@extend %custom-scroll-bar-y;
		}
		table {
			width: 230px;
			border-collapse: collapse;
			tr:nth-child(odd) {
				padding: 5px;
				@include lightTheme {
					background-color: $light-bg-color-page;
				}
			}
			tr:nth-child(even) {
				padding: 5px;
				@include lightTheme {
					background-color: $db-table-td-odd;
				}
			}
			td {
				padding: 5px;
				@include lightTheme {
					border-bottom: 1px solid
						rgba($color: $db-table-td-border, $alpha: 0.2);
				}
				border-collapse: collapse;
				width: 105px;
				height: 20px;
				opacity: 0.8;
				@include lightTheme {
					color: $dark-bg-color-page;
				}
				font-family: Roboto-Regular;
				font-size: 12px;
				.isy_input,
				select {
					width: 80px;
				}
				.icon {
					.MuiSvgIcon-root {
						fill: $dark-bg-color-page;
						height: 12px;
						width: 12px;
						cursor: pointer;
					}
				}
				.key-icon {
					.MuiSvgIcon-root {
						width: 16px;
						height: 16px;
						vertical-align: middle;
						float: right;
					}
					.none_key_svg {
						fill: $none-key-color;
					}
					.primary_key_svg {
						fill: $primary-key-color;
					}
					.foreign_key_svg {
						fill: $foreign-key-color;
					}
					.unique_key_svg {
						fill: $unique-key-color;
					}
					.no_key_svg {
						fill: transparent;
					}
				}
			}
			tr td:first-child {
				border-right: 1px solid $db-table-td-border;
			}
			tr:last-child td {
				border-bottom: 0;
			}
		}
	}
	.table-name {
		font-size: 14px;
		font-family: Roboto-Medium;
		height: 29px;
		border-bottom: 1px solid $db-table-td-border;
		border-radius: 3px 3px 0 0;
		background-color: $db-table-td-odd;
		@include lightTheme {
			color: $dark-bg-color-page;
		}
		.isy_input {
			width: 185px;
			line-height: 18px;
			margin-top: 4px;
			margin-left: 5px;
			height: 14px;
		}
		.title-name {
			display: inline-block;
			width: 185px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-right: 18px;
			vertical-align: middle;
			line-height: 30px;
			padding-left: 5px;
		}
		opacity: 0.8;
		.steps-showElement {
			.database-container-edit {
				visibility: visible;
			}
		}
		.header-icon {
			visibility: hidden;
		}
		.MuiSvgIcon-root {
			cursor: pointer;
			font-size: 14px;
			fill: $dark-bg-color-page;
			opacity: 0.8;
		}
		.header-icon-edit {
			padding-left: 10px;
			.MuiSvgIcon-root {
				width: 15px;
				height: 15px;
			}
		}
	}
	.add-column-btn {
		height: 31px;
		font-size: 12px;
		@include lightTheme {
			color: $light-secondary-color;
			background-color: $db-table-td-odd;
			border: 0;
			border-top: 1px solid $db-add-column-btn;
			border-radius: 0 0 1px 1px;
		}
		width: 228px;
		border-radius: 0 0 1px 1px;
		cursor: pointer;
		&:focus {
			outline: 0;
		}
		.add-icon {
			@include lightTheme {
				color: $db-add-column-icon;
			}
			height: 10px;
			width: 10px;
			padding-right: 5px;
		}
	}
	.database-table-selected {
		border: 1px solid $db-selected-border;
		.table-name {
			@include lightTheme {
				border-bottom: 1px solid $db-selected-border;
			}
		}
		table {
			tr td:first-child {
				border-right: 1px solid $db-selected-border;
			}
		}
		.add-column-btn {
			@include lightTheme {
				border: 0;
				border-top: 1px solid $db-selected-border;
			}
		}
	}
}
