.risk-details{
    .edl_error_feedback {
        background-color:var(--riskEvaluationError);
        margin-top: -30px;
        padding: 20px;
    }
    table{
        .MuiTableCell-root{
            padding: 16px !important;
        }
    }
    .tabToggle{
        border-bottom: 1px solid var(--riskEvaluationBorder);
        padding-bottom: 25px;
        .nav-pills{
            border-bottom: 1px solid var(--nav-pills-background-color);
            li{
                cursor: pointer;
            }
        }
    }
}