.buDivider {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--bulkdivider-border-color);
    border-top: 2px solid var(--bulkdivider-border-color);
}
.bulkUploadTemplateButton {
    background: transparent !important;
    border: none !important;
    color: var(--template-button-color) !important;
    text-decoration: underline !important;
    white-space: normal !important;
    font-size: 2px;
    font-weight:none;
    font-family: ca-sans,Arial;
}
.buDivider h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    color: var(--csv-title);
    font-family: ca-sans,Arial;
}
.buTemplate {
    width: 35%;
}
.buTemplate div {
    background-color: var(--buTemplate-background-color);
    padding: 15px 0px 15px 0px;
    border: 2px solid var(--buTemplate-border-color) ;
    margin-top: 20px;
}
.uploadcsv img {
    padding: 7px 0px; 
}
.buDwnIcon {
    margin-top: -16px;
}

/* .buTemplate input [type="button"] {
    background-color: #f7f7f7 !important;
} */

#bulkUploadTemplateButton {
    background-color: var(--bulkUploadTemplateButton) !important;
}