@import '../../themes';

.invite-user-form {
	display: flex;
	.row-fileds {
		display: flex;
	}
	.dynamic-form-input {
		margin-right: 9px;
		.email-class {
			width: 265px;
		}
	}
	.role {
		margin-top: -6px;
		margin-right: 19px;
		width: 150px;
		.input-base {
			border-radius: 4px;
			position: relative;
			// background-color: theme.palette.background.paper;
			border: 1px solid $form-control-border-color;
			font-size: 16;
			padding: 0 15px;
			bottom: 3px;
			width: 144px;
			// transition: theme.transitions.create(['border-color', 'box-shadow']);
			&:focus {
				border-radius: 4;
			}
			.MuiSelect-selectMenu {
				font-size: 13px;
			}

			.MuiSelect-select {
				&:focus {
					background-color: transparent;
				}
			}
		}

		.MuiFormControl-root {
			width: inherit;
		}
		.input-error {
			@include lightTheme {
				border: 1px solid $error-border-color;
			}
		}
		.MuiInput-underline:before,
		.MuiInput-underline:hover:not(.Mui-disabled):before,
		.MuiInput-underline:after {
			border-bottom: none;
		}
	}
	.invalid-message {
		font-size: 12px;
		@include lightTheme {
			color: $error-text-color;
		}
		height: 8px;
		position: absolute;
		top: 137px;
		display: flex;
	}
	.add-link-container {
		padding: 24px 0px;
		.add-link {
			box-sizing: border-box;
			border-radius: 4px;
			font-size: 14px;
			box-shadow: none;
			@include lightTheme {
				border: 1px solid $metadata-btn-border-color;
				color: $metadata-btn-text-color;
				background-color: $metadata-btn-background-color;
			}
			&:hover {
				box-shadow: none;
			}
			padding: 5px 15px;
			align-items: center;
			display: flex;
			justify-content: center;
			font-family: Roboto-Medium;
			text-transform: capitalize;
			&:focus {
				outline: none;
			}
			.MuiSvgIcon-root {
				font-size: 1.2rem;
				@include lightTheme {
					color: $metadata-btn-text-color;
				}
			}
		}
	}
}

.title-container {
	display: flex;
	.close-icon-container {
		position: absolute;
		right: 19px;
		top: 19px;
	}
}
.close-icon {
	float: right;
	cursor: pointer;
	@include darkTheme {
		color: $close-icon-color;
	}
}

.invited-user-list-container {
	.invited-user-list {
		padding: 15px;
		border-bottom: 1px solid $module-data-color;
		.email-list-class {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: left;
			min-width: 20px;
			opacity: 0.87;
			color: rgba(18, 18, 18, 0.83);
			font-family: Roboto-Regular;
			font-size: 12px;
			letter-spacing: 0;
		}
		.dropdown-class {
			position: absolute;
			right: 144px;
			opacity: 0.87;
			color: rgba(18, 18, 18, 0.83);
			font-family: Roboto-Regular;
			font-size: 12px;
			letter-spacing: 0;
			width: 70px;
		}
	}
	& > :first-child {
		border-top: 1px solid $module-data-color;
	}
	.close-icon-invite-user {
		float: right;
		cursor: pointer;
		@include darkTheme {
			color: $close-icon-color;
		}
	}
}

.dialog-actions {
	padding: 8px 23px 15px 17px;
	.send-invite-btn {
		font-family: Roboto-Medium;
		@include lightTheme {
			color: $light-bg-color-page;
			background: $light-secondary-color;
			&:hover {
				background: $hover-secondary-color;
			}
		}
		min-width: 72px;
		padding-bottom: 5px;
		padding-right: 5px;
		border: none;
		border-radius: 4px;
		font-weight: 400;
		font-size: 12px;
		text-transform: capitalize;
		&:focus {
			outline: none;
		}
	}
}
