@import '../../../themes.scss';
.table-head {
	border-top: 1px solid $cancel-btn-background-color;
}
.table-row {
	th:first-child {
		padding-left: 54px;
	}
	.headers {
		@include lightTheme {
			color: $grid-text-color;
		}
		height: 32px;
		font-size: 12px;
		line-height: 32px;
		font-family: Roboto-Regular;
		padding-bottom: 0;
	}
	.medium-text {
		font-family: Roboto-Medium;
		opacity: 0.87;
	}
	.name-header {
		width: 250px;
		font-family: Roboto-Medium;
		opacity: 0.87;
	}
}
