@import '../../../themes';

.table-page {
	@include lightTheme {
		background-color: $light-bg-color-page;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
	.table {
		width: 64px;
		height: 64px;
		margin-bottom: 24px;
		border-radius: 50%;
		background-color: $database-icon-bg-color;
	}
	.table > .MuiSvgIcon-root {
		margin-top: 22px;
		margin-left: 20px;
	}

	.primary-btn {
		width: 142px;
		height: 32px;
	}
	.table-text {
		font-size: 16px;
		font-family: Roboto-Regular;
		@include darkTheme {
			color: $dark-bg-color-page;
		}
		opacity: 0.6;
		width: 305px;
		height: 21px;
		margin-bottom: 16px;
	}
}

.table-view {
	width: 100%;
	height: 100%;
	.canvas-properties-container {
		width: 100%;
		height: calc(100% - 54px);
		.tables-main-view {
			width: 100%;
			height: 100%;
			display: inline-block;
		}
		.tables-main-view-props {
			height: 100%;
			display: inline-block;
			width: calc(100% - 233px);
		}
		.empty-properties {
			width: 232px;
			height: 100%;
			overflow-x: hidden;
			display: inline-block;
			background-color: rgba(250, 249, 248, 1);
			border-left: 1px solid rgba(222, 222, 222, 0.3);
			text-align: center;
			box-sizing: border-box;
			padding: 70px 40px 0px 40px;
			border-top: 1px solid white;
			.icon-holder {
				width: 64px;
				height: 64px;
				border-radius: 50%;
				background-color: #eeeeee;
				display: inline-block;
				margin-bottom: 9px;
				.icon {
					font-size: 30px;
					color: rgba(0, 0, 0, 0.2);
					top: 50%;
					position: relative;
					transform: translateY(-15px);
				}
			}
			.text {
				font-size: 16px;
				font-family: Roboto-Regular;
				opacity: 0.6;
				height: 21px;
				margin-bottom: 18px;
			}
		}
		.property-panel-toggle-icon {
			position: absolute;
			top: 8px;
			right: 0;
			background-color: #212121;
			border-top-left-radius: 50%;
			border-bottom-left-radius: 50%;
			height: 32px;
			width: 35px;
			box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.31);
			.icon {
				font-size: 29px;
				top: 2px;
				position: relative;
				right: -4px;
				color: $light-secondary-color;
			}
		}

		.DbCanvasParentContainer {
			width: 100%;
			height: 100%;
		}
	}
}
