@import '../../themes.scss';
.select-class {
	.form-label {
		@include lightTheme {
			color: $grid-text-color;
		}
		font-family: Roboto-Regular;
		font-size: 14px;
		letter-spacing: 0;
		position: relative;
		top: 5px;
	}

	.MuiInputBase-root {
		font-size: 12px;
	}
	.menu-item {
		.MuiPopover-paper {
			color: $light-bg-color-page;
			width: 10%;
			margin-left: -15px;
			background-color: $light-bg-color-side-nav !important;
			ul {
				li {
					opacity: 0.6;
					font-size: 12px;
					font-family: Roboto-Regular;
					padding-left: 20px;
				}
			}
			.MuiMenu-list .MuiListItem-button:hover {
				background-color: $light-active-bg-color-side-nav;
			}
		}
	}
}

.menu-item.MuiInput-underline:before,
.menu-item.MuiInput-underline:hover:not(.Mui-disabled):before,
.menu-item.MuiInput-underline:after {
	border-bottom: none;
}
