@import '../../../themes';
.pendingInvites {
	.isy-grid-container {
		.isy-grid-header {
			&:hover {
				background-color: $grid-hover-background-color;
			}
		}
		.isy-grid-loader-holder {
			display: none;
		}
		.column-1 {
			width: 48px;
			padding-top: 0px;
			top: 5px;
			position: relative;
			opacity: 1;
		}
		.column-2 {
			width: calc(50% - 48px);
			font-family: Roboto-Bold;
		}
		.column-3 {
			width: 30%;
			padding-top: 10px;
			.isy-dropdown {
				.isy-dropdown-option-label {
					font-size: 12px;
				}
			}
		}
		.column-4 {
			width: 20%;
		}
		.isy-grid-row {
			cursor: default;
			&:hover {
				.checkbox-class {
					visibility: visible;
				}
				.delete-icon {
					visibility: visible;
				}
			}
			&.selected {
				background-color: $grid-focus-background-color;
				.checkbox-class {
					visibility: visible;
				}
				&:hover {
					background-color: $grid-hover-background-color;
				}
			}
		}
		.isy-grid-header {
			&:hover {
				.checkbox-class {
					visibility: visible;
				}
			}
		}
		.isy-grid-row-cell {
			height: 48px;
			&.column-3 {
				.MuiFormControl-root {
					top: -6px;
					position: relative;
				}
			}
		}
		.checkbox-class {
			visibility: hidden;
			&.selected {
				visibility: visible;
			}
		}
		.delete-icon {
			cursor: pointer;
			opacity: 0.6;
			color: $dark-bg-color-page;
			height: 17px;
			width: 16px;
			visibility: hidden;
		}
	}
	.pending-records {
		border-top: 1px solid $background-color-email;
		width: 100%;
		align-items: center;
		padding: 5px 0px 0px 10px;
		font-size: 13px;
		font-family: Roboto-Regular;
		align-items: center;
	}
	.pending-name {
		padding-left: 5px;
	}
	.table-row {
		th:first-child {
			width: 54px;
		}
	}
	.role.MuiInputBase-root {
		font-size: 12px;
		font-family: Roboto-Regular;
		font-weight: none;
	}
}
.MuiDialogContent-root {
	.MuiDialogContentText-root {
		margin-bottom: 10px;
	}
}
