@import '../../../../../themes';

.platform-settings {
	.drawer-paper {
		min-width: 19%;
		width: 850px;
		height: 100%;
		border: 1px solid $database-accordion-menu-selected-color;
		box-sizing: border-box;
		background-color: $light-form-color !important;
		.header-section {
			height: 70px;
			border-bottom: 1px solid $right-slider-border-color;
			box-sizing: border-box;
			width: 100%;
			padding: 23px 40px;
			.edit_icon-section {
				cursor: pointer;
				top: 3px;
				position: relative;
				.edit_icon {
					img {
						height: 18px;
					}
				}
				.edit-label {
					font-size: 15px;
					position: relative;
					top: -4px;
				}
			}
			.header-close-icon {
				float: right;
				cursor: pointer;
				margin-right: 17px;
			}
			.header-title {
				font-size: 20px;
				font-weight: bold;
				letter-spacing: 0;
				width: calc(100% - 56px);
				display: inline-block;
				padding-bottom: 18px;
			}
		}
		.platform-settings-parent {
			height: 100%;
			.platform-settings-container {
				padding: 0 40px 10px;
				box-sizing: border-box;
				height: calc(100% - 140px);
				overflow-y: auto;
				@extend %custom-scroll-bar-y;
				.middle-section {
					.isy-form-builder-accordion-section:last-child {
						.isy-accordion-summary {
							padding-left: 0px;
							border-bottom: none;
						}
						.isy-accordion-summary.Mui-expanded {
							border-bottom: none;
						}
						.MuiCollapse-wrapperInner {
							padding-bottom: 15px;
							border-bottom: none;
						}
					}
					.platform-metadata-container {
						.isy-grid-container {
							.isy-grid-body {
								.isy-grid-row {
									border-bottom: none;
									.isy-grid-row-cell {
										padding-top: 0;
										.delete-icon {
											padding-top: 8px;
										}
									}
								}
							}
						}
					}
				}
			}
			.bottom-section {
				border-top: 1px solid $right-slider-border-color;
				height: 70px;
				box-sizing: border-box;
				padding: 19px 40px;
				.primary-btn {
					width: 80px;
					height: 32px;
					margin-right: 20px;
				}
				.standard-btn {
					height: 32px;
					width: 80px;
				}
			}
		}
	}
	&.view-mode {
		// .header-section {
		// 	height: 88px;
		// 	padding-top: 18px;
		// 	.header-title {
		// 		padding-bottom: 18px;
		// 	}
		// }
		// .platform-settings-parent {
		// 	.platform-settings-container {
		// 		height: calc(100% - 158px);
		// 	}
		// }
	}
}
