.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.col-form-label{
  color: rgb(68, 68, 68) !important;
  font-size: 13px !important;
  font-family: Arial !important;
}
.form-control
{
  padding: 7px 10px !important;
  font-size: 13px !important;
}
input[type=submit] {
  padding: 7px 10px;
  border-radius: 4px;
  border: currentColor;
  border-image: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: ca-sans-bold;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  min-width: 85px;
  background-color: rgb(87, 193, 180);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h2.title {
  color: rgb(34, 70, 94);
  font-family: ca-sans,Arial;
  font-size: 20px;
  font-weight: bold !important;
}
.main{
  padding: 30px 30px 10px;
  height: 100%;
}
.desc {
  border: currentColor;
  border-image: none;
  color: rgb(68, 68, 68);
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ecc-h1 {
  color: rgb(88, 103, 109);
  letter-spacing: 0px;
  font-family: ca-sans;
  margin-bottom:10px;
  display: block;
  font-size:15px;
}
.div-seperator{
  padding: 8px 0px;
}
sup {
  top: 0.1em;
}
.form-submit-button{
  padding:5px 0px;
}
.no-padding{
  padding: 0px !important;
}
input[type="checkbox"]:checked + label:after {
    content: '✔';
    font-size: 16px;
    color: rgb(87, 193, 180);
    padding: 2px;
    margin-top: -9px;
} 
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
  background-image: unset !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color:unset !important;
  border-color:lightgray !important;
  background-color: unset !important;
}
.custom-checkbox .custom-control-label::before{
  top: unset !important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before{
  color: #fff;
  border-color: #57c1b4;
  background-color: #57c1b4;
}
.orgSectionLabels {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}
.custom-secondary-btn {
  padding: 7px 10px;
  background-color: rgb(235, 235, 235);
  border-radius: 4px;
  border: currentColor;
  border-image: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: ca-sans-bold;
  font-size: 14px;
  text-decoration: none;
  margin-right: 10px;
  display: block;
  min-width: 80px;
  text-align: center;
}
.apply-bold{
  font-weight: 550;
}
hr {
  border-top-color: rgb(216, 216, 216);
  border-top-width: 1px;
  border-top-style: solid;
}
.vertical-center{
  padding-top:9rem !important;
}