body {
  font-family: Arial,Helvetica,Arial,sans-serif;
  font-size: 13px;
  padding: 0;
  color: #444;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
