.edl-footer{
    padding: 15px 0px 0px 0px;
    text-align: center;
    color: rgb(88, 102, 108);
    background-color: #fff;
}
.footer {
    height: 40px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #d8d8d8;
    background-color: #fff;
    margin: 0px;
}