@import '../../../themes';

.signUp-container {
	background-repeat: no-repeat;
	min-width: 100%;
	position: fixed;
	margin-left: -34px;
	margin-right: 34px;
	margin-top: -20px;
	.form {
		float: right;
		@include lightTheme {
			color: $dark-bg-color-page;
			background: $light-bg-color-page;
		}
		width: 576px;
		height: 750px;
		.sign-up-form {
			padding: 40px 128px;
			box-sizing: border-box;
			.isy-form-builder-container {
				width: 100%;
				@include lightTheme {
					color: $dark-bg-color-page;
				}
				.isy-form-builder-section-header {
					font-family: Roboto-Thin;
					font-size: 28px;
					font-weight: 100;
					letter-spacing: 0;
					text-align: center;
					margin-bottom: 25px;
					display: block;
				}
				.isy-animation-input {
					margin-bottom: 15px;
					width: 100%;
				}
				.error-label {
					@include lightTheme {
						color: $error-text-color;
					}
					font-size: 12px;
					font-family: Roboto-Regular;
					display: block;
					text-align: left;
					padding-top: 2px;
				}
			}
			.create-btn {
				margin-top: 30px;
				margin-bottom: 40px;
				font-family: Roboto-Medium;
				font-weight: 500;
				text-transform: capitalize;
				box-sizing: border-box;
				height: 40px;
				width: 320px;
				border: 1px solid $light-secondary-color;
				border-radius: 4px;
				background-color: $light-secondary-color;
				text-align: center;
				color: #ffffff;
				font-size: 14px;
				vertical-align: center;
				padding-top: 10px;
				cursor: pointer;
				@include lightTheme {
					background-color: $light-secondary-color;
					color: $light-bg-color-page;
				}
			}

			.agree-all-terms {
				.check-agree {
					position: relative;
					float: left;
					label {
						padding-left: 15px;
						cursor: pointer;
						@include lightTheme {
							color: $check-text-color;
						}
						font-family: Roboto-Regular;
						font-size: 15px;
						&:before {
							content: '';
							position: absolute;
							left: 0;
							top: 0;
							width: 20px;
							height: 20px;
							transition: transform 0.28s ease;
							border-radius: 3px;
							@include lightTheme {
								border: 1px solid $border-underline-color;
							}
						}
						&:after {
							content: '';
							display: block;
							width: 10px;
							height: 5px;
							@include lightTheme {
								border-bottom: 1px solid $light-secondary-color;
								border-left: 1px solid $light-secondary-color;
							}
							transform: rotate(-45deg) scale(0);
							transition: transform ease 0.25s;
							position: absolute;
							top: 7px;
							left: 5px;
						}
					}
					.checkbox {
						opacity: 0;
						&:checked ~ label {
							&:before {
								border: 1px solid $light-secondary-color;
							}
							&:after {
								transform: rotate(-45deg) scale(1);
							}
						}
						&:focus + label::before {
							outline: 0;
						}
					}
				}
				.terms-conditions {
					color: $terms-and-conditions;
					font-size: 15px;
					position: relative;
					cursor: pointer;
				}
			}
		}
	}
	.logo-text {
		img {
			width: 20%;
			padding-top: 55px;
			padding-left: 66px;
		}
	}
}
