@import '../../../../../themes';

.app-card.app-card {
	background-color: $light-bg-color-page;
	width: 100%;
	height: 180px;
	cursor: pointer;
	display: inline-block;
	box-shadow: 0px 2px 5px -1px $card-shadow-color,
		0px 1px 10px 0px $card-shadow-color, 0px 1px 3px 0px $card-shadow-color;
	.app-card-header-content {
		padding: 16px;
		.card-header {
			padding: 11px 8px;
		}
		.card-content {
			padding: 0 8px;
			font-size: 13px;
			opacity: 0.6;
			color: $grid-text-color;
			height: 20px;
			font-family: Roboto-Regular;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	.title {
		font-size: 16px;
		color: $app-title-color;
		padding-bottom: 11px;
		overflow: hidden;
		text-overflow: ellipsis;
		text-transform: capitalize;
		font-family: Roboto-Medium;
	}
	.sub-header {
		opacity: 0.5;
		font-size: 12px;
		font-family: Roboto-Regular;
		color: $grid-text-color;
	}
	.card-footer {
		border-radius: 0 0 2px 2px;
		padding: 6px 24px 6px 16px;
		background-color: $card-footer-color;
		height: 56px;
		box-sizing: border-box;
		.card-actions {
			padding: 18px 0;
			.more-vertical-icon {
				padding: 0px;
			}
		}
		.owner-holder {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			.owner-header {
				opacity: 0.6;
				color: #121212;
				font-size: 12px;
				letter-spacing: 0;
			}
			.owner-name {
				opacity: 0.8;
				color: #121212;
				font-size: 12px;
				letter-spacing: 0;
			}
		}
		.footer-avatar {
			margin-right: 0px;
			padding: 8px;
			.profile-avatar {
				height: 32px;
				width: 32px;
				font-size: 9px;
				background: $profile-default-bg-color;
				font-family: Roboto-Medium;
				color: $grid-text-color;
			}
		}
	}

	.type-chip {
		background-color: $app-type-chip-color;
		border-radius: 4px;
		display: inline;
		font-size: 12px;
		padding: 5px 8px;
		float: right;
		color: $form-control-font-color;
	}
}

.pop-over-menu-list {
	width: 180px;
	li {
		font-size: 12px;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}
